@import "../../../assets/scss/style.scss";

.credo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 33px $block-spacing-xl;
    position: relative;
    z-index: 300;

    > *{
        display: flex;
    }

    .links{
        list-style: none;

        li{
            margin-right:60px;
            &:last-child{
                margin-right: 0;
            }
        }

        a{
            color: lighten( $color-black, 44% );
            text-decoration: underline;
            
            &:hover{
                text-decoration: none;
            }
        }
    }

    > p{
        margin: 0 78px;
        color: lighten( $color-black, 64% );
    }

    .social-wrap{
        .btn{
            margin: 0 5px;
        }
    }

    @media (max-width: $xl){
        &{
            flex-wrap: wrap;
            padding: $block-spacing-lg;

            > *{
                width: 100%;
                justify-content: center;
            }
            > p{
                order: 0;
                margin-bottom: 13px;
            }
            .links{
                order: 1;
                margin-bottom: 15px;
                li{
                    margin: 10px;
                }
            }
            .social-wrap{
                order: 2;
                margin: 0;
            }
        }
    }
    @media (max-width: $lg){
        &{
            .links{
                li{
                    margin: 5px;
                }
            }
        }
    }
    @media (max-width: $md){
        &{
            padding-left: $block-spacing-md;
            padding-right: $block-spacing-md;
        }
    }
    @media (max-width: $sm){
        &{
            .links{
                display: block;
                text-align: center;
                li{
                    margin: 15px 0;
                }
            }
        }
    }
    @media (max-width: $xs){
        &{
            padding-left: $block-spacing-xs;
            padding-right: $block-spacing-xs;
        }
    }
}