<div class="tutorial-footer">
  <div class="tutorial-footer-row tutorials-container hidden">
      <div class="tutorial-list">
        <ul>
          <li class="open">
            <div class="item">
              <div>
                <span class="name">General</span>
              </div>
              <div>
                <span class="description">45 Videos</span>
                <i class="icon-circle i-dropdown-arrow"></i>
              </div>
            </div>

            <ul>
              <li>
                <div class="item">
                  <div>
                    <span class="name">General</span>
                  </div>
                  <div>
                    <span class="description">45 Videos</span>
                    <i class="icon-circle i-play"></i>
                  </div>
                </div>
              </li>
              <li>
                <div class="item selected">
                  <div>
                    <span class="name">Register on Online Wallet</span>
                  </div>
                  <div>
                    <span class="description">45 Videos</span>
                    <i class="icon-circle i-play"></i>
                  </div>
                </div>
              </li>
            </ul>

          </li>
          <li>
            <div class="item">
              <div>
                <span class="name">General</span>
              </div>
              <div>
                <span class="description">45 Videos</span>
                <i class="icon-circle i-dropdown-arrow"></i>
              </div>
            </div>
          </li>
          <li>
            <div class="item">
              <div>
                <span class="name">General</span>
              </div>
              <div>
                <span class="description">45 Videos</span>
                <i class="icon-circle i-dropdown-arrow"></i>
              </div>
            </div>
          </li>
          <li>
            <div class="item">
              <div>
                <span class="name">General</span>
              </div>
              <div>
                <span class="description">45 Videos</span>
                <i class="icon-circle i-dropdown-arrow"></i>
              </div>
            </div>
          </li>
          <li>
            <div class="item">
              <div>
                <span class="name">General</span>
              </div>
              <div>
                <span class="description">45 Videos</span>
                <i class="icon-circle i-dropdown-arrow"></i>
              </div>
            </div>
          </li>
          <li>
              <div class="item">
                <div>
                  <span class="name">General</span>
                </div>
                <div>
                  <span class="description">45 Videos</span>
                  <i class="icon-circle i-dropdown-arrow"></i>
                </div>
              </div>
            </li>
            <li>
                <div class="item">
                  <div>
                    <span class="name">General</span>
                  </div>
                  <div>
                    <span class="description">45 Videos</span>
                    <i class="icon-circle i-dropdown-arrow"></i>
                  </div>
                </div>
              </li>
        </ul>
      </div>
      <div class="tutorial-video">
        <div class="tutorial-video-container">
            <button class="btn btn-circle btn-sm close-btn"><i class="icon i-close--solid"></i></button>
            <video autoplay>
                <source src="//res.cloudinary.com/de68z4wau/video/upload/v1554968005/shkf.mp4" type="video/mp4">
            </video>
        </div>
        <div class="tutorial-video-name">
            Register on Online Wallet Register on Online Wallet
        </div>
      </div>
  </div>
  <div class="tutorial-footer-row wrap">
      <div class="left-col">
          <span>გინდა გაიგო მეტი?</span>
          <button class="btn btn-sm btn-outline-white no-hover toggle-btn"><span>უყურე</span> <i class="icon i-dropdown-arrow"></i></button>
          <!-- თუ გახსნილია tutorials-container , ამ ღილაკს დაამტეთ კლასი active -->
      </div>
      <div class="right-col">
        <h5 class="name">CREDO ვიდეო გიდი</h5>
        <span class="count">45 ვიდეო</span>
      </div>
  </div>
</div>
