<div class="credo-page">
    <main>
        <div class="card accounts-card">
            <div class="card-header">
                <h1 class="card-title">My products</h1>
            </div>
            <app-products-menu></app-products-menu>
            
            <div class="card-body">
                <app-account-list></app-account-list>
            </div>

            <div class="card-footer">
                <div class="btn-wrap">
                    <a class="btn download-attachement-btn" href="#">
                        <i class="icon i-attachement--blue"></i>
                        <span>რეკვიზიტის ჩამოტვირთვა</span>
                    </a>
                    <a class="btn share-btn" href="#">
                        <i class="icon i-share"></i>
                        <span>გაზიარება</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="nav-secondary">
                <ul>
                    <li>
                    <a href="#" class="active">Transactions</a>
                    </li>
                    <li>
                    <a href="#">Blocked</a>
                    </li>
                    <li>
                    <a href="#">Details</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">
                <ul class="table transactions-list">
                    <li class="t-row">
                        <div class="t-cell status-cell">
                        <i class="icon i-sm i-status-1"></i>
                        </div>
                        <div class="t-cell fluid-cell">
                        <div class="table">
                            <div class="t-row">
                            <div class="t-cell date-cell">
                                <span class="transaction-date">ნოვ. 01 / 2018</span>
                            </div>
                            <div class="t-cell description-cell">
                                <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                            </div>
                            <div class="t-cell category-cell">
                                <span class="transaction-category">Transfer to Someone</span>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="t-cell amount-cell">
                            <span class="transaction-amount">-25.00 GEL</span>
                        </div>
                        <div class="t-cell arrow-cell">
                            <i class="icon i-arrow"></i>
                        </div>
                        <div class="t-cell more-options-cell">
                            <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                        </div>
                    </li>
                    <li class="t-row">
                        <div class="t-cell status-cell">
                        <i class="icon i-sm i-status-1"></i>
                        </div>
                        <div class="t-cell fluid-cell">
                        <div class="table">
                            <div class="t-row">
                            <div class="t-cell date-cell">
                                <span class="transaction-date">ნოვ. 01 / 2018</span>
                            </div>
                            <div class="t-cell description-cell">
                                <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                            </div>
                            <div class="t-cell category-cell">
                                <span class="transaction-category">Transfer to Someone</span>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="t-cell amount-cell">
                            <span class="transaction-amount">-25.00 GEL</span>
                        </div>
                        <div class="t-cell arrow-cell">
                            <i class="icon i-arrow"></i>
                        </div>
                        <div class="t-cell more-options-cell">
                            <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                        </div>
                    </li>
                    <li class="t-row">
                        <div class="t-cell status-cell">
                        <i class="icon i-sm i-status-1"></i>
                        </div>
                        <div class="t-cell fluid-cell">
                        <div class="table">
                            <div class="t-row">
                            <div class="t-cell date-cell">
                                <span class="transaction-date">ნოვ. 01 / 2018</span>
                            </div>
                            <div class="t-cell description-cell">
                                <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                            </div>
                            <div class="t-cell category-cell">
                                <span class="transaction-category">Transfer to Someone</span>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="t-cell amount-cell">
                            <span class="transaction-amount">-25.00 GEL</span>
                        </div>
                        <div class="t-cell arrow-cell">
                            <i class="icon i-arrow"></i>
                        </div>
                        <div class="t-cell more-options-cell">
                            <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>
