@import "../../../assets/scss/style.scss";

.offer-items-list{
    .row{
        margin-bottom: -22px
    }
}

.offer-list-item{
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .offer-img{
        border-radius: 10px;
        padding-top: 42%;
    }

    .title{
        font-size: 16px;
        line-height: 1.2;
        padding: 18px 0;
        margin: 0;
    }

    .btn{
        max-width: 200px;
        margin:auto 0 46px;
    }
}