<div class="card-block offer-items-list">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4">
            <div class="offer-list-item">
              <span class="bg-img--cover offer-img" style="background-image: url('../../../assets/images/0/offers/01.jpg')"></span>
              <h3 class="title">Take loan for $200!</h3>
              <button class="btn btn-primary btn-link">Read More</button>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
            <div class="offer-list-item">
              <span class="bg-img--cover offer-img" style="background-image: url('../../../assets/images/0/offers/02.jpg')"></span>
              <h3 class="title">Take loan for $200!</h3>
              <button class="btn btn-primary btn-link">Read More</button>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
            <div class="offer-list-item">
              <span class="bg-img--cover offer-img" style="background-image: url('../../../assets/images/0/offers/03.jpg')"></span>
              <h3 class="title">Take loan for Take loan for Take loan for0 Take loan for $200!</h3>
              <button class="btn btn-primary btn-link">Read More</button>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
            <div class="offer-list-item">
              <span class="bg-img--cover offer-img" style="background-image: url('../../../assets/images/0/offers/04.jpg')"></span>
              <h3 class="title">Take loan for $200!</h3>
              <button class="btn btn-primary btn-link">Read More</button>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
            <div class="offer-list-item">
              <span class="bg-img--cover offer-img" style="background-image: url('../../../assets/images/0/offers/05.jpg')"></span>
              <h3 class="title">Take loan for $200!</h3>
              <button class="btn btn-primary btn-link">Read More</button>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
            <div class="offer-list-item">
              <span class="bg-img--cover offer-img" style="background-image: url('../../../assets/images/0/offers/06.jpg')"></span>
              <h3 class="title">Take loan for $200!</h3>
              <button class="btn btn-primary btn-link">Read More</button>
            </div>
        </div>
    </div>
</div>
