@import "../../../assets/scss/style.scss";

.banner-widget{
    display: flex;
    align-items: center;
    width: 100%;
    height: 172px;
    background-color: transparent;
    overflow: hidden;
    
    &::before{
        background-color: rgba($color-base, 0.5);
    }
    
    .card-block{
        padding-top: $block-spacing-lg;
        padding-bottom: $block-spacing-lg;
        width: 100%;
        position: relative;
        z-index: 2;
    }

    h5{
        color: $color-white;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 4px;
    }
    
    p{
        color: rgba($color-white, 0.8);
        font-size: 14px;
        margin-bottom: 24px;
    }

    .btn{
        display: block;
        width: 100%;
        padding-left: 22px;
		padding-right: 22px;
        &.btn-link{
			background-position: right 10px center;
		}
    }
}