@import "../../../assets/scss/style.scss";

.home-products-card{
    .card-header{
        height: 100px;
        border-bottom: 0;
        color: $color-white;
        overflow: hidden;
        &::before{
            background-color: rgba($color-base, 0.5);
        }

        > div{
            display: flex;
            align-items: center;
            margin: 0 -22px;
            position: relative;
            z-index: 2;

            > *{
                margin: 0 22px;
            }

            > a{
                color: $color-white;
                font-size: 14px;

                .icon{
                    margin-left: 5px;
                    opacity: 0.6;
                }

                &:hover .icon{
                    opacity: 1;
                }
                @media (max-width: $lg) {
                    &{
                        display: none;
                    }
                }
            }

            > div{
                > *{
                    display: block;
                    margin: 6px 0;
                }

                b{
                    font-size: 25px;
                    font-weight: normal;
                }
            }

        }

    }

    .home-products-list{
        padding: 0;
    }

    .home-product-item{
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-color-base;
        padding: 18px 30px;
        &a{
            text-decoration: none;
        }
        > div{
            display: flex;
            align-items: center;
            &:first-child{
                flex-grow: 1;
                max-width: 100%;
                overflow: hidden;
                > div{
                    flex-grow: 1;
                    overflow: hidden;
                    padding-right: 10px;
                }
            }
            &:last-child{
             white-space: nowrap;   
            }
        }

        figure{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 56px;
            margin-right: 10px;
            @media (max-width: $md) {
                &{
                    width: 40px;
                }
            }
        }

        $card-text-margin: 3px 0;
        
        .name{
            @include text-ellipsis;
            display: block;
            margin: $card-text-margin;
			color: lighten( $color-black, 64% );
            font-size: 10px;
		}
		.description{
            @include text-ellipsis;
            display: block;
            margin: $card-text-margin;

            color: $color-base;
            font-weight: 500;
		}
		.amount{
            color: lighten( $color-black, 55% );
            font-weight: 500;
            .description + .amount{
                margin: $card-text-margin;
                color: $color-primary;
            }
        }
        
        .i-lock{
            opacity: 0.4;
            margin-right:14px;
        }

        .i-arrow{
            opacity: 0.4;
            margin-left: 26px;
        }

        &:hover{
            .amount{
                color: $color-primary;
            }
            .i-arrow::before{
                background-image: url($i-arrow--blue);
            }
        }
        @media (max-width: $xl) {
            &{
                padding-left: $block-spacing-lg;
                padding-right: $block-spacing-lg;
            }
        }
        @media (max-width: $md) {
            &{
                padding-left: $block-spacing-md;
                padding-right: $block-spacing-md;
                .i-lock{
                    margin-right:5px;
                }
                .i-arrow{
                    margin-left: 5px;
                }
            }
        }
        @media (max-width: $xs) {
            &{
                padding-left: $block-spacing-xs;
                padding-right: $block-spacing-xs;
            }
        }
    }

    .card-footer{
        display: flex;
        padding: 0;
        button{
            height: 75px;
            flex-grow: 1;
            flex-basis: 0;
            @include reset-button;
            
            & + button{
                border-left: 1px solid $border-color-base;
            }

            &:hover .icon-circle{
                border-color: darken( lighten( $color-black, 85% ), 10% );
            }

            &.selected{
                .icon-circle{
                    background-color: $color-primary;
                    border-color: $color-primary;
                }
                
                .i-accounts::before{
                    background-image: url("/assets/images/icons/accounts_white.svg");
                }
                .i-savings::before{
                    background-image: url("/assets/images/icons/savings_white.svg");
                }
                .i-insurence::before{
                    background-image: url("/assets/images/icons/insurence_white.svg");
                }
                .i-cards::before{
                    background-image: url("/assets/images/icons/cards_white.svg");
                }
            }
        }
    }
}