<div class="card home-products-card">
  <div class="card-header bg-img--cover" style="background-image: url(/assets/images/0/prod_head.png)">
    <div>
        <a href="#">ანგარიშები <i class="icon i-sm i-external-link--white"></i></a>
        <div>
          <span>ხელმისაწვდომი თანხა</span>
          <b>25,323.00 ₾</b>
        </div>
        <div>
          <span>სასესხო ვალდებულება</span>
          <b>3,521.00 ₾</b>
        </div>
    </div>
  </div>
  <div class="card-body home-products-list">
      <a class="home-product-item" href="#">
        <div>
          <figure><img src="/assets/images/0/card1.png" alt="card 1"></figure>
          <div>
              <span class="name">VISA GOLD - პერსონალური ბარათი</span>
              <span class="description">GE3434TT23100123332865</span>
          </div>
        </div>
        <div>
            <i class="icon i-lock"></i>
            <span class="amount">555,223.00 GEL</span>
            <i class="icon i-arrow"></i>
        </div>
      </a>
      <div class="home-product-item">
        <div>
          <figure><img src="/assets/images/0/card2.png" alt="card 2"></figure>
          <div>
              <span class="name">VISA GOLD - პერსონალური ბარათი</span>
              <span class="description">GE3434TT23100123332865</span>
          </div>
        </div>
        <div>
            <span class="amount">223.00 GEL</span>
            <i class="icon i-arrow"></i>
        </div>
      </div>
      <div class="home-product-item">
        <div>
          <figure><img src="/assets/images/0/savings.png" alt="savings"></figure>
          <div>
              <span class="name">ანაბარი</span>
              <span class="description">ჩემი ანაბარი</span>
          </div>
        </div>
        <div>
            <span class="amount">555,223.00 GEL</span>
            <i class="icon i-arrow"></i>
        </div>
      </div>
  </div>
  <div class="card-footer">
      <button><i class="icon-circle i-accounts"></i></button>
      <button><i class="icon-circle i-savings"></i></button>
      <button class="selected"><i class="icon-circle i-insurence"></i></button>
      <button><i class="icon-circle i-cards"></i></button>
  </div>
</div>
