<div class="credo-page">
    <main>
        <div class="card templates-card templates-grid-card">
          <div class="card-header">
              <h1 class="card-title">Templates</h1>

              <div class="controls">
                  <div class="row-sm">
                    <div class="col-12 col-sm-6 col-xl-auto">
                        <input class="form-input input-sm search-input" placeholder="Search keyword" type="text">
                    </div>
                    <div class="col-12 col-sm-6 col-xl-auto">
                        <input class="form-input input-sm" placeholder="Categories" type="text">
                    </div>
                    <div class="col-12 col-sm-6 col-xl-auto">
                        <label class="radio">
                          <input type="checkbox">
                          <span>Favorites</span>
                        </label>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-auto">
                        <button class="btn btn-sm btn-primary btn-add">Add new</button>
                    </div>
                  </div>
              </div>

              <div class="back-btn-wrap">
                <a href="#" class="back-btn">
                  <span class="icon i-dropdown-arrow"></span> Go back to templates
                </a>
              </div>
          </div>
          
          <div class="card-body">
              <div class="card-block-header">
                  <h4 class="card-block-title-sm">ACCOUNT NUMBERS</h4>
              </div>
              <div class="items-grid">
                  <div class="grid-item">
                      <div class="action-buttons">
                          <button class="btn-icon"><i class="icon i-trash"></i></button>
                          <button class="btn-icon"><i class="icon i-pencil2"></i></button>
                          <button class="btn-icon btn-heart selected"><i class="icon i-heart"></i></button>
                      </div>
                      <div class="wrap">
                        <div class="avatar" style="background-image: url('assets/images/0/avatar.jpg')"></div>
                        <div>
                          <span class="name">Nini</span>
                          <span class="description">GE75TB7312645061100002</span>
                          <button class="btn btn-sm btn-primary">transfer</button>
                        </div>
                      </div>
                  </div>
                  <div class="grid-item">
                      <div class="action-buttons">
                          <button class="btn-icon"><i class="icon i-trash"></i></button>
                          <button class="btn-icon"><i class="icon i-pencil2"></i></button>
                          <button class="btn-icon btn-heart"><i class="icon i-heart"></i></button>
                      </div>
                      <div class="wrap">
                        <div class="avatar" style="background-image: url('assets/images/icons/no_avatar.svg')"></div>
                        <div>
                          <span class="name">Nini</span>
                          <span class="description">GE75TB7312645061100002</span>
                          <button class="btn btn-sm btn-primary">transfer</button>
                        </div>
                      </div>
                  </div>
                  <div class="grid-item">
                      <div class="action-buttons">
                          <button class="btn-icon"><i class="icon i-trash"></i></button>
                          <button class="btn-icon"><i class="icon i-pencil2"></i></button>
                          <button class="btn-icon btn-heart"><i class="icon i-heart"></i></button>
                      </div>
                      <div class="wrap">
                        <div class="avatar" style="background-image: url('assets/images/icons/no_avatar.svg')"></div>
                        <div>
                          <span class="name">Nini</span>
                          <span class="description">GE75TB7312645061100002</span>
                          <button class="btn btn-sm btn-primary">transfer</button>
                        </div>
                      </div>
                  </div>

                  <div class="grid-item">
                      <div class="action-buttons">
                          <button class="btn-icon"><i class="icon i-trash"></i></button>
                          <button class="btn-icon"><i class="icon i-pencil2"></i></button>
                          <button class="btn-icon btn-heart"><i class="icon i-heart"></i></button>
                      </div>
                      <div class="wrap">
                        <div class="avatar" style="background-image: url('assets/images/icons/no_avatar.svg')"></div>
                        <div>
                          <span class="name">Nini</span>
                          <span class="description">GE75TB7312645061100002</span>
                          <button class="btn btn-sm btn-primary">transfer</button>
                        </div>
                      </div>
                  </div>
              </div>

              <div class="card-block-header">
                  <h4 class="card-block-title">PHONE NUMBERS</h4>
              </div>
              <div class="items-grid">
                  <div class="grid-item">
                      <div class="action-buttons">
                          <button class="btn-icon"><i class="icon i-trash"></i></button>
                          <button class="btn-icon"><i class="icon i-pencil2"></i></button>
                          <button class="btn-icon btn-heart selected"><i class="icon i-heart"></i></button>
                      </div>
                      <div class="wrap">
                        <div class="avatar" style="background-image: url('assets/images/0/avatar.jpg')"></div>
                        <div>
                          <span class="name">Nini</span>
                          <span class="description">GE75TB7312645061100002</span>
                          <button class="btn btn-sm btn-primary">transfer</button>
                        </div>
                      </div>
                  </div>
                  <div class="grid-item">
                      <div class="action-buttons">
                          <button class="btn-icon"><i class="icon i-trash"></i></button>
                          <button class="btn-icon"><i class="icon i-pencil2"></i></button>
                          <button class="btn-icon btn-heart"><i class="icon i-heart"></i></button>
                      </div>
                      <div class="wrap">
                        <div class="avatar"><i class="icon-circle i-user"></i></div>
                        <div>
                          <span class="name">Nini</span>
                          <span class="description">GE75TB7312645061100002</span>
                          <button class="btn btn-sm btn-primary">transfer</button>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </main>
  </div>


<div class="credo-page">
  <main>
    <div class="card templates-card templates-grid-card">
      <div class="card-header with-controls">
          <h1 class="card-title">Templates</h1>

          <div class="controls">
              <div class="row-sm">
                <div class="col-12 col-sm-6 col-xl-auto">
                    <input class="form-input input-sm search-input" placeholder="Search keyword" type="text">
                </div>
                <div class="col-12 col-sm-6 col-xl-auto">
                    <input class="form-input input-sm" placeholder="Categories" type="text">
                </div>
                <div class="col-12 col-sm-6 col-xl-auto">
                    <label class="radio">
                      <input type="checkbox">
                      <span>Favorites</span>
                    </label>
                </div>
                <div class="col-12 col-sm-6 col-xl-auto">
                    <button class="btn btn-sm btn-primary btn-add">Add new</button>
                </div>
              </div>
          </div>

          <div class="back-btn-wrap">
            <a href="#" class="back-btn">
              <span class="icon i-dropdown-arrow"></span> Go back to templates
            </a>
          </div>
      </div>

      <div class="card-body">
        <div class="card-block fieldset template-edit-wrap">

          <div class="row-sm">
              <div class="col-auto avatar-col">
                  <div class="avatar" style="background-image: url('assets/images/icons/no_avatar.svg')"></div>
              </div>
              <div class="col">
                  <div class="row-sm">
                      <div class="col-12 col-md-3">
                          <input class="form-input"  type="text" placeholder="Name" value="Giorgi">
                      </div>
                      <div class="col-12 col-md-5">
                          <input class="form-input"  type="text" placeholder="Account Number" value="123">
                      </div>
                      <div class="col-12 col-md-4">
                          <button class="btn btn-secondary w-fluid">Save Now</button>
                      </div>
                  </div>

                  <div class="row-sm btn-row">
                      <div class="col-auto">
                          <button class="btn-icon btn-heart selected">
                              <i class="icon i-heart"></i>
                              <span>Remove from favorites</span>
                          </button>
                      </div>
                      <div class="col-auto">
                          <button class="btn-icon">
                            <i class="icon i-trash"></i>
                            <span>Delete</span>
                          </button>
                      </div>
                  </div>

              </div>
          </div>          

        </div>
      </div>

    </div>
  </main>
</div>