@import "../../assets/scss/style.scss";

.templates-grid-card{
	.card-block-header{
		border-top: 1px solid $border-color-base;
		margin-top: -1px;
	}

	.items-grid{
		.grid-item{
			width: 33.33333%;
			padding: 10px 10px 24px 30px;

			.action-buttons{
				display: flex;
				justify-content: flex-end;

				.btn-icon{
					margin-left: 5px;
				}
				.btn-heart{
					margin-left: 10px;
				}
			}

			.wrap{
				display: flex;

				.avatar{
					margin:7px 18px 0 0;
				
					.icon-circle{
						flex-shrink: 0;
						display: block;
						width: 50px;
						height: 50px;
						
						&::before{
							background-size: 24px 24px;
						}
					}
				}

				.name,
				.description{
					display: block;

					font-size: 12px;
					font-weight: 500;
					line-height: 1.4;
				}
				.name{
					color: #acacac;
					margin-bottom: 2px;
				}
				.description{
					color: $color-base;
					margin-bottom: 6px;
				}

			}
		}
	}

	
	@media (max-width: $xl){
		&{
			.items-grid{
				.grid-item{
					width: 50%;
					padding-left: 20px;
				}
			}
		}
	}
	@media (max-width: $md){
		&{
			.items-grid{
				.grid-item{
					padding-left: 15px;
				}
			}
		}
	}
	@media (max-width: $sm){
		&{
			.items-grid{
				.grid-item{
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					padding: 0;

					.wrap{
						width: 100%;
						padding: 20px 15px;
					}
					.action-buttons{
						order: 2;
						justify-content: space-between;
						width: 100%;
						border-top: 1px solid $border-color-base;
						padding: 10px 40px;
					}
				}
			}
		}
	}
}

.template-edit-wrap{
	.avatar{
		margin-top: -5px;
    }
    @media (max-width: $md){
		&{
			.row-sm{
                position: relative;
            }
            .row-sm.btn-row{
                justify-content: center;
                border-top: 1px solid $border-color-base;
                padding-top: 20px;
                margin-top: 30px;
            }
            
            .avatar-col{
                position: absolute;
                top: 0;
                left: 0;
            }
            .avatar-col + .col > .row-sm:first-child  > [class*=col]:first-child{
                padding-left: 70px;
            }
		}
	}
}