section.modalContainer {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .modalContent {
        position: relative;
        align-self: center;
        background: #fff;
        border-radius: 10px;

        .closeButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            right: -12px;
            top: -12px;
            cursor: pointer;

            .icon{
                width: 18px;
                height: 18px;
            }
        }

        @media (min-width: 768px){
            .mobile-header .credo-logo{
                display: none;
            }
        }
        @media (max-width: 767px){
            &{
                display: flex;
                flex-direction: column;
                height: 100vh;
                width: 100%;
                border-radius: 0;
            }
            .mobile-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 82px;
                border-top: 2px solid #707070;
                border-bottom: 1px solid #f2f2f2;
                padding: 1px 7px 0 15px;

                .credo-logo img{
                    display: block;
                    height: 27px;
                }

                .closeButton{
                    width: auto;
                    height: auto;
                    position: relative;
                    top: 1px;
                    left: 0;
                    .icon{
                        width: 36px;
                        height: 36px;
                    }
                }
            }
        }

    }
}