<section class="modalContainer" (click)="closeClick($event)">
  <div class="modalContent">
    <div class="mobile-header">
      <span class="credo-logo"><img class="Credo logo" src="assets/images/logo.svg"></span>
      <div class="closeButton" (click) = "closeClick($event)"><i class="icon i-close"></i></div>
    </div>
    
    <ng-content></ng-content>
  </div>
</section>