<div class="credo-page">
    <main>
  
      <div class="card loan-card loan-details-card">
        <div class="card-header">
            <h1 class="card-title">Loan Details</h1>
        </div>
        <div class="nav-secondary">
            <ul>
              <li>
                <a href="#" class="active">FAST LOAN</a>
              </li>
              <li>
                <a href="#">CAR LOAN</a>
              </li>
              <li>
                <a href="#">STUDENT LOAN</a>
              </li>
            </ul>
        </div>
  
        <div class="card-body loan-list">
            <div class="table loan-info">
              <div class="t-row">
                <div class="t-cell">
                    <div class="item">
                        <span class="name">თანხა</span>
                        <strong class="value">1,250.00 ₾ </strong>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name">ვადა</span>
                        <strong class="value">7 Month</strong>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name">განაცხადი გაგზავნილია</span>
                        <strong class="value">12.02.2019</strong>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name">სტატუსი</span>
                        <strong class="value">მუშავდება</strong>
                    </div>
                </div>
                <div class="t-cell empty-cell">&nbsp;</div>
                <div class="t-cell empty-cell">&nbsp;</div>
              </div>
              <div class="t-row">
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">ყოველთვიური გადასახადი</span>
                        <b class="value">0.00 ₾</b>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">პროცენტი</span>
                        <b class="value">0.00 %</b>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="d-flex">
                        <div class="item">
                            <span class="name-sm">საშეღავათო პერიოდი</span>
                            <b class="value">0.00 ₾</b>
                        </div>
                        <button class="btn-help"><i class="icon-circle i-lg i-question"></i></button>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">საშეღავათო პროცენტი</span>
                        <b class="value">0.00 %</b>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">ეფექტური პროცენტი</span>
                        <b class="value">43.41 %</b>
                    </div>
                </div>
                <div class="t-cell empty-cell">&nbsp;</div>
              </div>
            </div>
  
            <div class="table loan-info">
              <div class="t-row">
                <div class="t-cell">
                    <div class="item">
                        <span class="name">თანხა</span>
                        <strong class="value">1,250.00 ₾ </strong>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name">ვადა</span>
                        <strong class="value">7 Month</strong>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name">განაცხადი გაგზავნილია</span>
                        <strong class="value">12.02.2019</strong>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name">სტატუსი</span>
                        <strong class="value color-red">უარყოფილია</strong>
                    </div>
                </div>
                <div class="t-cell empty-cell">&nbsp;</div>
                <div class="t-cell empty-cell">&nbsp;</div>
              </div>
              <div class="t-row">
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">ყოველთვიური გადასახადი</span>
                        <b class="value">0.00 ₾</b>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">პროცენტი</span>
                        <b class="value">0.00 %</b>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="d-flex">
                        <div class="item">
                            <span class="name-sm">საშეღავათო პერიოდი</span>
                            <b class="value">0.00 ₾</b>
                        </div>
                        <button class="btn-help"><i class="icon-circle i-lg i-question"></i></button>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">საშეღავათო პროცენტი</span>
                        <b class="value">0.00 %</b>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">ეფექტური პროცენტი</span>
                        <b class="value">43.41 %</b>
                    </div>
                </div>
                <div class="t-cell empty-cell">&nbsp;</div>
              </div>
            </div>
  
            <div class="table loan-info">
              <div class="t-row">
                <div class="t-cell">
                    <div class="item">
                        <span class="name">თანხა</span>
                        <strong class="value">1,250.00 ₾ </strong>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name">ვადა</span>
                        <strong class="value">7 Month</strong>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name">განაცხადი გაგზავნილია</span>
                        <strong class="value">12.02.2019</strong>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name">სტატუსი</span>
                        <strong class="value color-green">მიღებულია</strong>
                    </div>
                </div>
                <div class="t-cell empty-cell">&nbsp;</div>
                <div class="t-cell empty-cell">&nbsp;</div>
              </div>
              <div class="t-row">
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">ყოველთვიური გადასახადი</span>
                        <b class="value">0.00 ₾</b>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">პროცენტი</span>
                        <b class="value">0.00 %</b>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="d-flex">
                        <div class="item">
                            <span class="name-sm">საშეღავათო პერიოდი</span>
                            <b class="value">0.00 ₾</b>
                        </div>
                        <button class="btn-help"><i class="icon-circle i-lg i-question"></i></button>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">საშეღავათო პროცენტი</span>
                        <b class="value">0.00 %</b>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">ეფექტური პროცენტი</span>
                        <b class="value">43.41 %</b>
                    </div>
                </div>
                <div class="t-cell btn-cell">
                  <button class="btn btn-xs btn-secondary take-loan-btn">გადაიტანე ბარათზე</button>
                </div>
              </div>
            </div>
        </div>
  
      </div>
  
          
    </main>
</div>


<div class="credo-page">
  <main>

    <div class="card loan-card loan-details-card">
      <div class="card-header">
          <h1 class="card-title">Loan Details</h1>
      </div>
      <div class="nav-secondary">
          <ul>
            <li>
              <a href="#" class="active">FAST LOAN</a>
            </li>
            <li>
              <a href="#">CAR LOAN</a>
            </li>
            <li>
              <a href="#">STUDENT LOAN</a>
            </li>
          </ul>
      </div>

      <div class="card-body loan-list">

          <div class="table loan-info">
            <div class="t-row">
              <div class="t-cell">
                  <div class="item">
                      <span class="name">Amount</span>
                      <strong class="value">1,250.00 ₾ </strong>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name">Period</span>
                      <strong class="value">7 Month</strong>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name">Application Sent on</span>
                      <strong class="value">12.02.2019</strong>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name">Status</span>
                      <strong class="value">In Progress</strong>
                  </div>
              </div>
              <div class="t-cell empty-cell">&nbsp;</div>
              <div class="t-cell empty-cell">&nbsp;</div>
            </div>
            <div class="t-row">
              <div class="t-cell">
                  <div class="item">
                      <span class="name-sm">Pay Monthly</span>
                      <b class="value">0.00 ₾</b>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name-sm">Percent</span>
                      <b class="value">0.00 %</b>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="d-flex">
                      <div class="item">
                          <span class="name-sm">Grace Period</span>
                          <b class="value">0.00 ₾</b>
                      </div>
                      <button class="btn-help"><i class="icon-circle i-lg i-question"></i></button>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name-sm">Percent for Grace Period</span>
                      <b class="value">0.00 %</b>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name-sm">Effective percent</span>
                      <b class="value">43.41 %</b>
                  </div>
              </div>
              <div class="t-cell empty-cell">&nbsp;</div>
            </div>
          </div>

          <div class="table loan-info">
            <div class="t-row">
              <div class="t-cell">
                  <div class="item">
                      <span class="name">Amount</span>
                      <strong class="value">1,250.00 ₾ </strong>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name">Period</span>
                      <strong class="value">7 Month</strong>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name">Application Sent on</span>
                      <strong class="value">12.02.2019</strong>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name">Status</span>
                      <strong class="value color-red">Declined</strong>
                  </div>
              </div>
              <div class="t-cell empty-cell">&nbsp;</div>
              <div class="t-cell empty-cell">&nbsp;</div>
            </div>
            <div class="t-row">
              <div class="t-cell">
                  <div class="item">
                      <span class="name-sm">Pay Monthly</span>
                      <b class="value">0.00 ₾</b>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name-sm">Percent</span>
                      <b class="value">0.00 %</b>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="d-flex">
                      <div class="item">
                          <span class="name-sm">Grace Period</span>
                          <b class="value">0.00 ₾</b>
                      </div>
                      <button class="btn-help"><i class="icon-circle i-lg i-question"></i></button>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name-sm">Percent for Grace Period</span>
                      <b class="value">0.00 %</b>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name-sm">Effective percent</span>
                      <b class="value">43.41 %</b>
                  </div>
              </div>
              <div class="t-cell empty-cell">&nbsp;</div>
            </div>
          </div>

          <div class="table loan-info">
            <div class="t-row">
              <div class="t-cell">
                  <div class="item">
                      <span class="name">Amount</span>
                      <strong class="value">1,250.00 ₾ </strong>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name">Period</span>
                      <strong class="value">7 Month</strong>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name">Application Sent on</span>
                      <strong class="value">12.02.2019</strong>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name">Status</span>
                      <strong class="value color-green">Accepted</strong>
                  </div>
              </div>
              <div class="t-cell empty-cell">&nbsp;</div>
              <div class="t-cell empty-cell">&nbsp;</div>
            </div>
            <div class="t-row">
              <div class="t-cell">
                  <div class="item">
                      <span class="name-sm">Pay Monthly</span>
                      <b class="value">0.00 ₾</b>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name-sm">Percent</span>
                      <b class="value">0.00 %</b>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="d-flex">
                      <div class="item">
                          <span class="name-sm">Grace Period</span>
                          <b class="value">0.00 ₾</b>
                      </div>
                      <button class="btn-help"><i class="icon-circle i-lg i-question"></i></button>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name-sm">Percent for Grace Period</span>
                      <b class="value">0.00 %</b>
                  </div>
              </div>
              <div class="t-cell">
                  <div class="item">
                      <span class="name-sm">Effective percent</span>
                      <b class="value">43.41 %</b>
                  </div>
              </div>
              <div class="t-cell btn-cell">
                <button class="btn btn-xs btn-secondary take-loan-btn">Take it to card</button>
              </div>
            </div>
          </div>
      </div>

    </div>

        
  </main>
</div>