@import "../../../assets/scss/style.scss";

.loan-details-card{
    .table.loan-info{
        border: 0;
        &:nth-child(even){
            background-color: $bg-gray--light;
        }

        .take-loan-btn{
            width: 170px; 
        }


        @media (min-width: $md) and (max-width: 1470px){
            & {
                .t-cell + .t-cell{
                    padding-left: 19px;
                }
                .t-cell:last-child{
                    width: 170px;
                    box-sizing: content-box;
                }
            }
        }

        @media (max-width: 1470px){
            .t-cell{
                white-space: normal;
                vertical-align: bottom;

                .value{
                    white-space: nowrap; 
                }
            }
            
        }
        @media (max-width: $xl){
            & {
                font-size: 12px;
            }
        }
        
        @media (max-width: $md){
            & {
                .t-cell{
                    &.btn-cell{
                        width: 100%;
                        border-top: 1px solid $border-color-base;
                        padding-top: 20px;
                        margin-top: 10px;
                        .take-loan-btn{
                            width: 100%;
                        }
                    }
                }
            }
        }

    }
}