@import "../../../../assets/scss/style.scss";


.accounts-list{
	.card-cell{
		width: 40%;
	}
	.t-cell:nth-child(2){
		width: 20%;
	}
	.t-cell:nth-child(3){
		width: 20%;
  }
	.t-cell:nth-child(4){
		width: 20%;
	}

	@media (max-width: $xl){
		&{
			.card-cell{
				width: 30%;
				max-width: 220px;
			}
			.t-cell:nth-child(2){
				width: 15%;
			}
			.t-cell:nth-child(3){
				width: 35%;
			}
			.t-cell:nth-child(4){
				width: 20%;
			}
		}
	}

	@media (max-width: $md){
		&{
			.t-cell:nth-child(2){
				width: 100%;
			}
			.t-cell:nth-child(3),
			.t-cell:nth-child(4),
			.t-cell:nth-child(5){
					width: 50%;
			}
		}
	}

}