@import "../../../assets/scss/style.scss";

.remittance-card{
    .card-block:first-child{
        border-top: 0;
    }

    .receive-on-account-wrap .col-account{
        @include col(40%);
    }
    .receive-on-account-wrap .col-amount{
        @include col(30%);
    }

    @media (max-width: $xl){
        .receive-on-account-wrap .col-account{
            @include col(100%);
        }
        .receive-on-account-wrap .col-amount{
            @include col(50%);
        }
    }

    @media (max-width: $md){
        .receive-on-account-wrap{
            [class*=col]{
                @include col(100%);
            }
        }
    }

    @media (max-width: $sm){
        .info-wrap{
            .table,
            .t-cell{
                display: block;
            }
            .t-row{
                display: flex;
                flex-wrap: wrap;
            }
            .t-cell{
                @include col(auto);
                padding: 15px;
            }
            .empty-cell{
                display: none;
            }
        }
    }
    
    @media (max-width: $xs){
        .info-wrap{
            .t-cell{
                @include col(50%);
                margin: 0 !important;
            }
        }
    }
}

.remittance-users-wrap{
    > [class*=row]{
        margin: 0;
        > [class*=col]{
            padding: 0;
            margin: 0;

            &:first-child{
                border-right: 1px solid $border-color-base;
            }
        }
    }
    .card-block{
        border: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @media (max-width: $sm){
        &{
            > [class*=row]{
                > [class*=col]:first-child{
                    border-right: 0;
                    border-bottom: 1px solid $border-color-base;
                }
            }
        }
    }
}