<div class="credo-page">
    <main>
      <div class="card transfers-card remittance-card">
        <div class="card-header">
            <h1 class="card-title">Money Transfers</h1>
        </div>
        <div class="nav-secondary">
            <ul>
              <li>
                <a href="#" class="active">Send money</a>
              </li>
              <li>
                <a href="#">Receive money</a>
              </li>
            </ul>
        </div>
        <div class="back-btn-wrap">
          <a href="#" class="back-btn">
            <span class="icon i-dropdown-arrow"></span> Go back
          </a>
        </div>
        
        <div class="card-body">
          <div class="card-block bg-gray transfer-information-wrap">
            <h4 class="card-block-title">Transfer Information</h4>
            <div class="row-sm fieldset">
              <div class="col-12 col-md-6 col-xl-3">
                <input class="form-input" type="text" placeholder="Transfer System" />
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <input class="form-input" type="text" placeholder="Country" />
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <input class="form-input" type="text" placeholder="City" />
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <input class="form-input" type="text" placeholder="Destination" />
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <label class="form-input-with-label">
                  <span class="form-input-label">Amount</span>
                  <input  type="text" placeholder="00.00">
                  <span>₾</span>
                </label>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <input class="form-input" type="text" placeholder="USA Dollar" />
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                <div class="form-input">$ 2.00</div>
              </div>
              <div class="col-12 col-md-6 col-xl-3">
                  <div class="form-input-with-label">
                    <span class="form-input-label">Total</span>
                    <span class="value">$ 236.00</span>
                  </div>
              </div>
            </div>
          </div>

          <div class="card-block receiver-information-wrap">
            <h4 class="card-block-title">Receiver Information</h4>

            <div class="fieldset">
              <div class="row-sm">
                <div class="col-12 col-md-4 col-xl-3">
                  <input class="form-input" type="text" placeholder="Name" />
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                  <input class="form-input" type="text" placeholder="Surname" />
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                  <input class="form-input" type="text" placeholder="Father's Name" />
                </div>
              </div>

              <div class="row-sm">
                <div class="col-12 col-md-4 col-xl-3">
                  <input class="form-input" type="text" placeholder="Name(ENG)" />
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                  <input class="form-input" type="text" placeholder="Surname(ENG)" />
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                  <input class="form-input" type="text" placeholder="Father's Name(ENG)" />
                </div>
              </div>

              <div class="row-sm">
                <div class="col-12 col-md-4 col-xl-3">
                  <input class="form-input" type="text" value="Personal ID" />
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                  <input class="form-input" type="text" value="Date of Birth" />
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                  <input class="form-input" type="text" value="Reg. Addressh" />
                </div>
              </div>

              <div class="row-sm">
                <div class="col-12 col-md-4 col-xl-3">
                  <input class="form-input" type="text" placeholder="Nationality" />
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                  <input class="form-input" type="text" placeholder="Phone Number" />
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                  <input class="form-input" type="text" placeholder="Gender" />
                </div>
              </div>
            </div>
          </div>

          <div class="card-block ">
            <h4 class="card-block-title">Account</h4>

            <div class="row-sm fieldset account-wrap">
              <div class="col-12 col-md-6 form-group">
                <input class="form-input" type="text" placeholder="Choose an account" />
              </div>
              <div class="col-12 col-md-6 col-xl-3 form-group">
                <div class="form-input-with-label">
                  <span class="form-input-label">Amount to send</span>
                  <span class="value">$ 236.00</span>
                </div>
              </div>
            </div>

            <div class="row-sm btn-row">
              <div class="col-12 col-md-auto">
                  <button class="btn btn-primary btn-link">Transfer</button>
              </div>
              <div class="col-12 col-md-auto">
                  <p class="exchange-rate-text">USD Currency rate <span class="amount">2.6553</span></p>
              </div>
            </div>

          </div>

        </div>

      </div>


      <div class="card transfers-card remittance-card">
        <div class="card-header">
            <h1 class="card-title">Money Transfers</h1>
        </div>
        <div class="nav-secondary">
            <ul>
              <li>
                <a href="#" class="active">Send money</a>
              </li>
              <li>
                <a href="#">Receive money</a>
              </li>
            </ul>
        </div>
        <div class="back-btn-wrap">
          <a href="#" class="back-btn">
            <span class="icon i-dropdown-arrow"></span> Go back
          </a>
        </div>
        
        <div class="card-body">
          <div class="card-block-header">
              <h4 class="card-block-title">Transfer details</h4>
          </div>
          
          <div class="info-wrap bg-gray">
              <div class="table">
                <div class="t-row">
                    <div class="t-cell">
                        <span class="name">Transfer System</span>
                        <span class="description"><img src="../../../assets/images/0/geocell.png" alt=""> Western Union</span>
                    </div>
                    <div class="t-cell">
                        <span class="name">Country</span>
                        <span class="description">United States</span>
                    </div>
                    <div class="t-cell">
                        <span class="name">Destination</span>
                        <span class="description">Destination Title</span>
                    </div>
                    <div class="t-cell empty-cell">&nbsp;</div>
                </div>
                <div class="t-row">
                    <div class="t-cell">
                        <span class="name">Amount</span>
                        <span class="description">$ 234.00</span>
                    </div>
                    <div class="t-cell">
                        <span class="name">Tax</span>
                        <span class="description">$ 2.00</span>
                    </div>
                    <div class="t-cell">
                        <span class="name">Total</span>
                        <span class="description">$ 236.00</span>
                    </div>
                    <div class="t-cell">
                        <span class="name">Currency</span>
                        <span class="description">USA Dollar</span>
                    </div>
                </div>
              </div>
          </div>

          <div class="info-wrap remittance-users-wrap">
              <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="card-block">
                        <h4 class="card-block-title">Sender Information</h4>
                        <div class="row-lg">
                            <div class="col-6 col-xl-auto">
                              <span class="name">Name</span>
                              <span class="description">Ludovico</span>
                            </div>
                            <div class="col-6 col-xl-auto">
                              <span class="name">Surname</span>
                              <span class="description">Stroke Jr.</span>
                            </div>
                            <div class="col-6 col-xl-auto">
                              <span class="name">Father's Name</span>
                              <span class="description">Albert</span>
                            </div>
                            <div class="col-6 col-xl-auto">
                              <span class="name">Personal ID</span>
                              <span class="description">12345678999</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="card-block">
                        <h4 class="card-block-title">Receiver Information</h4>
                        <div class="row-lg">
                            <div class="col-6 col-xl-auto">
                              <span class="name">Name</span>
                              <span class="description">Ludovico</span>
                            </div>
                            <div class="col-6 col-xl-auto">
                              <span class="name">Surname</span>
                              <span class="description">Stroke Jr.</span>
                            </div>
                            <div class="col-6 col-xl-auto">
                              <span class="name">Father's Name</span>
                              <span class="description">Albert</span>
                            </div>
                            <div class="col-6 col-xl-auto">
                              <span class="name">Personal ID</span>
                              <span class="description">12345678999</span>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          
        </div>

        <div class="card-footer">
            <div class="row-sm btn-row">
                <div class="col-12 col-md-auto">
                    <button class="btn btn-primary btn-link">Receive SMS Code</button>
                </div>
                <div class="col-12 col-md-auto">
                  <div class="sms-wrap">
                      <div class="form-input-with-label">
                          <span>SMS</span>
                          <input type="text" placeholder="0-0-0-0">
                          <button>
                            <i class="icon i-reload"></i>
                          </button>
                      </div>
                      <p>
                          <span>Code expires in</span>
                          <b>00:34 Sec</b>
                      </p>
                  </div>
                </div>
            </div>
        </div>

      </div>


      <div class="card transfers-card remittance-card">
        <div class="card-header">
            <h1 class="card-title">Money Transfers</h1>
        </div>
        <div class="nav-secondary">
            <ul>
              <li>
                <a href="#">Send money</a>
              </li>
              <li>
                <a href="#" class="active">Receive money</a>
              </li>
            </ul>
        </div>
        <div class="back-btn-wrap">
          <a href="#" class="back-btn">
            <span class="icon i-dropdown-arrow"></span> Go back
          </a>
        </div>
        
        <div class="card-body">
            <div class="card-block check-transaction-wrap">
                <h4 class="card-block-title">Check Transaction</h4>

                <div class="fieldset">
                      <div class="row-sm">
                        <div class="col-12 col-md-6 col-xl-3 form-group">
                            <input class="form-input" type="text" placeholder="Choose Company" />
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <input class="form-input" type="text" placeholder="Transfer ID" />
                        </div>
                    </div>

                    <div class="row-sm">
                        <div class="col-12 col-md-6 col-xl-3 form-group">
                            <input class="form-input" type="text" placeholder="Amount" />
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 form-group">
                            <input class="form-input" type="text" placeholder="Currency" />
                        </div>
                    </div>
                </div>

                <div class="row-sm btn-row">
                    <div class="col-12 col-md-auto">
                        <button class="btn btn-primary btn-link">Check ID</button>
                    </div>
                </div>
            </div>
        </div>

      </div>


      <div class="card transfers-card remittance-card">
          <div class="card-header">
              <h1 class="card-title">Money Transfers</h1>
          </div>
          <div class="nav-secondary">
              <ul>
                <li>
                  <a href="#">Send money</a>
                </li>
                <li>
                  <a href="#" class="active">Receive money</a>
                </li>
              </ul>
          </div>
          <div class="back-btn-wrap">
            <a href="#" class="back-btn">
              <span class="icon i-dropdown-arrow"></span> Go back
            </a>
          </div>
          
          <div class="card-body">
            <div class="card-block-header">
                <h4 class="card-block-title">Transfer details</h4>
            </div>
            
            <div class="info-wrap bg-gray">
                <div class="table">
                  <div class="t-row">
                      <div class="t-cell">
                          <span class="name">Transfer System</span>
                          <span class="description"><img src="../../../assets/images/0/geocell.png" alt=""> Western Union</span>
                      </div>
                      <div class="t-cell">
                          <span class="name">Country</span>
                          <span class="description">United States</span>
                      </div>
                      <div class="t-cell">
                          <span class="name">Destination</span>
                          <span class="description">Destination Title</span>
                      </div>
                  </div>
                  <div class="t-row">
                      <div class="t-cell">
                          <span class="name">Amount</span>
                          <span class="description">$ 234.00</span>
                      </div>
                      <div class="t-cell">
                          <span class="name">Date</span>
                          <span class="description">02.02.2018</span>
                      </div>
                      <div class="t-cell">
                          <span class="name">Status</span>
                          <span class="description color-green">Ready to Withdraw</span>
                      </div>
                  </div>
                </div>
            </div>
  
            <div class="card-block receive-on-account-wrap">
                <h4 class="card-block-title">Receive on Account</h4>

                <div class="fieldset">
                    <div class="row-sm">
                      <div class="col-account form-group">
                          <input class="form-input" type="text" placeholder="GE3434TT23100123332865" />
                      </div>

                      <div class="col-amount form-group">
                          <div class="form-input-with-label">
                            <span class="form-input-label">მიღებული დოლარში</span>
                            <span class="value">$ 23545.00</span>
                          </div>
                      </div>
                      <div class="col-amount form-group">
                        <div class="form-input-with-label">
                          <span class="form-input-label">კონვერტირებული ლარში</span>
                          <span class="value">₾ 1 231 545.00</span>
                        </div>
                      </div>
                  </div>
              </div>

              <div class="row-sm btn-row">
                  <div class="col-12 col-md-auto">
                      <button class="btn btn-primary btn-link">Receive</button>
                  </div>
              </div>

            </div>

          </div>

        </div>


    </main>
</div>