@import "../../../assets/scss/style.scss";

.nav-secondary a{
    padding: 0 40px;
    
    @media (max-width: $lg){
        &{
            padding: 0 20px;
        }
    }
    
    @media (max-width: $md){
        &{
            padding: 0 15px;
        }
    }
}