<div class="nav-secondary">

    <ul>
      <li>
        <a href="#" class="active">ანგარიშები</a>
      </li>
      <li>
        <a href="#">საკრედიტო ბარათები</a>
      </li>
      <li>
        <a href="#">ანაბრები</a>
      </li>
      <li>
        <a href="#">სესხები</a>
      </li>
    </ul>

</div>
