@import "../../assets/scss/style.scss";

.messages-card{

    .btn-outline-primary:not(:hover){
        color: $color-primary;
    }

    .controls{
        background-color: $bg-gray;
        padding-top: 20px;
        padding-bottom: 20px;

        .search-input{
            width: 300px;
        }

        .btn{
            width: 140px;
        }

        .compose-btn-col{
            margin-left: auto;
            .btn{
                width: 200px;
            }
        }
    }

    .card-body{
        display: flex;
        align-items: stretch;
    }

    .message-date{
        display: block;
        color: #7B7B7B;
        line-height: 1.2;
    }
    .message-title{
        color: $color-base;
        line-height: 1.2;
    }
    .message-text{
        color: #A5A5A5;
        font-size: 12px;
    }

    .message-list{
        flex-shrink: 0;
        width: 350px;
        border-right: 1px solid $border-color-base;
        overflow: hidden;

        .message-list-item{
            display: flex;
            border-bottom: 1px solid $border-color-base;
            padding: 26px 10px;
            cursor: pointer;

            > div{
                flex-grow: 1;
            }

            &:last-child{
                border: 0;
                border-bottom-left-radius: 10px;
            }

            &:hover,
            &.selected{
                background-color: $bg-gray--light;
            }

            [class*=i-bullet]{
                margin: auto 30px auto 20px;
            }

            .message-date{
                font-size: 10px;
                padding-left: 10px;
                margin-top: 2px;
            }
            .message-title{
                font-size: 12px;
                margin-bottom: 6px;
            }
            .message-text{
                line-height: 1.2;
            }
        }
    }

    .message-view{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex: 1;

        .message-item {
            width: 100%;
            padding-top: 26px;
            padding-bottom: 26px;

            > *:not(:last-child){
                margin-bottom: 20px;
            }
            .message-title{
                font-size: 18px;
                margin-bottom: 15px;
            }
            .message-date{
                font-size: 12px;
            }
        }

        ul.attachements{
            list-style: none;
            border-top: 1px solid $border-color-base;
            overflow: hidden;

            li,
            li>div{
                display: flex;
                align-items: center;
            }
            li{
                justify-content: space-between;
                width: 100%;
                border-bottom: 1px solid $border-color-base;
                padding: 12px 0 10px;
                overflow: hidden;
                @include text-ellipsis;

                .icon{
                    flex-shrink: 0;
                    margin-right:10px;
                    position: relative;
                    top: -2px;
                }

                > div{
                    width: calc(100vw - 835px);
                    overflow: hidden;
                }
                .name{
                    display: flex;
                    overflow: hidden;

                    font-weight: 500;

                    > span{
                        @include text-ellipsis;
                    }
                }
                .size{
                    margin-left: 10px;
                }
            }
        }
    }

    .form{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: $bg-gray--light;
        border-bottom-left-radius: 0 !important;
        margin: 0;
    }
    .form-input-wrap{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: #fff;
        border: 1px solid #d8d8d8;
        border-radius: 10px;
        margin-bottom: 30px;
    
        &:hover{
            border-color: darken(#d8d8d8, 10%);
        }

        .form-input{
            width: 100%;
            height: 100%;
            min-height: 85px;
            border: 0;
            border-radius: 10px;
            line-height: 1.4;
        }

        .files{
            flex-shrink: 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 0 10px;
            margin: 0;
            overflow: hidden;
        }

        .file-attachement{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 200px;
            height: 30px;
            background-color: $bg-gray--light;
            border-radius: 15px;
            padding: 0 10px 0 20px;
            margin: 0 10px 12px;
            overflow: hidden;

            > *{
                display: flex;
                align-items: center;
                flex-shrink: 0;
            }

            .name{
                @include text-ellipsis;
                max-width: 80px;
            }

            .size{
                font-size: 10px;
            }

            button{
                @include reset-button;
                margin-left: 6px;
            }
        }
    }

    .compose-head{
        flex-shrink: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .btn-container{
        padding-top: 0;
        margin-top: auto;
        .btn-row{
            margin-bottom: -20px !important;
        }
        .btn{
            min-width: 140px;
            width: auto;
        }

        .msg-reply-btn,
        .msg-attach-btn,
        .msg-remove-btn{
            background-size: 16px 16px;
            background-repeat: no-repeat;
			padding-left: 34px;
			padding-right: 34px;
        }

        .msg-reply-btn{
            background-image: url(../../assets/images/icons/reply_blue.svg);
            background-position: left 10px center;

            &:hover{
                background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDE2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I0ZGRkZGRjt9PC9zdHlsZT48ZyBpZD0iaWNvbmZpbmRlcl9yZXBseV8yNjc2OTM5IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMi4xMTcgLTI4Ny4xMjIpIj48cGF0aCBpZD0icGF0aDQ0ODMiIGNsYXNzPSJzdDAiIGQ9Ik0xMy45LDI5NC44VjI5MmgtMS40djIuOGMwLDAuNC0wLjMsMC43LTAuNywwLjdIOC40bDIuMS0yLjFsLTAuNy0wLjdsLTMuNSwzLjVsMy41LDMuNWwwLjctMC43bC0yLjEtMi4xaDMuNWMxLjEsMCwyLTAuOCwyLjEtMS45QzEzLjksMjk0LjksMTMuOSwyOTQuOCwxMy45LDI5NC44eiIvPjwvZz48L3N2Zz4=");
            }
        }
        .msg-remove-btn{
            background-image: url(../../assets/images/icons/trash2.svg);
            background-position: left 10px center;
        }

        .msg-attach-btn{
            background-image: url(../../assets/images/icons/attachement.svg);
            background-position: right 10px center;
            background-size: 14px 14px;
        }

        .cancel-btn-col{
            margin-left: auto;
            .btn{
                min-width: unset;
            }
        }
    }

    @media (max-width: $xl){
        &{
            .controls{
                > div{
                    margin-bottom: -10px;
                }
                [class*=col]{
                    margin-bottom: 10px;
                }
                .search-input{
                    width: 100%;
                }
            }

            .message-list{
                width: 280px;
                .message-list-item{
                    [class*=i-bullet]{
                        margin: auto 15px auto 10px;
                    }
                }
            }

            .message-view{
                ul.attachements{
                    li{
                        > div{
                            width: calc(100vw - 725px);
                        }
                    }
                }
            }
        }
    }
    @media (max-width: $lg){
        &{
            .message-view{
                ul.attachements{
                    li{
                        > div{
                            width: calc(100vw - 475px);
                        }
                    }
                }
            }

            .btn-container{
                .btn{
                    width: 100%;
                }
                .cancel-btn-col{
                    margin-right: auto;
                }
            }
        }
    }
    @media (max-width: $md){
        &{
            .controls{
                .compose-btn-col{
                    margin-top: 10px;
                }
                .btn{
                    width: 100% !important;
                }
            }

            .card-body{
                display: block;

                .message-list{
                    width: 100%;
                    border: 0;

                    .message-list-item:not(.selected){
                        display: none;
                    }
                }
            }

            .message-view{
                ul.attachements{
                    li{
                        > div{
                            width: 100%;
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
    }
}