<div class="credo-page">
    <main>
        <div class="card messages-card">
            
            <div class="card-header">
                <h1 class="card-title">Messages</h1>
            </div>

            <div class="card-block controls">
                <div class="row-sm">
                    <div class="col-12 col-xl-auto">
                        <input class="form-input input-sm search-input" type="text">
                    </div>
                    <div class="col-6 col-md-auto">
                        <button class="btn btn-xs btn-white btn-outline-primary">Inbox</button>
                    </div>
                    <div class="col-6 col-md-auto">
                        <button class="btn btn-xs btn-white">Sent</button>
                    </div>

                    <div class="col-12 col-md-auto compose-btn-col">
                        <button class="btn btn-xs btn-primary btn-add">Compose</button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="message-list">
                    <div class="message-list-item">
                        <i class="i-bullet--blue"></i>
                        <div>
                            <h4 class="message-title">System Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                    <div class="message-list-item selected">
                        <i class="i-bullet--blue"></i>
                        <div>
                            <h4 class="message-title">Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                    <div class="message-list-item">
                        <i class="i-bullet--gray"></i>
                        <div>
                            <h4 class="message-title">System Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                    <div class="message-list-item">
                        <i class="i-bullet--gray"></i>
                        <div>
                            <h4 class="message-title">System Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                    <div class="message-list-item">
                        <i class="i-bullet--gray"></i>
                        <div>
                            <h4 class="message-title">System Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                </div>
                <div class="message-view">
                    <div class="card-block message-item">
                        <h4 class="message-title">Variations</h4>
                        <span class="message-date">02.02.2018</span>
                        <div class="text-wrap message-text">
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration 
                                in some form, by injected humour, or randomised words which don't look even slightly believable. 
                            </p>
                            <p>
                                If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything 
                                embarrassing hidden in the middle of text.
                            </p>
                        </div>

                        <ul class="attachements">
                            <li>
                                <div>
                                    <i class="icon i-lg i-attachement--blue"></i>
                                    <div class="name"><span>Documentation_2233</span>.pdf</div>
                                    <span class="size">(25MB)</span>
                                </div>
                                <a class="link color-primary" href="#">download</a>
                            </li>
                            <li>
                                <div>
                                    <i class="icon i-lg i-attachement--blue"></i>
                                    <div class="name"><span>Documentation_2233Documentation_2233Documentation_2233Documentation_2233Documentation_2233</span>.pdf</div>
                                    <span class="size">(25MB)</span>
                                </div>
                                <a class="link color-primary" href="#">გადმოწერა</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-block btn-container">
                        <div class="row-sm btn-row">
                            <div class="col-12 col-sm-6 col-lg-auto">
                                <button class="btn btn-xs btn-outline-primary msg-reply-btn">Reply</button>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-auto">
                                <button class="btn btn-xs btn-outline-secondary msg-remove-btn">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="card messages-card">
            
            <div class="card-header">
                <h1 class="card-title">Messages</h1>
            </div>

            <div class="card-block controls">
                <div class="row-sm">
                    <div class="col-12 col-xl-auto">
                        <input class="form-input input-sm search-input" type="text">
                    </div>
                    <div class="col-6 col-md-auto">
                        <button class="btn btn-xs btn-white btn-outline-primary">Inbox</button>
                    </div>
                    <div class="col-6 col-md-auto">
                        <button class="btn btn-xs btn-white">Sent</button>
                    </div>

                    <div class="col-12 col-md-auto compose-btn-col">
                        <button class="btn btn-xs btn-primary btn-add">Compose</button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="message-list">
                    <div class="message-list-item">
                        <i class="i-bullet--blue"></i>
                        <div>
                            <h4 class="message-title">System Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                    <div class="message-list-item selected">
                        <i class="i-bullet--blue"></i>
                        <div>
                            <h4 class="message-title">Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                    <div class="message-list-item">
                        <i class="i-bullet--gray"></i>
                        <div>
                            <h4 class="message-title">System Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                    <div class="message-list-item">
                        <i class="i-bullet--gray"></i>
                        <div>
                            <h4 class="message-title">System Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                    <div class="message-list-item">
                        <i class="i-bullet--gray"></i>
                        <div>
                            <h4 class="message-title">System Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                </div>
                <div class="message-view">
                    <div class="card-block message-item">
                        <h4 class="message-title">Variations</h4>
                        <span class="message-date">02.02.2018</span>
                        <div class="text-wrap message-text">
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration 
                                in some form, by injected humour, or randomised words which don't look even slightly believable. 
                            </p>
                            <p>
                                If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything 
                                embarrassing hidden in the middle of text.
                            </p>
                        </div>

                        <ul class="attachements">
                            <li>
                                <div>
                                    <i class="icon i-lg i-attachement--blue"></i>
                                    <div class="name"><span>Documentation_2233</span>.pdf</div>
                                    <span class="size">(25MB)</span>
                                </div>
                                <a class="link color-primary" href="#">download</a>
                            </li>
                            <li>
                                <div>
                                    <i class="icon i-lg i-attachement--blue"></i>
                                    <div class="name"><span>Documentation_2233Documentation_2233Documentation_2233Documentation_2233Documentation_2233</span>.pdf</div>
                                    <span class="size">(25MB)</span>
                                </div>
                                <a class="link color-primary" href="#">გადმოწერა</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-block form">

                        <div class="form-input-wrap">
                            <textarea class="form-input" placeholder="Text"></textarea>
                            
                            <div class="files">
                                <div class="file-attachement">
                                    <div>
                                        <b class="name"><span>Documentation_2233</span></b>
                                        <b>.pdf</b>
                                    </div>
                                    <div>
                                        <span class="size">(25MB)</span>
                                        <button><i class="icon i-close"></i></button>
                                    </div>
                                </div>
                                <div class="file-attachement">
                                    <div>
                                        <b class="name"><span>a</span></b>
                                        <b>.txt</b>
                                    </div>
                                    <div>
                                        <span class="size">(25MB)</span>
                                        <button><i class="icon i-close"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="btn-container">
                            <div class="row-sm btn-row">
                                <div class="col-12 col-sm-6 col-lg-auto">
                                    <button class="btn btn-xs btn-primary btn-link">Send</button>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-auto">
                                    <button class="btn btn-xs btn-outline-secondary msg-attach-btn">Attach file</button>
                                </div>

                                <div class="col-auto cancel-btn-col">
                                    <button class="btn btn-xs">Cancel</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>




        <div class="card messages-card">
            
            <div class="card-header">
                <h1 class="card-title">Messages</h1>
            </div>

            <div class="card-block controls">
                <div class="row-sm">
                    <div class="col-12 col-xl-auto">
                        <input class="form-input input-sm search-input" type="text">
                    </div>
                    <div class="col-6 col-md-auto">
                        <button class="btn btn-xs btn-white btn-outline-primary">Inbox</button>
                    </div>
                    <div class="col-6 col-md-auto">
                        <button class="btn btn-xs btn-white">Sent</button>
                    </div>

                    <div class="col-12 col-md-auto compose-btn-col">
                        <button class="btn btn-xs btn-primary btn-add">Compose</button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="message-list">
                    <div class="message-list-item">
                        <i class="i-bullet--blue"></i>
                        <div>
                            <h4 class="message-title">System Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                    <div class="message-list-item selected">
                        <i class="i-bullet--blue"></i>
                        <div>
                            <h4 class="message-title">Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                    <div class="message-list-item">
                        <i class="i-bullet--gray"></i>
                        <div>
                            <h4 class="message-title">System Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                    <div class="message-list-item">
                        <i class="i-bullet--gray"></i>
                        <div>
                            <h4 class="message-title">System Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                    <div class="message-list-item">
                        <i class="i-bullet--gray"></i>
                        <div>
                            <h4 class="message-title">System Notification</h4>
                            <p class="message-text">
                                Dear Customer, system notification description...
                            </p>
                        </div>
                        <span class="message-date">02.02.2018</span>
                    </div>
                </div>
                <div class="message-view">
                    <div class="card-block compose-head">
                        <div class="row-sm fieldset">
                            <div class="col-12 col-md-6 col-xl-5 form-group">
                                <input class="form-input" type="text" value="Support">
                            </div>
                            <div class="col-12 col-md-6 col-xl-5 form-group">
                                <input class="form-input" type="text" value="Topic">
                            </div>
                        </div>
                    </div>

                    <div class="card-block form compose-form">

                        <div class="form-input-wrap">
                            <textarea class="form-input" placeholder="Text"></textarea>
                            <div class="files">
                                <div class="file-attachement">
                                    <div>
                                        <b class="name"><span>Documentation_2233</span></b>
                                        <b>.pdf</b>
                                    </div>
                                    <div>
                                        <span class="size">(25MB)</span>
                                        <button><i class="icon i-close"></i></button>
                                    </div>
                                </div>
                                <div class="file-attachement">
                                    <div>
                                        <b class="name"><span>a</span></b>
                                        <b>.txt</b>
                                    </div>
                                    <div>
                                        <span class="size">(25MB)</span>
                                        <button><i class="icon i-close"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="btn-container">
                            <div class="row-sm btn-row">
                                <div class="col-12 col-sm-6 col-lg-auto">
                                    <button class="btn btn-xs btn-primary btn-link">Send</button>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-auto">
                                    <button class="btn btn-xs btn-outline-secondary msg-attach-btn">Attach file</button>
                                </div>

                                <div class="col-auto cancel-btn-col">
                                    <button class="btn btn-xs">Cancel</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </main>
</div>