@import "../../assets/scss/style.scss";

.faq-card{
    .controls{
        .search-input{
            background-color: $bg-gray--light;
        }
        @media (min-width: $md + 1) {
            .search-input{
                width: 258px;
            }
        }
    }
    @media (max-width: $md) {
        .card-header{
            flex-wrap: wrap;
        }
        .controls{
            width: 100%;
            padding-top: 20px;
            margin-top: 20px;

            &::before {
                content: "";
                height: 1px;
                background-color: whitesmoke;
                margin-top: -20px;
                position: absolute;
                left: 0;
                right: 0;
            }
        }
    }
}