<div class="credo-page">
    <main>
        <div class="card faq-card">
            <div class="card-header">
                <h1 class="card-title">Frequently Asked Questions</h1>
                <div class="controls">
                  <input class="form-input input-sm search-input" type="text">
                </div>
            </div>

            <div class="card-body">
                <div class="accordion-item">
                  <div class="card-block-header accordion-toggler">
                      <h2 class="card-block-title">How to transfer money to another bank</h2>
                      <i class="icon i-arrow"></i>
                  </div>
                  <div class="card-block accordion-body hidden">
                      <div class="text-wrap">
                          <p>
                              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
                              which don't look even slightly believable. 
                          </p>
                          
                          <p>
                              If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything 
                              embarrassing hidden in the middle of text.
                          </p>
                          
                          <p>
                            <a href="#" class="link">Transfer Link</a>
                          </p>
                      </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <div class="card-block-header accordion-toggler opened">
                        <h2 class="card-block-title">How to transfer money to another bank</h2>
                        <i class="icon i-arrow"></i>
                    </div>
                    <div class="card-block accordion-body">
                        <div class="text-wrap">
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
                                which don't look even slightly believable. 
                            </p>
                            
                            <p>
                                If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything 
                                embarrassing hidden in the middle of text.
                            </p>
                            
                            <p>
                              <a href="#" class="link">Transfer Link</a>
                            </p>
                        </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                      <div class="card-block-header accordion-toggler">
                          <h2 class="card-block-title">How to transfer money to another bank</h2>
                          <i class="icon i-arrow"></i>
                      </div>
                      <div class="card-block accordion-body hidden">
                          <div class="text-wrap">
                              <p>
                                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words 
                                  which don't look even slightly believable. 
                              </p>
                              
                              <p>
                                  If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything 
                                  embarrassing hidden in the middle of text.
                              </p>
                              
                              <p>
                                <a href="#" class="link">Transfer Link</a>
                              </p>
                          </div>
                      </div>
                    </div>
            </div>

        </div>
    </main>
</div>