@import "../../../assets/scss/style.scss";


.credo-sidebar-container{
    flex-shrink: 0;
    width: $sidebar-width;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 250;

    .credo-sidebar{
        width: $sidebar-width;
        background: url("/assets/images/sidebar_bg.jpg") 0 0 repeat-y;
        overflow: hidden;
        position: fixed;
        top: 82px;
        bottom: 0;
        left: 0;

        > div{
            height: 100%;
            overflow: auto;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            padding-right: 50px;
            margin: 0 -50px 0 0;
        }

        .icon{
            flex-shrink: 0;
            width: 40px;
            height: 40px;
        }

        .haed{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px $block-spacing-lg;

            .user-wrap{
                display: flex;
                align-items: center;
            
                .avatar{
                    flex-shrink: 0;
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 50%;
                }
            
                > div {
                    padding-left: 10px;
                    color: $color-white;
                    font-size: 12px;
            
                    span{
                        display: block;
                        margin-bottom: 5px;
                    }
                    b{
                        display: block;
                        font-weight: 500;
                    }
                }
            
            }
        
            .btn-wrap{
                display: flex;
                margin-left: 10px;
        
                .btn{
                    background-color: $color-white;
                    border-color: $color-white;
                    & + .btn{
                        margin-left: 10px;
                    }
                    .icon{
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            @media (min-width: $lg + 1){
                &{
                    display: none;
                }
            }
        }

        .toggler-wrap{
            display: flex;
            padding: 30px $block-spacing-lg;

            button{
                display: block;
                width: auto;
                @include reset-button;
                
                > span{
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    position: relative;

                    color: $color-white;
                    font-size: 12px;

                    span{
                        padding-left: 20px;
                    }
                }

                .icon{
                    border: 1px solid rgba(255,255,255,0.4);
                    border-radius: 8px;

                    &::before{
                        background-image: url($i-arrow--white);
                        background-size: 11px 11px;
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }

                &:hover{
                    .icon{
                        background-color: $color-white;
                        border-color: $color-white;
                        &::before{
                            background-image: url($i-arrow--blue);
                        }
                    }
                }
            }
            @media (max-width: $lg){
                &{
                    display: none;
                }
            }
        }

        nav {
            padding-bottom: 1px;
            li{
                &::before,
                &:last-child::after{
                    content: "";
                    display: block;
                    height: 1px;
                    background-color: $color-white;
                    opacity: 0.1;
                    margin: 0 $block-spacing-lg -1px;
                    position: relative;
                    z-index: 1;
                }

                &:hover::before,
                &.active::before,
                &:hover + li::before,
                &.active + li::before,
                &:last-child:hover::after,
                &:last-child.active::after{
                    opacity: 0;
                }

                .nav-link{
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    min-width: $sidebar-width;
                    padding: $block-spacing-lg;
                    position: relative;
                    z-index: 2;
        
                    color: $color-white;
                    font-size: 14px;

                    .icon::before{
                        background-size: 24px 24px;
                    }
                    .i-myProducts::before{
                        background-image: url("/assets/images/icons/menu/01_white.svg");
                    }
                    .i-transfers::before{
                        background-image: url("/assets/images/icons/menu/02_white.svg");
                    }  
                    .i-transactions::before{
                        background-image: url("/assets/images/icons/menu/03_white.svg");
                    }
                    .i-offers::before{
                        background-image: url("/assets/images/icons/menu/04_white.svg");
                    }
                    .i-credoProducts::before{
                        background-image: url("/assets/images/icons/menu/05_white.svg");
                    }
                    .i-receiveMoney::before{
                        background-image: url("/assets/images/icons/menu/06_white.svg");
                    }
                    .i-takeLoan::before{
                        background-image: url("/assets/images/icons/menu/07_white.svg");
                    }
                    .i-faq{
                        background-color: $color-white;
                        border-radius: 50%;
                        &::before{
                            background-image: url("/assets/images/icons/menu/08.svg");
                        }
                    }

                    span{
                        padding-left: $block-spacing-lg;
                    }
        
                    &:hover{
                        background-color: rgba(0,0,0,0.4);
                    }
                }

                &.active{
                    .nav-link{
                        background: $color-white url($i-arrow--blue) right $block-spacing-lg center no-repeat;
                        background-size: 11px 11px;
                        color: $color-primary--dark;
                        &::after{
                            display: none;
                        } 

                        .i-myProducts::before{
                            background-image: url("/assets/images/icons/menu/01.svg");
                        }
                        .i-transfers::before{
                            background-image: url("/assets/images/icons/menu/02.svg");
                        }
                        .i-transactions::before{
                            background-image: url("/assets/images/icons/menu/03.svg");
                        }
                        .i-offers::before{
                            background-image: url("/assets/images/icons/menu/04.svg");
                        }
                        .i-credoProducts::before{
                            background-image: url("/assets/images/icons/menu/05.svg");
                        }
                        .i-receiveMoney::before{
                            background-image: url("/assets/images/icons/menu/06.svg");
                        }
                        .i-takeLoan::before{
                            background-image: url("/assets/images/icons/menu/07.svg");
                        }
                    }
                }
            }
        }

        .tutorial-link{
            display: flex;
            align-items: stretch;
            width: 100%;
            height: 80px;
            &::before{
                content: "";
                flex-shrink: 0;
                display: block;
                width: 150px;
                background: $color-base url("/assets/images/tutorial_footer_bg.png") right 0 no-repeat;
            }

            @media (min-width: $lg + 1) {
                &{
                    display: none;
                }
            }

            > div{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                flex-grow: 1;
                background-color: #fff;
                padding: 10px 10px 10px 20px;

                @media (max-width: $sm) {
                    &{
                        padding: 10px 0 10px 10px;
                    }
                }

                > div > *{
                    display: block;
                    margin: 6px 0;
                }
                .name{
                    color: lighten( $color-black, 29% );
                    font-size: 18px;
                    font-weight: normal;
                    @media (max-width: $xs) {
                        &{
                            font-size: 14px;
                        }
                    }
                }
                .count{
                    color: lighten( $color-black, 60% );
                    font-size: 12px;
                }
            }
        }

        @media (max-width: $md){
            &{
                .haed{
                    padding: 15px $block-spacing-md;
                }

                nav {
                    li{
                        &::before{
                            margin-left:$block-spacing-md;
                            margin-right:$block-spacing-md;
                        }
                        .nav-link{
                            padding: $block-spacing-md;
                        }
                        &.active{
                            .nav-link{
                                background-position: right $block-spacing-md center;
                            }
                        }
                    }
                }
            }
        }

        @media (min-width: $md + 1) and (max-height: 760px){
            &{
                .toggler-wrap{
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                nav li .nav-link{
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
        }

        @media (max-width: $xs){
            &{
                .haed{
                    padding: 15px $block-spacing-xs;
                }

                nav {
                    li{
                        &::before{
                            margin-left: $block-spacing-xs;
                            margin-right: $block-spacing-xs;
                        }
                        .nav-link{
                            padding: $block-spacing-xs;
                        }
                        &.active{
                            .nav-link{
                                background-position: right $block-spacing-xs center;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $lg + 1){
        &.collapsed{
            width: $sidebar-width-collapsed;

            .credo-sidebar{
                width: $sidebar-width-collapsed;

                .toggler-wrap button .icon::before{
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                }
            }
        }
    }
    @media (max-width: $lg){
        &{
            display: none;
            width: 100%;
            z-index: 350;

            .credo-sidebar{
                width: 100%;
                background: #1b5d78;
            }
        }
    }

    

}