<div class="credo-sidebar-container"><!--  collapsed -->
  <div class="credo-sidebar">
    <div>

      <div class="haed">
        <a class="user-wrap" href="#">
          <span class="avatar" style="background-image: url('assets/images/0/avatar.jpg')"></span>
          <div>
            <span>გამარჯობა,</span>
            <b>Toshi Mamrikishvili</b>
          </div>
        </a>
        <div class="btn-wrap">
            <button class="btn btn-circle btn-outline-secondary">
              <i class="icon i-message"></i>
              <span class="badge">5</span>
            </button>
            <a class="btn btn-circle btn-outline-secondary" href="#"><i class="icon i-cog"></i></a>
            <a class="btn btn-circle btn-outline-secondary" href="#"><i class="icon i-logout"></i></a>
        </div>
      </div>

      <div class="toggler-wrap">
        <button>
          <span>
            <i class="icon i-arrow"></i>
            <span>დახურვა</span>
          </span>
        </button>
      </div>

      <nav>
        <ul>
          <li class="active">
            <a class="nav-link" href="#">
              <i class="icon i-myProducts"></i>
              <span>ჩემი პროდუქტები</span>
            </a>
          </li>
          <li>
              <a class="nav-link" href="#">
                <i class="icon i-transfers"></i>
                <span>გადარიცხვები</span>
              </a>
          </li>
          <li>
              <a class="nav-link" href="#">
                <i class="icon i-transactions"></i>
                <span>ტრანზაქციები</span>
              </a>
          </li>
          <li>
              <a class="nav-link" href="#">
                <i class="icon i-offers"></i>
                <span>შეთავაზებები</span>
              </a>
          </li>
          <li>
              <a class="nav-link" href="#">
                <i class="icon i-credoProducts"></i>
                <span>მიიღე გზავნილი</span>
              </a>
          </li>
          <li>
              <a class="nav-link" href="#">
                <i class="icon i-receiveMoney"></i>
                <span>მიიღე გზავნილი</span>
              </a>
          </li>
          <li>
              <a class="nav-link" href="#">
                <i class="icon i-takeLoan"></i>
                <span>აიღე სესხი</span>
              </a>
          </li>
        </ul>
      </nav>

      <div class="tutorial-link">
        <div>
          <div>
              <h5 class="name">CREDO Video tutorials</h5>
              <span class="name">45 Videos</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>