@import "../../../assets/scss/style.scss";


.card {
    .card-header{
        padding: 0;
        > *{
            margin-bottom: 20px;
        }
    }
    
    [class*=row]{
        align-items: center;
        justify-content: space-between;
    }

    .btn-wrap{
        display: flex;
        align-items: center;

        > *{
            margin-left: 20px;
        }

        .reset-password-btn{
            @include reset-button;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }

        .login-btn{
            width: 250px;
        }
    }
}

.slider{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;

    .slide-content{
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 225px;
        position: relative;

        .slide-img{
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }

        .slide-caption{
            width: 100%;
            padding: 60px 30px;
            position: relative;
            z-index: 2;

            > *:not(:last-child){
                margin-bottom: 8px;
            }

            h3{
                color: #fff;
                font-size: 10px;
                font-weight: normal;
                text-transform: uppercase;
            }
            p{
                color: #fff;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }

    .btn{
        position: absolute;
        bottom: 30px;
        right: 30px;
    }
}

.aside{
    display: flex;
    flex-direction: column;
    width: 368px;
    height: 100%;
    background-color: #3d3d3d;
    border-radius: 10px;
    overflow: hidden;

    .sign-box{
        background-color: #ea4c36;

        > div{
            height: 110px;
            max-width: 270px;
        }
        h4{
            color: #fff;
            font-size: 24px;
            font-weight: normal;
            margin-bottom: 18px;
        }
        p{
            color: rgba(255,255,255,0.6);
            font-size: 14px;
            line-height: 1.4;
        }

        .btn{
            width: 100%;
            max-width: 250px;
            background: #fff url('/assets/images/icons/lock_red.svg') 24px center no-repeat;
            background-size: 20px 20px;
            padding-left: 50px;
            padding-right: 50px;
            color: #EA4C36;
        }
    }

    .contact-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .help-row{
            display: flex;
            justify-content: space-between;
            align-items: center;

            span{
                color: rgba(255,255,255,0.4);
                font-size: 14px;
            }

            .icon-circle{
                width: 50px;
                height: 50px;
                border-color: #fff;
                background: #fff;
                opacity: 1;

                background-size: 24px 24px;
            }
        }

        .request-call-row{
            margin-bottom: 20px;
            .tel{
                display: block;
                margin-bottom: 15px;
                color: #fff;
                font-size: 24px;
                font-weight: normal;
            }
            .link{
                color: #fff;
                font-size: 14px;
                cursor: pointer;
            }
        }

        .location-btn{
            .icon{
                width: 24px;
                height: 24px;
                opacity: 1;
                &::before{
                    background-size: 30px 30px;
                }
            }
            span{
                color: #fff;
                font-size: 14px;
            }

            &:hover{
                span{
                    text-decoration: underline;
                }
            }
        }
    }
}


.mobile-apps-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background:#fff url("/assets/images/landing/mobile-apps-background.png") right no-repeat;
    background-size: auto 100%;
    border-radius: 10px;
    padding: 20px 40px;
    margin-top: 30px;

    h2 {
        font-size: 18px;
        font-weight: normal;
    }

    .download-buttons {
        display: flex;
        align-items: center;
        margin-right: 35%;
        
        button.download-app-btn{
            @include reset-button;
        }
        .download-app-btn{
            margin-left: 10px;
        }
        img {
            display: block;
            height: 34px;
        }
    }
}


@media (max-width: $xl){
    .row{
        margin-left: -10px;
        margin-right: -10px;
        [class*=col]{
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .card {
    
        .btn-wrap{
            > *{
                margin-left: 10px;
            }
    
            .login-btn{
                width: 200px;
            }
        }
    }

    .slider{
        margin-top: 0;
    }

    .aside{
        width: 300px;
    }
    
    .mobile-apps-section{
        margin-top: 20px;
    }
}


@media (max-width: $lg){
    .main-row{
        > *{
            min-width: 100%;
        }
    }
    .slider{
        margin-bottom: 20px;
    }
    .aside{
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        > *{
            width: 50%;
            height: auto !important;
        }
    }

    .mobile-apps-section{
        .download-buttons{
            margin: 0;
        }
    }
}

@media (max-width: $md){
    .card,
    .slider,
    .aside,
    .mobile-apps-section{
        border-radius: 0;
        margin: 0;
    }
    .mobile-apps-section{
        padding: 20px 20px;
    }
}
@media (max-width: $sm){
    .card {
        .btn-wrap{
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            position: relative;
            padding-top: 15px;
    
            > *{
                margin-left: 0;
            }
    
            .reset-password-btn{
                display: block;
                padding: 4px 0;
                position: absolute;
                bottom: 100%;
                right: 0;
                font-size: 12px;
            }
    
            .login-btn{
                width: 100%;
            }
        }
    }

    .aside{
        display: block;
        > *{
            width: 100%;
        }
    }
    .mobile-apps-section{
        display: block;
        height: auto;
        background: $color-white;
        text-align: center;

        h2{
            margin-bottom: 15px;
        }

        .download-buttons{
            justify-content: center;
        }
    }
}