<div class="row main-row">
    <div class="col">
        <section class="card">
            <div class="card-block">
                <div class="card-header">
                  <h2 class="card-title">Login</h2>
                  <p class="error-text">Your provided ID or Password is not correct!</p>
                </div>

                <div class="row-sm fieldset">
                    <div class="col-12 col-md-6 form-group">
                        <label class="form-input-with-label has-error">
                            <i class="icon i-lg i-user"></i>
                            <span class="form-input-label">ID Number</span>
                            <input type="text">
                        </label>
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <label class="form-input-with-label has-error">
                            <i class="icon i-lg i-key"></i>
                            <span class="form-input-label">Password</span>
                            <input type="text">
                        </label>
                    </div>
                </div>
                <div class="row-sm">
                    <div class="col-12 col-sm-auto">
                        <label class="checkbox">
                            <input type="checkbox">
                            <span>Remember me</span>
                        </label>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <div class="btn-wrap">
                            <button class="reset-password-btn">Reset Password</button>
                            <button class="btn btn-lg btn-primary login-btn">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="slider">
            <div class="slide-content">
                <span class="slide-img" style="background-image: url(/assets/images/landing/0/slide.jpg)"></span>
                <div class="slide-caption">
                    <h3>CUSTOMER LOANS</h3>
                    <p>Customer Loans from 18%</p>
                    <button class="btn btn-circle btn-primary"><i class="icon i-arrow--white"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="aside">
            <div class="card-block sign-box">
                <div>
                    <h4>New Member?</h4>
                    <p>
                      Create your CREDO online wallet account
                      if you dont have any yet.
                    </p>
                </div>
                <button class="btn btn-lg">Registration</button>
            </div>
            <div class="card-block contact-box">
                <div class="help-row">
                    <span>Need Help?</span>

                    <i class="icon-circle i-phone2--blue"></i>
                </div>

                <div class="request-call-row">
                    <a class="tel" href="tel:+0322232254">+(032) 0 23 22 54</a>
                    <a class="link">Request Call</a>
                </div>

                <div>
                  <button class="btn-icon location-btn">
                      <i class="icon i-pin--white"></i>
                      <span>Location</span>
                  </button>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mobile-apps-section">
    <h2>Use our FREE Mobile Bank</h2>
    <div class="download-buttons">
        <button class="download-app-btn"><img src="../../assets/images/landing/app_store.png" alt=""></button>
        <button class="download-app-btn"><img src="../../assets/images/landing/google_play.png" alt=""></button>
    </div>
</section>