  <div class="credo-page">
      <main>
    
        <div class="card loan-card">
          <div class="card-header">
              <h1 class="card-title">Loan Statement</h1>
          </div>
          <div class="nav-secondary">
              <ul>
                <li>
                  <a href="#">FAST LOAN</a>
                </li>
                <li>
                  <a href="#">CAR LOAN</a>
                </li>
                <li>
                  <a href="#" class="active">STUDENT LOAN</a>
                </li>
              </ul>
          </div>
    
          <div class="card-body">
              <div class="card-block-header loan-title-wrap">
                  <i class="icon i-loan-student--red"></i>
                  <h1 class="loan-title">Pay your education fee.</h1>
              </div>
    
              <div class="card-block">
                  slider
              </div>
    
              <div class="table loan-info">
                <div class="t-row bg-gray">
                  <div class="t-cell">
                      <div class="item">
                          <span class="name-sm">Pay Monthly</span>
                          <b class="value">0.00 ₾</b>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name-sm">Percent</span>
                          <b class="value">0.00 %</b>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="d-flex">
                          <div class="item">
                              <span class="name-sm">Grace Period</span>
                              <b class="value">0.00 ₾</b>
                          </div>
                          <button class="btn-help"><i class="icon-circle i-lg i-question"></i></button>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name-sm">Percent for Grace Period</span>
                          <b class="value">0.00 %</b>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name-sm">Percent for Grace Period</span>
                          <b class="value">43.41 %</b>
                      </div>
                  </div>
                </div>
              </div>
    
              <div class="card-block">
                <div class="form-group radio-group">
                    <span>Want to use grace period?</span>
                    <div>
                      <label class="radio">
                        <input type="radio" name="gracePerios">
                        <span><span>Yes</span></span>
                      </label>
                      <label class="radio">
                        <input type="radio" name="gracePerios">
                        <span><span>No</span></span>
                      </label>
                    </div>
                </div>
                <button class="btn btn-primary btn-link loan-apply-btn">Apply</button>
              </div>

              <div class="card-block loan-features">
                  <div class="row">
                    <div class="col-auto">
                      <i class="icon i-lg i-percent--blue"></i>
                      <span>Low Percent Rate</span>
                    </div>
                    <div class="col-auto">
                      <i class="icon i-lg i-giftbox--blue"></i>
                      <span>6 Months grace period</span>
                    </div>
                    <div class="col-auto">
                      <i class="icon i-lg i-calendar2--blue"></i>
                      <span>Flexible Period</span>
                    </div>
                  </div>
              </div>
    
              <div class="card-block about-loan">
                <h3 class="title-sm">About Fast Loan</h3>
                <div class="text-wrap color-gray--light">
                    JSC "Credo Bank" is a commercial bank with multi-year financial experience that emphasizes the company's reliability and financial sustainability. Credo Bank successfully 
                    operates in 11 regions of Georgia. One of the main objectives of the company is to develop and expand business in Georgia by issuing loans. 
                    Based on these objectives, Credo Bank has created a fast loan product from 2015, which enables interested people to fill in the application request
                    and get an answer to the application instantly online. Credo Bank's quick loan is one of the cheapest online loans in Georgia.
                </div>
    
                <div class="loan-info">
                    <div>
                        <div class="item">
                            <span class="name">Amount</span>
                            <strong class="value">From <span class="color-red">2,000 ₾ - 30,000 ₾</span></strong>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <span class="name">Period</span>
                            <strong class="value">From <span class="color-red">From 3 - 72 Month</span></strong>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
    
        </div>
    
            
      </main>
    </div>
    
<div class="credo-page">
  <main>

    <div class="card loan-card">
      <div class="card-header">
          <h1 class="card-title">Loan Statement</h1>
      </div>
      <div class="nav-secondary">
          <ul>
            <li>
              <a href="#">FAST LOAN</a>
            </li>
            <li>
              <a href="#" class="active">CAR LOAN</a>
            </li>
            <li>
              <a href="#">STUDENT LOAN</a>
            </li>
          </ul>
      </div>

      <div class="card-body">
        <div class="card-block">
            <div class="loan-info">
              <div>
                  <div class="item">
                      <span class="name">Amount</span>
                      <strong class="value">From <span class="color-red">2,000 ₾ - 30,000 ₾</span></strong>
                  </div>
              </div>
              <div>
                  <div class="item">
                      <span class="name">Period</span>
                      <strong class="value">From <span class="color-red">From 3 - 72 Month</span></strong>
                  </div>
              </div>
            </div>
        </div>

        <div class="card-block">

          <div class="form-legend">
            <span>Information about 3rd Person</span>
            <button class="btn-help"><i class="icon-circle i-lg i-question"></i></button>
          </div>

          <div class="row-sm fieldset">
            <div class="col-12 col-md-6 col-xl-3">
                <input class="form-input" type="text" placeholder="Family Member">
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <input class="form-input" type="text" placeholder="ID Number">
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <input class="form-input" type="text" placeholder="Name">
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <input class="form-input" type="text" placeholder="Surname">
            </div>
            <div class="col-12 col-md-6">
                <label class="form-input-with-label">
                  <span class="form-input-label">Date of Birth</span>
                  <input type="text" value="12 April, 1999">
                  <i class="icon i-calendar--blue"></i>
                </label>
            </div>
            <div class="col-12 col-md-6">
                <label class="form-input-with-label">
                  <span class="form-input-label">Prone Number</span>
                  <input  type="text" value="555 123 123">
                </label>
            </div>
          </div>
        </div>

        <div class="card-block">
            <h4 class="form-legend">Information about Student</h4>
            <div class="row-sm fieldset">
              <div class="col-12 col-xl-9">
                  <div class="row-sm">
                    <div class="col-12 col-md-4 form-group">
                        <input class="form-input" type="text" placeholder="College">
                    </div>
                    <div class="col-12 col-md-4 form-group">
                        <input class="form-input" type="text" placeholder="College Name">
                    </div>
                    <div class="col-12 col-md-4 form-group">
                        <input class="form-input" type="text" placeholder="Subject Quantity">
                    </div>
                  </div>

                  <div class="row-sm subject-row">
                    <div class="col-12 col-md-4 form-group">
                        <input class="form-input" type="text" placeholder="Subject Name">
                    </div>
                    <div class="col-4 col-md-4 form-group">
                        <input class="form-input" type="text" placeholder="Score">
                    </div>
                    <div class="col-8 col-md-4 form-group">
                        <button class="btn btn-sm btn-primary w-fluid btn-remove">Remove Subject</button>
                    </div>
                  </div>

                  <div class="row-sm subject-row">
                    <div class="col-12 col-md-4 form-group">
                        <input class="form-input" type="text" placeholder="Subject Name">
                    </div>
                    <div class="col-4 col-md-4 form-group">
                        <input class="form-input" type="text" placeholder="Score">
                    </div>
                    <div class="col-8 col-md-4 form-group">
                        <button class="btn btn-sm btn-primary w-fluid btn-add">Add Subject</button>
                    </div>
                  </div>

                  <textarea class="form-input" placeholder="Description" rows="4"></textarea>

              </div>
            </div>
        </div>

        <div class="card-block bg-gray">
          <h4 class="form-legend">Upload Photo</h4>

          <div class="row upload-file-row">
            <div class="col-auto">
              <label class="upload-file">
                <input type="file">
                <span>+ Choose file</span>
              </label>
            </div>
            <div class="col-auto">
              <label class="upload-file">
                <input type="file">
                <span>+ Choose file</span>
              </label>
            </div>

            <div class="col-auto">
                <button class="btn btn-xs btn-white upload-btn">Upload</button>
                <button class="btn-help"><i class="icon-circle i-lg i-question"></i></button>
            </div>
          </div>

        </div>

        <div class="card-block">
            <label class="checkbox agreement-checkbox">
              <input type="checkbox">
              <span>I Agree that my personal information will be checked by the bank</span>
            </label>
            <button class="btn btn-primary btn-link loan-apply-btn">Apply</button>
          </div>
      </div>

    </div>

        
  </main>
</div>


    <div class="credo-page">
      <main>
    
        <div class="card loan-card">
          <div class="card-header">
              <h1 class="card-title">Loan Statement</h1>
          </div>
          <div class="nav-secondary">
              <ul>
                <li>
                  <a href="#">FAST LOAN</a>
                </li>
                <li>
                  <a href="#">CAR LOAN</a>
                </li>
                <li>
                  <a href="#" class="active">STUDENT LOAN</a>
                </li>
              </ul>
          </div>
          <div class="back-btn-wrap">
            <a href="#" class="back-btn">
              <span class="icon i-dropdown-arrow"></span> Go back
            </a>
          </div>
    
          <div class="card-body">    
              <div class="card-block">
                  <p class="text text-lg">Your application is under review</p>
              </div>
    
              <div class="table loan-info">
                <div class="t-row">
                  <div class="t-cell">
                      <div class="item">
                          <span class="name">Amount</span>
                          <strong class="value color-red">1,250.00 ₾ </strong>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name">Period</span>
                          <strong class="value color-red">7 Month</strong>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name">Application Sent on</span>
                          <strong class="value color-primary">12.02.2019</strong>
                      </div>
                  </div>
                  <div class="t-cell empty-cell">&nbsp;</div>
                  <div class="t-cell empty-cell">&nbsp;</div>
                </div>
                <div class="t-row bg-gray">
                  <div class="t-cell">
                      <div class="item">
                          <span class="name-sm">Pay Monthly</span>
                          <b class="value">0.00 ₾</b>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name-sm">Percent</span>
                          <b class="value">0.00 %</b>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="d-flex">
                          <div class="item">
                              <span class="name-sm">Grace Period</span>
                              <b class="value">0.00 ₾</b>
                          </div>
                          <button class="btn-help"><i class="icon-circle i-lg i-question"></i></button>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name-sm">Percent for Grace Period</span>
                          <b class="value">0.00 %</b>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name-sm">Percent for Grace Period</span>
                          <b class="value">43.41 %</b>
                      </div>
                  </div>
                </div>
              </div>
    
              <div class="card-block">
                <button class="btn btn-primary btn-link-reversed loan-back-btn">Back to Loans</button>
              </div>
          </div>
    
        </div>
    
            
      </main>
    </div>