<footer class="landing-footer">
    <div class="landing-container">

        <ul class="links">
          <li>
              <a href="#">FAQ</a>
          </li>
          <li>
              <a href="#">Security Terms & Services</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
        
        <p>CREDO © 2018</p>

        <div class="social-wrap">
            <a href="#" class="btn btn-sm btn-circle btn-outline-secondary"><i class="icon i-facebook"></i></a>
            <a href="#" class="btn btn-sm btn-circle btn-outline-secondary"><i class="icon i-twitter"></i></a>
            <a href="#" class="btn btn-sm btn-circle btn-outline-secondary"><i class="icon i-linkedin"></i></a>
        </div>

    </div>
</footer>