@import "../../../assets/scss/style.scss";

.landing-footer{
    padding: 33px 0;
    position: relative;
    z-index: 300;

    .landing-container,
    .landing-container > *{
        display: flex;
    }

    .landing-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .links{
        list-style: none;

        li{
            margin-right:30px;
            &:last-child{
                margin-right: 0;
            }
        }

        a{
            color: lighten( $color-black, 44% );
            text-decoration: underline;
            
            &:hover{
                text-decoration: none;
            }
        }
    }

    > p{
        margin: 0 78px;
        color: lighten( $color-black, 64% );
    }

    .social-wrap{
        .btn{
            margin: 0 5px;
        }
    }

    @media (max-width: $lg){
        &{
            .landing-container{
                .links{
                    li{
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    @media (max-width: $md){
        &{
            padding: $block-spacing-lg 0;

            .landing-container{
                flex-wrap: wrap;
            
                > *{
                    width: 100%;
                    justify-content: center;
                }
                > p{
                    order: 0;
                    margin-bottom: 13px;
                }
                .links{
                    order: 1;
                    margin-bottom: 15px;
                    li{
                        margin: 5px;
                    }
                }
                .social-wrap{
                    order: 2;
                    margin: 0;
                }
            }
        }
    }

    @media (max-width: $sm){
        &{
            .landing-container{
                .links{
                    display: block;
                    text-align: center;
                    li{
                        margin: 15px 0;
                    }
                }
            }
        }
    }
}