@import "../../assets/scss/style.scss";




.landing-page{
    min-height: 300px + $header-height;
    padding-top: $header-height;
    position: relative;
    z-index: 1;

    &::before{
        content: "";
        width: 100%;
        height: 300px;
        background: url("../../assets/images/landing/landing-background.svg") center no-repeat;
        background-size: cover;
        position: absolute;
        top: $header-height;
        left: 0;
        z-index: -1;
    }

    .landing-head{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 185px;

        h1{
            color: #fff;
            font-size: 55px;
            font-weight: 400;
        }
    }

    @media (max-width: $lg){
        &{
            .landing-head{
                h1{
                    font-size: 40px;
                }
            }
        }
    }
    @media (max-width: $sm){
        &{
            .landing-head{
                height: 120px;
                h1{
                    font-size: 24px;
                }
            }
        }
    }
}

//იგივეა რაც tutorial-footer.component.css
.tutorial-footer{
    background-color: $color-white;
    position: relative;
    z-index: 300;

    .tutorial-footer-row{
        display: flex;
        width: 100%;
        max-width: 1170px;
    
        .left-col,
        .right-col{
            display: flex;
            width: 50%;
            height: 80px;
        }
    }

    > .wrap{
        position: relative;
        .left-col,
        .right-col{
            align-items: center;
            padding: 0 30px;
        }

        .left-col{
            background-color: $color-base;
            padding-right: 0 !important;

            > span{
                color: $color-white;
                font-size: 14px;
                opacity: 0.4;
                margin-right: 20px;
            }

            .toggle-btn{
                padding-left: 18px;
                padding-right: 18px;
                
                .i-dropdown-arrow{
                    margin-left: 14px
                }

                .i-dropdown-arrow::before{
                    background-image: url($i-dropdown-arrow--white);
                }
                &:hover{
                    border-color: rgba($color-white, 0.35);
                }
                &.active{
                    background-color: $color-white;
                    border-color: $color-white;
                    color: $color-base;

                    .i-dropdown-arrow::before{
                        background-image: url($i-dropdown-arrow);
                    }

                    &:hover{
                        background-color: rgba($color-white, 0.9);
                        border-color: rgba($color-white, 0.9);
                    }
                }
                &:not(.active){
                    .i-dropdown-arrow{
                        transform: rotate(180deg);
                    }
                }
            }

            &::after{
                content: "";
                display: block;
                width: 162px;
                height: 100%;
                background: url("/assets/images/tutorial_footer_bg.png") right 0 no-repeat;
                margin-left: auto;
            }
        }

        .right-col{
            .name{
                color: lighten( $color-black, 29% );
                font-size: 18px;
                font-weight: normal;
                margin-right: 35px;
            }
            .count{
                color: lighten( $color-black, 60% );
                font-size: 12px;
            }
        }
    }
    
    .tutorials-container{
        align-items: stretch;
        height: 415px;
        border: 1px solid #ddd;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        position: absolute;
        bottom: 100%;
        left: 0;

        > div{
            width: 50%;
            background-color: #fff;
        }

        .tutorial-list{
            ul {
                list-style: none;
            }
    
            .item{
                display: flex;
                align-items: center;
                border-bottom: 1px solid whitesmoke;
                padding: 12px 30px;
                cursor: pointer;
                > div{
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    &:first-child{
                        flex-grow: 1;
                        padding-right: 22px;
                    }
                    &:last-child{
                        flex-shrink: 0;
                    }
                }
                .name{
                    display: block;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: lighten( $color-black, 29% );
                    font-size: 14px;
                    opacity: 0.6;
                }
                .description{
                    white-space: nowrap;
                    color: lighten( $color-black, 29% );
                    opacity: 0.6;
                }
    
                .icon-circle{
                    margin-left: 20px;
                }
    
                .i-dropdown-arrow{
                    display: block;
                    width: 34px;
                    height: 34px;
                    border-color: $color-base;
                    opacity: 0.3;
                    &::before{
                        background-position: center 12px;
                    }
                }
    
                &:hover{
                    .name{
                        opacity: 1;
                    }
                    .i-dropdown-arrow{
                        opacity: 0.8;
                    }
                }
            }
    
            li{
                li{
                    background-color: lighten( $color-black, 98% );
                    .item{
                        padding-top: 5px;
                        padding-bottom: 5px;
                        .name,
                        .description{
                            opacity: 1;
                        }
                        .i-play{
                            opacity: 0.6;
                            border: 0;
                            &::before{
                                background-image: url("/assets/images/icons/play.svg");
                            }
                        }
                        
                        &:hover,
                        &.selected{
                            .name{
                                font-weight: 600;
                            }
                            .i-play{
                                opacity: 1;
                            }
                        }
                    }
                }
                &.open {
                    .name,
                    .description,
                    .i-dropdown-arrow{
                        opacity: 1;
                    }
                    .i-dropdown-arrow{
                        background-color: $color-primary;
                        border-color: $color-primary;
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        &::before{
                            background-image: url($i-dropdown-arrow--white);
                        }
                    }
                }
            }
    
        }
    
        .tutorial-video{
            padding: 30px;
            position: relative;
    
            .close-btn{
                background-color: $color-white;
                position: absolute;
                top: 18px;
                right: 18px;
                &:hover{
                    background-color: rgba($color-white,0.8);
                }
            }
    
            &-container{
                width: 100%;
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                margin-bottom: 25px;
                video{
                    display: block;
                    width: 100%;
                    max-height: 300px;
                }
            }
            &-name{
                color: lighten( $color-black, 29% );
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    @media (max-width: $xl){
        &{
            > .wrap .left-col,
            > .wrap .right-col,
            .tutorials-container .tutorial-list .item{
                padding-left: 20px;
                padding-right: 20px;
            }

            > .wrap .left-col{
                min-width: 460px;
            }
            > .wrap .right-col .name{
                margin-right: 15px;
            }

            .tutorials-container .tutorial-video{
                padding: 20px;
            }
        }
    }
    @media (max-width: 1040px){
        > .wrap .right-col .name{
            margin-right: 10px;
            font-size: 14px;
        }
    }
    @media (max-width: $lg){
        &{
            display: none;
        }
    }
}

//განსხვავებული სტილი

.tutorial-footer{
    .tutorial-footer-row{
        width: 1164px;
    }
    > .wrap{
        margin: 0 auto;
    }
    .tutorials-container{
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}



