@import "../../../assets/scss/style.scss";
.ads-card{
    overflow: hidden;
    .bg-img {
        width: 100%;
        height: 145px;
    }
    .card-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;

        > div > *{
            margin: 6px 10px 6px 0;
        }
        h5{
            color: lighten( $color-black, 29% );
            font-size: 18px;
            font-weight: normal;
        }
        span{
            color: lighten( $color-black, 60% );
            font-size: 12px;
        }

        @media (max-width: $xl) {
            &{
                padding-left: $block-spacing-lg;
                padding-right: $block-spacing-lg;    
            }
        }
        @media (max-width: $md) {
            &{
                padding-left: $block-spacing-md;
                padding-right: $block-spacing-md; 
            }
        }
        @media (max-width: $xs) {
            &{
                padding-left: $block-spacing-xs;
                padding-right: $block-spacing-xs;    
            }
        }
    }
}