<div class="credo-page">
    <main>
  
      <div class="card event-card">
        <div class="card-header">
            <h1 class="card-title">Edit Event</h1>
        </div>
        <div class="back-btn-wrap">
          <a href="#" class="back-btn">
            <span class="icon i-dropdown-arrow"></span> Go back
          </a>
        </div>
        
        <div class="card-body">
          <div class="card-block">
            <div class="card-block-title">Choose label</div>

            <div class="row-sm event-btn-row">
              <div class="col-6 col-md-auto">
                <button class="btn add-loan-btn">
                    <span>Loan</span>
                </button>
              </div>
              <div class="col-6 col-md-auto">
                <button class="btn add-bill-btn selected">
                    <span>Bill</span>
                </button>
              </div>
              <div class="col-6 col-md-auto">
                <button class="btn add-income-btn">
                    <span>Income</span>
                </button>
              </div>
              <div class="col-6 col-md-auto">
                <button class="btn add-custom-event-btn">
                    <span>Custom</span>
                </button>
              </div>
            </div>
          </div>

          <div class="card-block">
              <div class="card-block-title">Details</div>

              <div class="row-sm fieldset">
                <div class="col-12 col-md-3 form-group">
                  <input class="form-input" type="text" placeholder="Choose Provider">
                </div>
                <div class="col-12 col-md-3 form-group">
                  <input class="form-input" type="text" placeholder="Identificator">
                </div>
                <div class="col-12 col-md-3 form-group">
                  <input class="form-input calendar-input" type="text" placeholder="Date">
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                  <div class="row-sm">
                    <div class="col-12 col-md-6 form-group">
                        <input class="form-input" type="text" placeholder="Amount">
                    </div>
                    <div class="col-12 col-md-6 form-group">
                        <input class="form-input" type="text" placeholder="Currency">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row-sm radio-fieldset">

                <div class="col-12 col-sm-auto form-group">
                    <label class="radio">
                      <input type="radio" name="eventRadios" checked>
                      <span>One Time</span>
                    </label>
                </div>
                <div class="col-12 col-sm-auto form-group">
                    <label class="radio">
                      <input type="radio" name="eventRadios">
                      <span>Repeat Monthly</span>
                    </label>
                </div>
                <div class="col-12 col-sm-auto form-group">
                    <label class="radio">
                      <input type="radio" name="eventRadios">
                      <span>Repeat Yearly</span>
                    </label>
                </div>
              </div>

              <div class="row-sm fieldset">
                <div class="col-12 col-md-3 form-group">
                  <input class="form-input calendar-input" type="text" placeholder="Date">
                </div>
              </div>

          </div>
        </div>

        <div class="card-footer">
          <div class="row-sm btn-row">
            <div class="col-12 col-md-auto">
              <button class="btn btn-primary btn-link">Add</button>
            </div>
          </div>
        </div>

      </div>

  </main>
</div>