@import "../../assets/scss/style.scss";

.settings-card{
    .card-block:not(:last-child){
        border-bottom: 1px solid $border-color-base;
    }

    .form-input-with-label{
        .form-input-label{
            width: auto;
            white-space: nowrap;
        }
    }

    .btn-row{
        margin-bottom: 0;
        .btn{
            width: 100%;
            min-width: unset;
        }
    }

    .save-btn{
        width: 140px;
    }

    .pass-container{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;

        .toggler{
            .i-arrow{
                opacity: 0.4;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

            &:hover{
                background-color: $bg-gray--light;
            }
        }

        &.opened{
            .toggler .i-arrow{
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }
    }

    @media (max-width: $md) {
        .btn-row{
            margin-left: -15px;
            margin-right: -15px;
            > div{
                padding-left: 15px;
                padding-right: 15px;
            }
            > div:first-child{
                order: 2;
                border-top: 1px solid $border-color-base;
                padding-top: 20px;
            }
        }
    }
}