<div class="credo-page">
  <main>

    <div class="card settings-card">
      <div class="card-header">
        <h1 class="card-title">
            Settings
        </h1>
      </div>
      <div class="card-body">
          <div class="card-block-header">
              <h2 class="card-title">Personal Information</h2>
          </div>
          
          <div class="card-block fieldset">
            <div class="upload-avatar-wrap form-group">
                <label>
                    <div class="avatar-sm" style="background-image: url('assets/images/0/avatar.jpg')"></div>
                    <span class="text">Change Profile Picture</span>
                    <input type="file">
                </label>
            </div>

            <div class="row-sm">
              <div class="col-12 col-md-6 col-xl-3 form-group">
                  <label class="form-input-with-label disabled">
                    <span class="form-input-label">Name *</span>
                    <input type="text" value="Alexandre">
                  </label>
              </div>
              <div class="col-12 col-md-6 col-xl-3 form-group">
                  <label class="form-input-with-label disabled">
                    <span class="form-input-label">Surname *</span>
                    <input type="text" value="Mamrikishvili">
                  </label>
              </div>
              <div class="col-12 col-md-6 col-xl-3 form-group">
                  <label class="form-input-with-label disabled">
                    <span class="form-input-label">Birth Date *</span>
                    <input type="text" value="14/05/1996">
                  </label>
              </div>
              <div class="col-12 col-md-6 col-xl-3 form-group">
                  <label class="form-input-with-label disabled">
                    <span class="form-input-label">ID Number *</span>
                    <input type="text" value="600023432423">
                  </label>
              </div>
              <div class="col-12 col-md-6 col-xl-3 form-group">
                  <label class="form-input-with-label disabled">
                    <span class="form-input-label">Mobile *</span>
                    <input type="text" value="+995 555 34 34 34">
                  </label>
              </div>
              <div class="col-12 col-md-6 col-xl-3 form-group">
                  <label class="form-input-with-label">
                    <span class="form-input-label">Address</span>
                    <input type="text" value="Gagarini #29">
                  </label>
              </div>
              <div class="col-12 col-md-6 col-xl-3 form-group">
                  <label class="form-input-with-label">
                    <span class="form-input-label">E-mail</span>
                    <input type="text" value="hey@gmail.com">
                  </label>
              </div>
              <div class="col-12 col-md-6 col-xl-3 form-group">
                  <label class="form-input-with-label">
                    <span class="form-input-label">S.Center</span>
                    <input type="text" value="Vajha-Pshavela N12">
                  </label>
              </div>
            </div>

            <div class="card-row">
              <p class="text text-10 color-base--light">* Forms marked with (*) are not editable/or not editable in internet bank, please contact your service center.</p>
            </div>

            <button class="btn btn-primary btn-xs save-btn">Save</button>
          </div>

          <div class="pass-container">
              <div class="card-block-header toggler">
                  <h2 class="card-title">Change Password</h2>

                  <i class="icon i-arrow"></i>
              </div>
              <div class="card-block fieldset hidden">
                <div class="row-sm">
                    <div class="col-12 col-md-6 col-xl-3 form-group">
                        <label class="form-input-with-label">
                          <span class="form-input-label">Old Password</span>
                          <input type="password">
                        </label>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 form-group">
                        <label class="form-input-with-label">
                          <span class="form-input-label">New Password</span>
                          <input type="password">
                        </label>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 form-group">
                        <label class="form-input-with-label">
                          <span class="form-input-label">Repeat Password</span>
                          <input type="password">
                        </label>
                    </div>
                </div>

                <div class="row-sm btn-row">
                    <div class="col-12 col-md-6 col-xl-3">
                        <button class="btn btn-secondary">Get Code</button>
                    </div>
                </div>

              </div>
          </div>
      </div>
    </div>


    <div class="card settings-card">
        <div class="card-header">
          <h1 class="card-title">
              Settings
          </h1>
        </div>
        <div class="card-body">
            <div class="card-block-header">
                <h2 class="card-title">Personal Information</h2>
            </div>
            <div class="card-block fieldset">

              <div class="upload-avatar-wrap form-group">
                  <label>
                      <div class="avatar-sm" style="background-image: url('assets/images/icons/no_avatar.svg')"></div>
                      <span class="text">Upload an image</span>
                      <input type="file">
                  </label>
              </div>

              <div class="row-sm">
                <div class="col-12 col-md-6 col-xl-3 form-group">
                    <label class="form-input-with-label disabled">
                      <span class="form-input-label">Name *</span>
                      <input type="text" value="Alexandre">
                    </label>
                </div>
                <div class="col-12 col-md-6 col-xl-3 form-group">
                    <label class="form-input-with-label disabled">
                      <span class="form-input-label">Surname *</span>
                      <input type="text" value="Mamrikishvili">
                    </label>
                </div>
                <div class="col-12 col-md-6 col-xl-3 form-group">
                    <label class="form-input-with-label disabled">
                      <span class="form-input-label">Birth Date *</span>
                      <input type="text" value="14/05/1996">
                    </label>
                </div>
                <div class="col-12 col-md-6 col-xl-3 form-group">
                    <label class="form-input-with-label disabled">
                      <span class="form-input-label">ID Number *</span>
                      <input type="text" value="600023432423">
                    </label>
                </div>
                <div class="col-12 col-md-6 col-xl-3 form-group">
                    <label class="form-input-with-label disabled">
                      <span class="form-input-label">Mobile *</span>
                      <input type="text" value="+995 555 34 34 34">
                    </label>
                </div>
                <div class="col-12 col-md-6 col-xl-3 form-group">
                    <label class="form-input-with-label">
                      <span class="form-input-label">Address</span>
                      <input type="text" value="Gagarini #29">
                    </label>
                </div>
                <div class="col-12 col-md-6 col-xl-3 form-group">
                    <label class="form-input-with-label">
                      <span class="form-input-label">E-mail</span>
                      <input type="text" value="hey@gmail.com">
                    </label>
                </div>
                <div class="col-12 col-md-6 col-xl-3 form-group">
                    <label class="form-input-with-label">
                      <span class="form-input-label">S.Center</span>
                      <input type="text" value="Vajha-Pshavela N12">
                    </label>
                </div>
              </div>
  
              <div class="card-row">
                <p class="text text-10 color-base--light">* Forms marked with (*) are not editable/or not editable in internet bank, please contact your service center.</p>
              </div>
  
              <button class="btn btn-primary btn-xs save-btn">Save</button>
            </div>
  
            <div class="pass-container opened">
                <div class="card-block-header toggler">
                    <h2 class="card-title">Change Password</h2>
  
                    <i class="icon i-arrow"></i>
                </div>
                <div class="card-block fieldset">
                  <div class="row-sm">
                      <div class="col-12 col-md-6 col-xl-3 form-group">
                          <label class="form-input-with-label">
                            <span class="form-input-label">Old Password</span>
                            <input type="password">
                          </label>
                      </div>
                      <div class="col-12 col-md-6 col-xl-3 form-group">
                          <label class="form-input-with-label">
                            <span class="form-input-label">New Password</span>
                            <input type="password">
                          </label>
                      </div>
                      <div class="col-12 col-md-6 col-xl-3 form-group">
                          <label class="form-input-with-label">
                            <span class="form-input-label">Repeat Password</span>
                            <input type="password">
                          </label>
                      </div>
                  </div>
  
                  <div class="row-sm btn-row">
                      <div class="col-12 col-md-6 col-xl-3">
                          <button class="btn btn-secondary">Get Code</button>
                      </div>
                  </div>
  
                </div>
            </div>
        </div>
      </div>


      <div class="card settings-card">
          <div class="card-header">
            <h1 class="card-title">
                Settings
            </h1>
          </div>
          <div class="card-body">
              <div class="card-block-header">
                  <h2 class="card-title">Personal Information</h2>
              </div>
              <div class="card-block fieldset">

                <div class="upload-avatar-wrap form-group">
                    <label>
                        <div class="avatar-sm" style="background-image: url('assets/images/0/avatar.jpg')"></div>
                        <span class="text">Change Profile Picture</span>
                        <input type="file">
                    </label>
                </div>

                <div class="row-sm">
                  <div class="col-12 col-md-6 col-xl-3 form-group">
                      <label class="form-input-with-label disabled">
                        <span class="form-input-label">Name *</span>
                        <input type="text" value="Alexandre">
                      </label>
                  </div>
                  <div class="col-12 col-md-6 col-xl-3 form-group">
                      <label class="form-input-with-label disabled">
                        <span class="form-input-label">Surname *</span>
                        <input type="text" value="Mamrikishvili">
                      </label>
                  </div>
                  <div class="col-12 col-md-6 col-xl-3 form-group">
                      <label class="form-input-with-label disabled">
                        <span class="form-input-label">Birth Date *</span>
                        <input type="text" value="14/05/1996">
                      </label>
                  </div>
                  <div class="col-12 col-md-6 col-xl-3 form-group">
                      <label class="form-input-with-label disabled">
                        <span class="form-input-label">ID Number *</span>
                        <input type="text" value="600023432423">
                      </label>
                  </div>
                  <div class="col-12 col-md-6 col-xl-3 form-group">
                      <label class="form-input-with-label disabled">
                        <span class="form-input-label">Mobile *</span>
                        <input type="text" value="+995 555 34 34 34">
                      </label>
                  </div>
                  <div class="col-12 col-md-6 col-xl-3 form-group">
                      <label class="form-input-with-label">
                        <span class="form-input-label">Address</span>
                        <input type="text" value="Gagarini #29">
                      </label>
                  </div>
                  <div class="col-12 col-md-6 col-xl-3 form-group">
                      <label class="form-input-with-label">
                        <span class="form-input-label">E-mail</span>
                        <input type="text" value="hey@gmail.com">
                      </label>
                  </div>
                  <div class="col-12 col-md-6 col-xl-3 form-group">
                      <label class="form-input-with-label">
                        <span class="form-input-label">S.Center</span>
                        <input type="text" value="Vajha-Pshavela N12">
                      </label>
                  </div>
                </div>
    
                <div class="card-row">
                  <p class="text text-10 color-base--light">* Forms marked with (*) are not editable/or not editable in internet bank, please contact your service center.</p>
                </div>
    
                <button class="btn btn-primary btn-xs save-btn">Save</button>
              </div>
    
              <div class="pass-container opened">
                  <div class="card-block-header toggler">
                      <h2 class="card-title">Change Password</h2>
    
                      <i class="icon i-arrow"></i>
                  </div>
                  <div class="card-block fieldset">
                    <div class="row-sm">
                        <div class="col-12 col-md-6 col-xl-3 form-group">
                            <label class="form-input-with-label">
                              <span class="form-input-label">Old Password</span>
                              <input type="password">
                            </label>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 form-group">
                            <label class="form-input-with-label">
                              <span class="form-input-label">New Password</span>
                              <input type="password">
                            </label>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 form-group">
                            <label class="form-input-with-label">
                              <span class="form-input-label">Repeat Password</span>
                              <input type="password">
                            </label>
                        </div>
                    </div>
    
                    <div class="row-sm btn-row">
                        <div class="col-12 col-md-6 col-xl-3">
                            <button class="btn btn-primary">Confirm</button>
                        </div>
                        <div class="col-12 col-md-auto">
                          <div class="sms-wrap">
                              <div class="form-input-with-label">
                                  <span>SMS</span>
                                  <input type="text" placeholder="0-0-0-0">
                                  <button>
                                    <i class="icon i-reload"></i>
                                  </button>
                              </div>
                              <p>
                                  <span>Code expires in</span>
                                  <b>00:34 Sec</b>
                              </p>
                          </div>
                        </div>
                    </div>
    
                  </div>
              </div>
          </div>
        </div>

  </main>
</div>