<div class="accounts-list">
    <ul class="table">
        <li class="t-row t-head">
            <div class="t-cell card-cell">&nbsp;</div>
            <div class="t-cell"><span>ანგარიშის ნომერი</span></div>
            <div class="t-cell"><span>გახსნის თარიღი</span></div>
            <div class="t-cell amount-cell"><span>ნაშთი</span></div>
            <div class="t-cell arrow-cell">&nbsp;</div>
        </li>
        <li class="t-row">
            <div class="t-cell card-cell">
                <div>
                    <figure><img src="/assets/images/0/savings.png" alt="savings"></figure>
                    <div>
                        <span class="name">ანაბარი</span>
                        <span class="description">სადეპოზიტო სერტიფიკატი</span>
                    </div>
                </div>
            </div>
            <div class="t-cell">
                <div class="cell-name">ანგარიშის ნომერი</div>
                <span class="account-number">GE3434TT23100123332865</span>
            </div>
            <div class="t-cell">
                <div class="cell-name">გახსნის თარიღი</div>
                <span>12.12.19</span>
            </div>
            
            <div class="t-cell amount-cell">
                <div class="cell-name">ნაშთი</div>
                <span class="amount">10 279 223.00 GEL</span>
            </div>
            
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow--blue"></i>
            </div>
        </li>
    </ul>
</div>

<!-- no data -->
<div class="no-data-wrap hidden">
    <h3>Savings</h3>
    <p>You don't have any saving yet, would you like to open?</p>
</div>