@import "../../../../assets/scss/style.scss";

.accounts-list{
	.card-cell{
		width: 35%;
    }
	.t-cell:nth-child(2){
		width: 30%;
	}
	.t-cell:nth-child(3){
		width: 35%;
    }


    // .card-cell{
	// 	width: 30%;
	// }
	// .t-cell:nth-child(2),
	// .t-cell:nth-child(3){
    //     padding-left: 54px;
	// }
	// .t-cell:nth-child(2){
	// 	width: 35%;
	// }
	// .t-cell:nth-child(3){
	// 	width: 35%;
	// }



    .amount{
        &:not([class*=color-]){
            color: lighten( $color-black, 55% );
        }
    }

    .i-arrow{
        opacity: 0.4;
    }

    &:hover{
        //background-color: lighten( $color-black, 98% );

        .i-arrow{
            opacity: 1;
        }
    }

    @media (max-width: $xl){
        &{
            .card-cell{
                max-width: 250px;
            }
            .t-cell:nth-child(2){
                width: 35%;
            }
            .t-cell:nth-child(3){
                width: 35%;
            }
        }
    }
    @media (max-width: $md){
        &{
            .t-cell:nth-child(2),
            .t-cell:nth-child(3){
                width: 50%;
            }
        }
	}
}