<div class="credo-page">
  <main>
    <div class="card utility-card">
      <div class="card-header">
          <h1 class="card-title">კომუნალური გადახდები</h1>

          <div class="controls">
              <div class="row-sm">
                <div class="col-12 col-md-auto">
                    <input class="form-input input-sm search-input" placeholder="Search keyword" type="text">
                </div>
                <div class="col-12 col-md-auto">
                    <button class="btn btn-sm btn-outline-secondary btn-add">Add new</button>
                </div>
              </div>
          </div>

          <div class="back-btn-wrap">
            <a href="#" class="back-btn">
              <span class="icon i-dropdown-arrow"></span> უკან
            </a>
          </div>
      </div>

      <div class="card-body bill-item-list">
        <div class="card-block bill-item">
          <div class="provider-wrap">
            <figure>
              <img src="../../../assets/images/0/bills/01.png" alt="">
            </figure>
            <div>
              <span class="name">პროვაიდერი</span>
              <span class="description">თელასის ელ. ენერგია</span>
            </div>
          </div>
          <div>
              <span class="name">იდენთიფიკატორი</span>
              <span class="description">1234567</span>
          </div>
          <div>
              <span class="name">აბონენტი</span>
              <span class="description">თ.მ.</span>
          </div>
          <div>
              <span class="name">საკომისიო</span>
              <span class="description">5.00 ₾</span>
          </div>

          <div class="controls">
            <button class="btn btn-secondary choose-btn">Choose</button>
            <button class="btn-icon"><i class="icon i-trash"></i></button>
          </div>
        </div>

        <div class="card-block bill-payment-wrap">
          <div class="row-sm">
            <div class="account-col">
              <input class="form-input"  type="text" placeholder="GE3434TT23100123332865">
            </div>
            <div class="payment-col">
              <label class="form-input-with-label">
                <span class="form-input-label">გადასახდელი თანხა</span>
                <input  type="text" placeholder="00.00">
                <span>₾</span>
              </label>
            </div>
            <div class="btn-col">
              <button class="btn btn-primary w-fluid btn-link">Transfer</button>
            </div>
          </div>
        </div>

        <div class="card-block bill-item">
          <div class="provider-wrap">
            <figure>
              <img src="../../../assets/images/0/bills/04.png" alt="">
            </figure>
            <div>
              <span class="name">პროვაიდერი</span>
              <span class="description">ყაზტრანსგაზის ბუნებრივი აირი</span>
            </div>
          </div>
          <div>
              <span class="name">იდენთიფიკატორი</span>
              <span class="description">123456789</span>
          </div>
          <div>
              <span class="name">აბონენტი</span>
              <span class="description">თ.მ.</span>
          </div>
          <div>
              <span class="name">საკომისიო</span>
              <span class="description">5.00 ₾</span>
          </div>

          <div class="controls">
            <button class="btn btn-secondary choose-btn">Choose</button>
            <button class="btn-icon"><i class="icon i-trash"></i></button>
          </div>
        </div>

        <div class="card-block bill-item">
          <div class="provider-wrap">
            <figure>
              <img src="../../../assets/images/0/bills/05.png" alt="">
            </figure>
            <div>
              <span class="name">პროვაიდერი</span>
              <span class="description">მაგთის ოპტიკური ინტერნეტი</span>
            </div>
          </div>
          <div>
              <span class="name">იდენთიფიკატორი</span>
              <span class="description">123456789</span>
          </div>
          <div>
              <span class="name">აბონენტი</span>
              <span class="description">თ.მ.</span>
          </div>
          <div>
              <span class="name">საკომისიო</span>
              <span class="description">5.00 ₾</span>
          </div>

          <div class="controls">
            <button class="btn btn-secondary choose-btn">Choose</button>
            <button class="btn-icon"><i class="icon i-trash"></i></button>
          </div>
        </div>

        <div class="card-block bill-item">
          <div class="provider-wrap">
            <figure>
              <img src="../../../assets/images/0/bills/05.png" alt="">
            </figure>
            <div>
              <span class="name">პროვაიდერი</span>
              <span class="description">სილქნეტის სახლის/უკაბელო ტელ/DSL</span>
            </div>
          </div>
          <div>
              <span class="name">იდენთიფიკატორი</span>
              <span class="description">322352587</span>
          </div>
          <div>
              <span class="name">აბონენტი</span>
              <span class="description">თ.მ.</span>
          </div>
          <div>
              <span class="name">საკომისიო</span>
              <span class="description">5.00 ₾</span>
          </div>

          <div class="controls">
            <button class="btn btn-secondary choose-btn">Choose</button>
            <button class="btn-icon"><i class="icon i-trash"></i></button>
          </div>
        </div>

        <div class="card-block bill-item">
          <div class="provider-wrap">
            <figure>
              <img src="../../../assets/images/0/bills/03.png" alt="">
            </figure>
            <div>
              <span class="name">პროვაიდერი</span>
              <span class="description">ბათუმის შოთა რუსთაველის სახელმწიფო უნივერსიტეტი</span>
            </div>
          </div>
          <div>
              <span class="name">იდენთიფიკატორი</span>
              <span class="description">322352587</span>
          </div>
          <div>
              <span class="name">აბონენტი</span>
              <span class="description">თ.მ.</span>
          </div>
          <div>
              <span class="name">საკომისიო</span>
              <span class="description">5.00 ₾</span>
          </div>

          <div class="controls">
            <button class="btn btn-secondary choose-btn">Choose</button>
            <button class="btn-icon"><i class="icon i-trash"></i></button>
          </div>
        </div>

      </div>

    </div>
  </main>
</div>
