<div class="credo-page">
    <main>
        <div class="card accounts-card">
            <div class="card-header">
                <h1 class="card-title">My products</h1>
            </div>
            <app-products-menu></app-products-menu>
            
            <div class="card-body">
                <app-saving-list></app-saving-list>
            </div>
        </div>

        <div class="card transactions-card">
            <div class="nav-secondary">
                <ul>
                    <li>
                    <a href="#" class="active">Transactions</a>
                    </li>
                    <li>
                    <a href="#">Blocked</a>
                    </li>
                    <li>
                    <a href="#">Details</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">
                <ul class="table transactions-list">
                    <li class="t-row">
                        <div class="t-cell status-cell">
                        <i class="icon i-sm i-status-1"></i>
                        </div>
                        <div class="t-cell fluid-cell">
                        <div class="table">
                            <div class="t-row">
                            <div class="t-cell date-cell">
                                <span class="transaction-date">ნოვ. 01 / 2018</span>
                            </div>
                            <div class="t-cell description-cell">
                                <span class="transaction-description">POS - NIKORA 289, ბარათი VISA, ტრანზაქციის თანხა 52.33 GEL, May 27 2019 7:20P</span>
                            </div>
                            <div class="t-cell category-cell">
                                <span class="transaction-category">პროდუქტები სახლისთვის</span>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="t-cell amount-cell">
                            <span class="transaction-amount">-25.00 GEL</span>
                        </div>
                        <div class="t-cell arrow-cell">
                            <i class="icon i-arrow"></i>
                        </div>
                        <div class="t-cell more-options-cell">
                            <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                        </div>
                    </li>
                    <li class="t-row">
                        <div class="t-cell status-cell">
                        <i class="icon i-sm i-status-1"></i>
                        </div>
                        <div class="t-cell fluid-cell">
                        <div class="table">
                            <div class="t-row">
                            <div class="t-cell date-cell">
                                <span class="transaction-date">ნოვ. 01 / 2018</span>
                            </div>
                            <div class="t-cell description-cell">
                                <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                            </div>
                            <div class="t-cell category-cell">
                                <span class="transaction-category">Transfer to Someone</span>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="t-cell amount-cell">
                            <span class="transaction-amount">-25.00 GEL</span>
                        </div>
                        <div class="t-cell arrow-cell">
                            <i class="icon i-arrow"></i>
                        </div>
                        <div class="t-cell more-options-cell">
                            <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                        </div>
                    </li>
                    <li class="t-row">
                        <div class="t-cell status-cell">
                        <i class="icon i-sm i-status-1"></i>
                        </div>
                        <div class="t-cell fluid-cell">
                        <div class="table">
                            <div class="t-row">
                            <div class="t-cell date-cell">
                                <span class="transaction-date">ნოვ. 01 / 2018</span>
                            </div>
                            <div class="t-cell description-cell">
                                <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                            </div>
                            <div class="t-cell category-cell">
                                <span class="transaction-category">Transfer to Someone</span>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="t-cell amount-cell">
                            <span class="transaction-amount">-25.00 GEL</span>
                        </div>
                        <div class="t-cell arrow-cell">
                            <i class="icon i-arrow"></i>
                        </div>
                        <div class="t-cell more-options-cell">
                            <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>