<div class="accounts-list">
    <ul class="table">
        <li class="t-row t-head">
            <div class="t-cell card-cell"><span>ანგარიშის ნომერი</span></div>
            <div class="t-cell"><span>ნაშთი</span></div>
            <div class="t-cell"><span>ბლოკირებული</span></div>
            <div class="t-cell card-blocked-cell">&nbsp;</div>
            <div class="t-cell amount-cell"><span>ხელმისაწვდომი</span></div>
            <div class="t-cell arrow-cell">&nbsp;</div>
        </li>
        <li class="t-row">
            <div class="t-cell card-cell">
                <div>
                    <figure><img src="/assets/images/0/card1.png" alt="card 1"></figure>
                    <div>
                        <span class="name">VISA GOLD - პერსონალური ბარათი</span>
                        <span class="description">GE3434TT23100123332865</span>
                    </div>
                    <a class="share-btn" href="#"><i class="icon i-share"></i></a>
                </div>
            </div>

            <div class="t-cell">
                <div class="cell-name">ნაშთი</div>
                <span>23.00 GEL /</span> <span>11.00 USD /</span> <span>8.00 EUR</span>
            </div>

            <div class="t-cell">
                <div class="cell-name">ბლოკირებული</div>
                <span>3.00 GEL</span>
            </div>

            <div class="t-cell card-blocked-cell">&nbsp;</div>

            <div class="t-cell amount-cell">
                <div class="cell-name">ხელმისაწვდომი</div>
                <span class="amount">223.00 GEL</span>
            </div>
            
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow--blue"></i>
            </div>
        </li>
        <li class="t-row">
            <div class="t-cell card-cell">
                <div>
                    <figure><img src="/assets/images/0/card2.png" alt="card 2"></figure>
                    <div>
                        <span class="name">VISA ELECTRON - პერსონალური ბარათი</span>
                        <span class="description">GE3434TT23100123332865</span>
                    </div>
                    <a class="share-btn" href="#"><i class="icon i-share"></i></a>
                </div>
            </div>
            <div class="t-cell">
                <div class="cell-name">ნაშთი</div>
                <span>20 563.00 GEL /</span> <span>1 920 011.00 USD /</span> <span>1598.00 EUR</span>
            </div>
            <div class="t-cell">
                <div class="cell-name">ბლოკირებული</div>
                <span>10 000 003.00 GEL</span>
            </div>
            <div class="t-cell card-blocked-cell">
                <i _ngcontent-byb-c7="" class="icon i-lock"></i>
                <span class="cell-name">დაბლოკილი ბარათი</span>
            </div>
            <div class="t-cell amount-cell">
                <div class="cell-name">ხელმისაწვდომი</div>
                <span class="amount">10 279 223.00 GEL</span>
            </div>
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow--blue"></i>
            </div>
        </li>
    </ul>
</div>