@import "../../../../assets/scss/style.scss";


.accounts-list{
	.card-cell{
		width: 30%;
	}
	.t-cell:nth-child(2),
	.t-cell:nth-child(3){
        padding-left: 54px;
	}
	.t-cell:nth-child(2){
		width: 35%;
		span{
			display: inline-block;
			white-space: nowrap;
		}
	}
	.t-cell:nth-child(3){
		width: 35%;
	}

	@media (max-width: $xl){
		&{
			.card-cell{
				width: 25%;
				max-width: 258px;
			}
			.t-cell:nth-child(2),
			.t-cell:nth-child(3){
				padding-left: 30px;
			}
			.t-cell:nth-child(2){
				width: 45%;
			}
			.t-cell:nth-child(3){
				width: 30%;
			}
		}
	}
	@media (max-width: 1078px){
        &{
            .t-cell:nth-child(2){
                padding-left: 20px;
            }
            .t-cell:nth-child(3){
                padding-left: 11px;
            }
        }
	}
	@media (max-width: $lg){
        &{
            .card-cell{
                width: 45%;
            }
            .t-cell:nth-child(2){
                width: 30%;
            }
            .t-cell:nth-child(3){
                width: 35%;
            }
        }
	}
	@media (min-width: $md + 1) and (max-width: $lg){
		.t-cell:nth-child(2) span{
			display: block;
		}
	}
	@media (max-width: $md){
        &{
			.t-cell:nth-child(2),
			.t-cell:nth-child(3){
                width: 50%;
            }
        }
	}
}