<div class="credo-page">
  <main>
    <div class="card utility-card">
      <div class="card-header">
          <h1 class="card-title">კომუნალური გადახდები</h1>

          <div class="controls">
            <div class="row-sm">
              <div class="col-12 col-md-auto">
                  <input class="form-input input-sm search-input" placeholder="Search keyword" type="text">
              </div>
            </div>
        </div>

        <div class="back-btn-wrap">
          <a href="#" class="back-btn">
            <span class="icon i-dropdown-arrow"></span> უკან
          </a>
        </div>
      </div>

      <div class="card-body">

        <div class="card-block bill-search-container">
            <div class="row-sm">
              <div class="col-12 col-md-6">
                <input class="form-input"  type="text" placeholder="GE3434TT23100123332865">
              </div>
              <div class="col-12 col-md-auto">
                  <button class="btn btn-secondary">Check</button>
              </div>
            </div>
        </div>

        <div class="bill-add-container">
          <div class="card-block bill-item">
            <div class="provider-wrap">
              <figure>
                <img src="../../../assets/images/0/bills/01.png" alt="">
              </figure>
              <div>
                <span class="name">პროვაიდერი</span>
                <span class="description">თელასის ელ. ენერგია</span>
              </div>
            </div>
            <div>
                <span class="name">იდენთიფიკატორი</span>
                <span class="description">1234567</span>
            </div>
            <div>
                <span class="name">აბონენტი</span>
                <span class="description">თ.მ.</span>
            </div>
            <div>
                <span class="name">მისამართი</span>
                <span class="description">კოტორაანთკარი, საფოსტო ინდექსი 12/34</span>
            </div>
            <div>
                <span class="name">საკომისიო</span>
                <span class="description">5.00 ₾</span>
            </div>
          </div>

          <div class="card-block bill-payment-wrap">
            <div class="row-sm">
              <div class="account-col">
                <input class="form-input"  type="text" placeholder="GE3434TT23100123332865">
              </div>
              <div class="payment-col">
                <label class="form-input-with-label">
                  <span class="form-input-label">Due to pay</span>
                  <input  type="text" placeholder="00.00">
                  <span>₾</span>
                </label>
              </div>
            </div>
          </div>
          
        </div>

      </div>

      <div class="card-footer">
        <div class="row-sm btn-row">
          <div class="col-12 col-md-auto">
              <button class="btn btn-primary btn-link">Transfer</button>
          </div>
          <div class="col-12 col-md-auto">
              <button class="btn btn-secondary btn-link">Save to templates & transfer</button>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>