<div class="credo-page">
    <main>
      <div class="card transfers-card">
        <div class="card-header">
            <h1 class="card-title">Transfer between personal accounts</h1>
        </div>
        <div class="back-btn-wrap">
          <a href="#" class="back-btn">
            <span class="icon i-dropdown-arrow"></span> უკან
          </a>
        </div>
        
        <div class="card-body">
            <div class="card-block accounts-wrap">
              <div class="row-sm fieldset">
                  <div class="col-12 col-md-6">
                      <div class="form-label">From</div>
                      <input class="form-input"  type="text" placeholder="GE3434TT23100123332865">
                  </div>
                  <div class="col-12 col-md-6">
                      <div class="form-label">To</div>
                      <input class="form-input"  type="text" placeholder="Phone Number">
                  </div>
              </div>
            </div>

            <div class="card-block details-wrap">
              <h4 class="card-block-title">Details</h4>

              <div class="row-sm fieldset">
                  <div class="col-12 col-md-6 col-xl-auto">
                      <input class="form-input" type="text" placeholder="Amount">
                  </div>
                  <div class="col-12 col-md-6">
                      <input class="form-input" type="text" placeholder="Description">
                  </div>
              </div>

              <p class="tax-wrap">Tax <span>0.00</span></p>
            </div>

            <div class="card-block exchange-rate-wrap">
                <div class="row-sm">
                    <div class="col-auto">
                        <p class="exchange-rate-text">USD Currency exchange rate <span class="amount">2.6553</span></p>
                    </div>
                    <div class="col-auto">
                        <p class="exchange-rate-text">You will get  <span class="amount">$ 25.00</span></p>
                    </div>
                </div>
            </div>

            <div class="card-block btn-wrap">
              <div class="row-sm btn-row">
                <div class="col-12 col-md-auto">
                    <button class="btn btn-primary btn-link">Transfer</button>
                </div>
              </div>
            </div>

        </div>

      </div>
    </main>
</div>