<div class="credo-page">
    <main>
  
      <div class="card loan-card">
        <div class="card-header">
            <h1 class="card-title">Loan Statement</h1>
        </div>
        <div class="nav-secondary">
            <ul>
              <li>
                <a href="#">FAST LOAN</a>
              </li>
              <li>
                <a href="#" class="active">CAR LOAN</a>
              </li>
              <li>
                <a href="#">STUDENT LOAN</a>
              </li>
            </ul>
        </div>
  
        <div class="card-body">
            <div class="card-block-header loan-title-wrap">
                <i class="icon i-loan-car--red"></i>
                <h1 class="loan-title">Money for bying a car</h1>
            </div>
        

            <div class="card-block">
                slider
            </div>

            <div class="table loan-info">
              <div class="t-row bg-gray">
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">Pay Monthly</span>
                        <b class="value">0.00 ₾</b>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">Percent</span>
                        <b class="value">0.00 %</b>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="d-flex">
                        <div class="item">
                            <span class="name-sm">Grace Period</span>
                            <b class="value">0.00 ₾</b>
                        </div>
                        <button class="btn-help"><i class="icon-circle i-lg i-question"></i></button>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">Percent for Grace Period</span>
                        <b class="value">0.00 %</b>
                    </div>
                </div>
                <div class="t-cell">
                    <div class="item">
                        <span class="name-sm">Percent for Grace Period</span>
                        <b class="value">43.41 %</b>
                    </div>
                </div>
              </div>
            </div>

            <div class="card-block">
              <label class="checkbox agreement-checkbox">
                <input type="checkbox">
                <span>I Agree that my personal information will be checked by the bank</span>
              </label>
              <button class="btn btn-primary btn-link loan-apply-btn">Apply</button>
            </div>

            <div class="card-block about-loan">
              <h3 class="title-sm">About Fast Loan</h3>
              <div class="text-wrap color0gray-light">
                  JSC "Credo Bank" is a commercial bank with multi-year financial experience that emphasizes the company's reliability and financial sustainability. Credo Bank successfully 
                  operates in 11 regions of Georgia. One of the main objectives of the company is to develop and expand business in Georgia by issuing loans. 
                  Based on these objectives, Credo Bank has created a fast loan product from 2015, which enables interested people to fill in the application request
                  and get an answer to the application instantly online. Credo Bank's quick loan is one of the cheapest online loans in Georgia.
              </div>

              <br>
              <div class="loan-info">
                  <div>
                      <div class="item">
                          <span class="name">Amount</span>
                          <strong class="value">From <span class="color-red">2,000 ₾ - 30,000 ₾</span></strong>
                      </div>
                  </div>
                  <div>
                      <div class="item">
                          <span class="name">Period</span>
                          <strong class="value">From <span class="color-red">From 3 - 72 Month</span></strong>
                      </div>
                  </div>
                </div>
                <br><br>

                <div class="text-wrap text-14">
                    <p>
                        Request a loan for a car by maximizing the terms of payment for you - <br>
                        <strong>2 months grace period per year</strong>
                    </p>
                    
                    <p>
                        Even if you already use auto loan in another financial organization, you can Request your money in better conditions to cover the existing loan.
                        Today is the best time to buy a new car
                    </p>
                </div>

            </div>
        </div>
      </div>
  
          
    </main>
  </div>


<div class="credo-page">
  <main>

    <div class="card loan-card">
      <div class="card-header">
          <h1 class="card-title">Loan Statement</h1>
      </div>
      <div class="nav-secondary">
          <ul>
            <li>
              <a href="#">FAST LOAN</a>
            </li>
            <li>
              <a href="#" class="active">CAR LOAN</a>
            </li>
            <li>
              <a href="#">STUDENT LOAN</a>
            </li>
          </ul>
      </div>

      <div class="card-body">
        <div class="card-block">
            <div class="loan-info">
              <div>
                  <div class="item">
                      <span class="name">Amount</span>
                      <strong class="value">From <span class="color-red">2,000 ₾ - 30,000 ₾</span></strong>
                  </div>
              </div>
              <div>
                  <div class="item">
                      <span class="name">Period</span>
                      <strong class="value">From <span class="color-red">From 3 - 72 Month</span></strong>
                  </div>
              </div>
            </div>
        </div>

        <div class="card-block">
          <div class="row-sm fieldset">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <input class="form-input" type="text" placeholder="ID Number">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <input class="form-input" type="text" placeholder="Regional Number">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <input class="form-input" type="text" placeholder="Car Brand">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <input class="form-input" type="text" placeholder="Car Model">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <input class="form-input" type="text" placeholder="Distance">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <input class="form-input" type="text" placeholder="Year">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <input class="form-input" type="text" placeholder="Wheel">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <input class="form-input" type="text" placeholder="Transmision">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <input class="form-input" type="text" placeholder="Oil Type">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <input class="form-input" type="text" placeholder="Engine">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <input class="form-input" type="text" placeholder="Win Code">
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <input class="form-input" type="text" placeholder="Dealer Code">
            </div>
          </div>
        </div>

        <div class="card-block">
            <label class="checkbox agreement-checkbox">
              <input type="checkbox">
              <span>I Agree that my personal information will be checked by the bank</span>
            </label>
            <button class="btn btn-primary btn-link loan-apply-btn">Apply</button>
          </div>
      </div>

    </div>

        
  </main>
</div>

  <div class="credo-page">
      <main>
    
        <div class="card loan-card">
          <div class="card-header">
              <h1 class="card-title">Loan Statement</h1>
          </div>
          <div class="nav-secondary">
              <ul>
                <li>
                  <a href="#">FAST LOAN</a>
                </li>
                <li>
                  <a href="#" class="active">CAR LOAN</a>
                </li>
                <li>
                  <a href="#">STUDENT LOAN</a>
                </li>
              </ul>
          </div>
          <div class="back-btn-wrap">
            <a href="#" class="back-btn">
              <span class="icon i-dropdown-arrow"></span> Go back
            </a>
          </div>          
    
          <div class="card-body">    
              <div class="card-block">
                  <p class="text text-lg">Your application is under review</p>
              </div>
    
              <div class="table loan-info">
                <div class="t-row">
                  <div class="t-cell">
                      <div class="item">
                          <span class="name">Amount</span>
                          <strong class="value color-red">1,250.00 ₾ </strong>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name">Period</span>
                          <strong class="value color-red">7 Month</strong>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name">Application Sent on</span>
                          <strong class="value color-primary">12.02.2019</strong>
                      </div>
                  </div>
                  <div class="t-cell empty-cell">&nbsp;</div>
                  <div class="t-cell empty-cell">&nbsp;</div>
                </div>
                <div class="t-row bg-gray">
                  <div class="t-cell">
                      <div class="item">
                          <span class="name-sm">Pay Monthly</span>
                          <b class="value">0.00 ₾</b>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name-sm">Percent</span>
                          <b class="value">0.00 %</b>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="d-flex">
                          <div class="item">
                              <span class="name-sm">Grace Period</span>
                              <b class="value">0.00 ₾</b>
                          </div>
                          <button class="btn-help"><i class="icon-circle i-lg i-question"></i></button>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name-sm">Percent for Grace Period</span>
                          <b class="value">0.00 %</b>
                      </div>
                  </div>
                  <div class="t-cell">
                      <div class="item">
                          <span class="name-sm">Percent for Grace Period</span>
                          <b class="value">43.41 %</b>
                      </div>
                  </div>
                </div>
              </div>
    
              <div class="card-block">
                <button class="btn btn-primary btn-link-reversed loan-back-btn">Back to Loans</button>
              </div>
          </div>
    
        </div>
    
            
      </main>
    </div>