<div class="credo-page">
    <main>
        <!-- My products -->
        <div class="card accounts-card">
            <div class="card-header">
                <h1 class="card-title">My products</h1>
            </div>
            <app-products-menu></app-products-menu>

            <app-account-list></app-account-list>
        </div>

        <div class="card accounts-card">
            <app-saving-list></app-saving-list>
        </div>

        <!-- Credit Cards -->
        <div class="card accounts-card">
            <div class="card-header">
                <h1 class="card-title">Credit Cards</h1>
            </div>
            <app-products-menu></app-products-menu>

            <app-credit-card-list></app-credit-card-list>
        </div>

        <!-- Savings  -->
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Savings</h1>
                <button class="btn btn-sm btn-secondary btn-add">Open Saving</button>
            </div>
            <app-products-menu></app-products-menu>

            <app-saving-list></app-saving-list>
        </div>

        <!-- Loans -->
        <div class="card accounts-card">
            <div class="card-header">
                <h1 class="card-title">Loans</h1>
            </div>
            <app-products-menu></app-products-menu>

            <app-loan-list></app-loan-list>
        </div>
    </main>
</div>