@import "../../../assets/scss/style.scss";

.exchange-widget{
	
	.currency-select-row{
		display: flex;
		margin-bottom: 20px;
		> div{
			width: 100%;
		}
		> button{
			margin: 0 8px;
			.i-exchange::before{
				background-image: url("/assets/images/icons/exchange_blue.svg");
			}
			&:hover{
				.i-exchange::before{
					background-image: url("/assets/images/icons/exchange_white.svg");
				}
			}
		}
	}

	.currency-input-row{
		display: flex;
		align-items: stretch;
		height: 40px;
		
		margin-bottom: 20px;
		> div{
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 50%;
			padding: 0 20px;
			position: relative;

			font-size: 14px;
			font-weight: 500;

			&:last-child{
				border: 1px solid lighten( $color-black, 85% );
				border-left: 0;
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
				padding-left:10px;
				color: $color-primary;
			}

			> *{
				padding-top: 2px;
			}
			.symbol{
				flex-shrink: 0;
			}
			&:first-child .symbol{
				color: #8B8A8F;
			}

			input{
				height: 100%;
				width: 100%;
				background-color: transparent;
				border: 1px solid lighten( $color-black, 85% );
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				outline: none;
				padding-right: 20px;
				padding-left: 30px;

				position: absolute;
				top: 0;
				left: 0;

				font-size: 14px;
				font-weight: 500;
				text-align: right;

				&:hover{
					border-color: $color-primary;
				}
			}
		}
	}

	.currency-rates-row{
		margin-bottom: 20px;
		color: #8B8A8F;
		> div:first-child{
			text-align: right;
		}
	}
}