@import "../../../assets/scss/style.scss";

.offers-card{
    .card-block{
        > *:not(:last-child){
            margin-bottom: 20px;
        }
    }

    ul.list{
        list-style: none;
        li{
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }

            [class*=i-bullet]{
                margin-top: 4px;
            }
        }
    }

    .grid{
        width: 100%;
        overflow: hidden;

        &:last-child{
            margin-bottom: -20px;
        }
        .row{
            margin-left: -30px;
            margin-right: -30px;
        }
        [class*=col]{
            padding:0 30px;
            margin-bottom: 20px;
        }
        .item{
            > *{
                display: block;
                margin-bottom: 8px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .card-block-title + .grid{
        margin-top: 30px;
    }

    .card-footer .btn{
        width: 100%;
        max-width: 300px;
    }
}

.card-block-title{
    font-weight: 400;
}
.card-block:not(:last-child){
    border-bottom: 1px solid $border-color-base;
}

.offer-item{
    .offer-img{
        display: block;
        width: 100%;
        min-height: 150px;
        padding-top: 20%;
    }
    
    .title{
        line-height: 1.4;
    }
}

.container {
    max-width: 100%;
    overflow: hidden;
}

.help-card {
    .card-block{
        > strong{
            display: block;
            margin-bottom: 10px;

            font-size: 16px;
            font-weight: 500;
        }
        > p{
            font-size: 12px;
            opacity: 0.6;
            margin-bottom: 20px;
        }
        .btn{
            min-width: 185px;
            border-color: $color-primary;
            padding: 10px 32px 8px;
            position: relative;

            color: $color-primary;

            .icon{
                margin-top: -8px;
                position: absolute;
                top: 50%;
                left: 16px;
            }
        }
    }
}