<div class="credo-page">
    <main>

        <div class="card offers-card">
            
            <div class="card-header">
                <h2 class="card-title">Offers</h2>
            </div>
            
            <app-offers-menu></app-offers-menu>

            <div class="back-btn-wrap">
                <a href="#" class="back-btn">
                    <span class="icon i-dropdown-arrow"></span> Go back
                </a>
            </div> 

            <div class="card-body offer-item">
                <span class="bg-img--cover offer-img" style="background-image: url('../../../assets/images/0/offers/01.jpg')"></span>
                <div class="card-block">
                    <h3 class="title">Take loan for $200!</h3>

                    <div class="text-wrap">
                        <p>
                            Request a quick loan up to 4000 GEL. Fill out the application without leaving home and get the answer instantly.
                            Quick loan when you need money right now. Effective 45.8% 4000 GEL for 30 months To get a quick loan you must be a citizen of Georgia from 21 to 70 years
                            Advantage: High probability of approval Consumption Benefit: Low interest rate Lorem Ipsum is simply dummy text of the printing and typesetting industry.                    
                        </p>
                        <p>
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>

                </div>
            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-8">
                    <div class="card offers-card">
                        <div class="card-block">
                            <h4 class="card-block-title">Main Options :</h4>
                            <div class="text-wrap">
                                Request a quick loan up to 4000 GEL. Fill out the application without leaving home and get the answer instantly. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>

                            <ul class="list">
                            <li>
                                <i class="i-bullet--red"></i>
                                <div class="text">Currency - GEL</div>
                            </li>
                            <li>
                                <i class="i-bullet--red"></i>
                                <div class="text">Effective interest rate - 45.76%</div>
                            </li>
                            <li>
                                <i class="i-bullet--red"></i>
                                <div class="text">Minimum loan term - 2 months</div>
                            </li>
                            <li>
                                <i class="i-bullet--red"></i>
                                <div class="text">Grace period - 6 months</div>
                            </li>
                            <li>
                                <i class="i-bullet--red"></i>
                                <div class="text">You will not have to go through the procedure of installment</div>
                            </li>
                            <li>
                                <i class="i-bullet--red"></i>
                                <div class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                            </li>
                            <li>
                                <i class="i-bullet--red"></i>
                                <div class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                            </li>
                            </ul>

                        </div>

                        <div class="card-block">
                            <h4 class="card-block-title">Options :</h4>

                            <ul class="list">
                            <li>
                                <i class="i-bullet--gray"></i>
                                <div class="text">Currency - GEL</div>
                            </li>
                            <li>
                                <i class="i-bullet--gray"></i>
                                <div>GEL - 45.76%</div>
                            </li>
                            <li>
                                <i class="i-bullet--gray"></i>
                                <div>USD - 2.80%</div>
                            </li>
                            <li>
                                <i class="i-bullet--gray"></i>
                                <div>EUR - 0.45%</div>
                            </li>
                            </ul>

                            <p class="text color-base--light">* This offer only applies to resident persons residing in the territory of Georgia </p>

                        </div>

                        <div class="card-footer">
                            <button class="btn btn-primary btn-link">apply</button>
                        </div>
                    </div>

                    <div class="card offers-card">
                        <div class="card-block">
                            <h4 class="card-block-title">Deposit Request</h4>
                            
                            <div class="grid">
                                <div class="row">
                                <div class="col-auto">
                                    <div class="item">
                                        <span>Deposit Type</span>
                                        <strong>Deposit</strong>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="item">
                                        <span>Product</span>
                                        <strong>Card</strong>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="item">
                                        <span>Deposit Amount</span>
                                        <strong>100 GEL- 100,000 GEL</strong>
                                    </div>
                                </div>
                                <div class="col-auto">    
                                    <div class="item">
                                        <span>Deposit Rate</span>
                                        <strong>23</strong>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="item">
                                        <span>Deposit Period</span>
                                        <strong>23 Days</strong>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="item">
                                        <span>Account</span>
                                        <strong>23242332424242334</strong>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button class="btn btn-primary btn-link">apply</button>
                        </div>
                    </div>


                    <div class="card offers-card">
                        <div class="card-block">
                            <h4 class="card-block-title">Apply for Account</h4>
                            
                            <div class="grid">
                                <div class="row">
                                <div class="col-auto">
                                    <div class="item">
                                        <span>GEl</span>
                                        <strong>47.76%</strong>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="item">
                                        <span>USD</span>
                                        <strong>2.80%</strong>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="item">
                                        <span>EUR</span>
                                        <strong>0.45%</strong>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="item">
                                        <span>YEN</span>
                                        <strong>2.80%</strong>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="item">
                                        <span>UAD</span>
                                        <strong>2.80%</strong>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button class="btn btn-primary btn-link">apply</button>
                        </div>
                    </div>

                    <div class="card offers-card">
                        <div class="card-block">
                            <h4 class="card-block-title">Apply for Account</h4>
                            
                            <div class="fieldset">
                                <div class="row-sm">
                                <div class="col-12 col-md-6 form-group">
                                    <input class="form-input" type="text" placeholder="Product type">
                                </div>
                                <div class="col-12 col-md-6 form-group">
                                    <input class="form-input" type="text" placeholder="Choose card type">
                                </div>
                                <div class="col-12 col-md-6 form-group">
                                    <input class="form-input" type="text" placeholder="Choose your account">
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button class="btn btn-primary btn-link">apply</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="card help-card">
                        <div class="card-header">
                        <h4 class="card-title color-primary">Need Help?</h4>
                        </div>
                        <div class="card-block">
                        <strong>+(032) 0 23 22 54</strong>
                        <p>Contact to our 24 hour service  or request a call</p>
                        <button class="btn">
                            <i class="icon i-phone2--blue"></i>
                            <span>Request call</span>
                        </button>
                        </div>
                        <div class="card-block">
                        <strong>E-Mail</strong>
                        <p>info@credobank.ge</p>
                        <button class="btn">
                            <i class="icon i-mail--blue"></i>
                            <span>Send message</span>
                        </button>
                        </div>
                        <div class="card-block">
                        <strong>Write to us</strong>
                        <p>online consultation</p>
                        <button class="btn">
                            <i class="icon i-message2--blue"></i>
                            <span>start chat</span>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>