div.selected {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 40px;
  // background-image: url("../../../../assets/images/dropdown-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;

  div.wrapper {
    display: flex;

    img {
      align-self: center;
      width: 25px;
      height: auto;
      margin-right: 8px;
    }

    h3 {
      align-self: center;
      color: #8b8a8f;
      font-size: 12px;
    }
  }

  h2 {
    align-self: center;
    color: #3d3d3d;
    font-size: 12px;
  }
}

li {
  width: 100%;
  display: flex;
  padding: 0 20px;
  border-bottom: 1px solid #d8d8d8;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background: #f8f8f8;
  }

  img {
    padding: 20px 0;
  }

  div.wrapper {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      color: #acacac;
      font-size: 10px;
    }

    h2 {
      color: #3d3d3d;
      font-size: 13px;
      margin: 5px 0;
    }

    h3 {
      color: #acacac;
      font-size: 13px;
    }
  }
}


h2.default-text {
  display: flex;
  align-items: center;
  height: 38px;
  padding:0 20px;
  color: #3D3D3D;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
}