<app-dropdown [disabled]="disabled">
  <div selected>
    <div *ngIf="isLoading" class="loading">loading...</div>
    <div *ngIf="accountsError">მოხდა შეცდომა</div>
    <ng-container *ngIf="selectedAccount; else clearableSelect">
      <div class="selected">

        <div class="wrapper">
          <img src="../../../assets/images/0/card1.png" alt="">
          <h3>{{selectedAccount.accountNumber}}</h3>
        </div>
        <h2>{{selectedAccount.balance}} {{selectedAccount.currency}}</h2>

      </div>
    </ng-container>
    <ng-template #clearableSelect>
      <h2 class="default-text">აირჩიეთ ანგარიში</h2>
    </ng-template>
  </div>


  <div style = "max-height: 200px; overflow-y: scroll;" list>
    <li *ngIf="clearable" (click)="select()">
      <div class="wrapper">
        <h2>აირჩიეთ ანგარიში</h2>
      </div>
    </li>
    <li *ngFor="let account of accounts" (click)="select(account)">
      <img src="../../../assets/images/0/card1.png" alt="">
      <div class="wrapper">
        <p>{{account.cards.length ? account.cards[0].cardNickName : account.cards.length ? account.cards[0].cardProduct : account.category}}</p>
        <h2>{{account.accountNumber}}</h2>
        <h3>{{account.balance}} {{account.currency}}</h3>
      </div>
    </li>
  </div>
</app-dropdown>