<div class="credo-page">
    <main>
        <div class="card currency-card">
            <div class="card-header">
                <h1 class="card-title">Currency Converter</h1>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="row-sm fieldset">
                        <div class="col-6 col-md-4 form-group">
                            <input class="form-input" type="text" value="3,444">
                        </div>
                        <div class="col-6 col-md-4 form-group">
                            <input class="form-input" type="text" value="USD USA Dollar">
                        </div>
                        <div class="col-12 col-md-4 form-group">
                            <p class="text color-base--light">1 GEL = 1.13266 USD</p>
                        </div>
                    </div>
                    <div class="row-sm fieldset">
                        <div class="col-6 col-md-4 form-group">
                            <input class="form-input" type="text" value="3,444">
                        </div>
                        <div class="col-6 col-md-4 form-group">
                            <input class="form-input" type="text" value="GEL Georgian Lari">
                        </div>
                        <div class="col-12 col-md-4 form-group">
                            <p class="text color-base--light">1 USD = 0.882878 GEL</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container currency-items">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-block currency-item">
                            <div class="row">
                                <div class="col">
                                    <div class="dropdown">
                                        <div>
                                            <img src="../../assets/images/0/flags/01.png" />
                                            <span>USD Official</span>
                                            <i class="icon i-dropdown-arrow"></i>
                                        </div>
                                    </div>

                                    <div class="row current-rate">
                                        <div class="col-auto">
                                            <b class="text text-24">2.7029</b>
                                        </div>
                                        <div class="col-auto">
                                            <span class="rate-up">0.0053</span>
                                        </div>
                                    </div>

                                    <div class="row-sm rate-details">
                                        <div class="col">
                                            <span class="name">Sell</span>
                                            <span class="value">2.6550</span>
                                        </div>
                                        <div class="col">
                                            <span class="name">Buy</span>
                                            <span class="value">2.6550</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto currency-symbol-col">
                                    <i class="icon-circle i-currency">$</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-block currency-item">
                            <div class="row">
                                <div class="col">
                                    <div class="dropdown">
                                        <div>
                                            <img src="../../assets/images/0/flags/01.png" />
                                            <span>USD Official</span>
                                            <i class="icon i-dropdown-arrow"></i>
                                        </div>
                                    </div>

                                    <div class="row current-rate">
                                        <div class="col-auto">
                                            <b class="text text-24">2.7029</b>
                                        </div>
                                        <div class="col-auto">
                                            <span class="rate-up">0.0053</span>
                                        </div>
                                    </div>

                                    <div class="row-sm rate-details">
                                        <div class="col">
                                            <span class="name">Sell</span>
                                            <span class="value">2.6550</span>
                                        </div>
                                        <div class="col">
                                            <span class="name">Buy</span>
                                            <span class="value">2.6550</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto currency-symbol-col">
                                    <i class="icon-circle i-currency">$</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-block currency-item">
                            <div class="row">
                                <div class="col">
                                    <div class="dropdown">
                                        <div>
                                            <img src="../../assets/images/0/flags/01.png" />
                                            <span>USD Official</span>
                                            <i class="icon i-dropdown-arrow"></i>
                                        </div>
                                    </div>

                                    <div class="row current-rate">
                                        <div class="col-auto">
                                            <b class="text text-24">2.7029</b>
                                        </div>
                                        <div class="col-auto">
                                            <span class="rate-down">0.0053</span>
                                        </div>
                                    </div>

                                    <div class="row-sm rate-details">
                                        <div class="col">
                                            <span class="name">Sell</span>
                                            <span class="value">2.6550</span>
                                        </div>
                                        <div class="col">
                                            <span class="name">Buy</span>
                                            <span class="value">2.6550</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto currency-symbol-col">
                                    <i class="icon-circle i-currency">$</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card currency-card">
            <div class="card-header">
                <h1 class="card-title">Currency List</h1>
                <div class="controls">
                  <input class="form-input input-sm search-input" type="text" placeholder="Search currency">
                </div>
            </div>

            <div class="card-body">
                <div class="table currency-table">
                    <div class="t-row t-head">
                        <div class="t-cell currency-cell">&nbsp;</div>
                        <div class="t-cell currency-name-cell">Currency</div>
                        <div class="t-cell activity-cell">Activity</div>
                        <div class="t-cell sell-cell">Sell</div>
                        <div class="t-cell buy-cell">Buy</div>
                        <div class="t-cell rate-cell">Official Rate</div>
                        <div class="t-cell history-cell">&nbsp;</div>
                    </div>
                    <div class="t-row">
                        <div class="t-cell currency-cell">
                            <div class="currency">
                                <i class="icon-circle i-currency">$</i>
                                <img src="../../assets/images/0/flags/01.png" />
                                <span>USD</span>
                            </div>
                        </div>
                        <div class="t-cell currency-name-cell">
                            <span>USA Dollar</span>
                        </div>
                        <div class="t-cell activity-cell">
                            <span class="rate-down">0.0053</span>
                        </div>
                        <div class="t-cell sell-cell">
                            <b>2.6550</b>
                        </div>
                        <div class="t-cell buy-cell">
                            <b>2.7550</b>
                        </div>
                        <div class="t-cell rate-cell">
                            <span>2.7550</span>
                        </div>
                        <div class="t-cell history-btn-cell">
                            <button class="history-btn"><span>History</span></button>
                        </div>
                    </div>
                    <div class="t-row">
                        <div class="t-cell currency-cell">
                            <div class="currency">
                                <i class="icon-circle i-currency">₾</i>
                                <img src="../../assets/images/0/flags/02.png" />
                                <span>USD</span>
                            </div>
                        </div>
                        <div class="t-cell currency-name-cell">
                            <span>Georgian lari</span>
                        </div>
                        <div class="t-cell activity-cell">
                            <span class="rate-up">0.0053</span>
                        </div>
                        <div class="t-cell sell-cell">
                            <b>2.6550</b>
                        </div>
                        <div class="t-cell buy-cell">
                            <b>2.7550</b>
                        </div>
                        <div class="t-cell rate-cell">
                            <span>2.7550</span>
                        </div>
                        <div class="t-cell history-btn-cell">
                            <button class="history-btn"><span>History</span></button>
                        </div>
                    </div>
                    <div class="t-row">
                        <div class="t-cell currency-cell">
                            <div class="currency">
                                <i class="icon-circle i-currency">€</i>
                                <img src="../../assets/images/0/flags/03.png" />
                                <span>USD</span>
                            </div>
                        </div>
                        <div class="t-cell currency-name-cell">
                            <span>European Euro</span>
                        </div>
                        <div class="t-cell activity-cell">
                            <span class="rate-down">0.0053</span>
                        </div>
                        <div class="t-cell sell-cell">
                            <b>2.6550</b>
                        </div>
                        <div class="t-cell buy-cell">
                            <b>2.7550</b>
                        </div>
                        <div class="t-cell rate-cell">
                            <span>2.7550</span>
                        </div>
                        <div class="t-cell history-btn-cell">
                            <button class="history-btn"><span>History</span></button>
                        </div>
                    </div>
                    <div class="t-row">
                        <div class="t-cell currency-cell">
                            <div class="currency">
                                <i class="icon-circle i-currency">£</i>
                                <img src="../../assets/images/0/flags/04.png" />
                                <span>USD</span>
                            </div>
                        </div>
                        <div class="t-cell currency-name-cell">
                            <span>British Pound</span>
                        </div>
                        <div class="t-cell activity-cell">
                            <span class="rate-down">0.0053</span>
                        </div>
                        <div class="t-cell sell-cell">
                            <b>2.6550</b>
                        </div>
                        <div class="t-cell buy-cell">
                            <b>2.7550</b>
                        </div>
                        <div class="t-cell rate-cell">
                            <span>2.7550</span>
                        </div>
                        <div class="t-cell history-btn-cell">
                            <button class="history-btn"><span>History</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>