<div class="credo-page">
  <main>
      <div class="card templates-card">
        <div class="card-header">
            <h1 class="card-title">Add new template</h1>  
        </div>
        <div class="card-body">
            <div class="items-grid">
              <div class="grid-item grid-item-button">
                <i class="icon-circle i-user"></i>
                <span class="name">Add Account Number</span>
              </div>
              <a class="grid-item grid-item-button">
                <i class="icon-circle i-topup-mobile"></i>
                <span class="name">Add Phone Number</span>
              </a>
              <a class="grid-item grid-item-button" href="#">
                <i class="icon-circle i-bill"></i>
                <span class="name">Add Utility Bills</span>
              </a>
              <a class="grid-item grid-item-button" href="#">
                <i class="icon-circle i-receive-money"></i>
                <span class="name">Add Money Transfer</span>
              </a>
            </div>
        </div>
      </div>
  </main>
</div>


<div class="credo-page">
  <main>
      <div class="card templates-card">
        <div class="card-header">
            <h1 class="card-title">ახალი შაბლონის დამატება</h1>  
        </div>
        <div class="card-body">
            <div class="items-grid">
              <div class="grid-item grid-item-button">
                <i class="icon-circle i-user"></i>
                <span class="name">ანგარიშის დამატება</span>
              </div>
              <a class="grid-item grid-item-button">
                <i class="icon-circle i-topup-mobile"></i>
                <span class="name">მობილურის დამატება</span>
              </a>
              <a class="grid-item grid-item-button" href="#">
                <i class="icon-circle i-bill"></i>
                <span class="name">კომუნალური გადახდების დამატება</span>
              </a>
              <a class="grid-item grid-item-button" href="#">
                <i class="icon-circle i-receive-money"></i>
                <span class="name">ფულადი გზავნილის დამატება</span>
              </a>
            </div>
        </div>
      </div>
  </main>
</div>


<div class="credo-page">
  <main>
      <div class="card templates-card">
        <div class="card-header">
            <h1 class="card-title">ახალი შაბლონის დამატება</h1>

            <div class="back-btn-wrap">
              <a href="#" class="back-btn">
                <span class="icon i-dropdown-arrow"></span> Go back to templates
              </a>
            </div>
        </div>
        
        <div class="card-body">
            <div class="items-grid">
              <div class="grid-item grid-item-button active">
                <i class="icon-circle i-user"></i>
                <span class="name">ანგარიშის დამატება</span>
              </div>
              <a class="grid-item grid-item-button">
                <i class="icon-circle i-topup-mobile"></i>
                <span class="name">მობილურის დამატება</span>
              </a>
              <a class="grid-item grid-item-button" href="#">
                <i class="icon-circle i-bill"></i>
                <span class="name">კომუნალური გადახდების დამატება</span>
              </a>
              <a class="grid-item grid-item-button" href="#">
                <i class="icon-circle i-receive-money"></i>
                <span class="name">ფულადი გზავნილის დამატება</span>
              </a>
            </div>
            
            <div class="card-block-header">
              <h4 class="card-block-title-sm">ADD PHONE NUMBER</h4>
            </div>

            <div class="card-block">

              <div class="fieldset">
                <div class="upload-avatar-wrap form-group">
                    <label>
                        <div class="avatar" style="background-image: url('assets/images/icons/no_avatar.svg')"></div>
                        <span class="text">Upload an image</span>
                        <input type="file">
                    </label>
                </div>

                <div class="row-sm">
                    <div class="col-12 col-md-4 col-xl-5 form-group">
                        <input class="form-input"  type="text" placeholder="Account Number">
                    </div>
                    <div class="col-12 col-md-4 col-xl-3 form-group">
                        <input class="form-input"  type="text" placeholder="Currency">
                    </div>
                    <div class="col-12 col-md-4 col-xl-3 form-group">
                        <input class="form-input"  type="text" placeholder="Name">
                    </div>
                </div>
              </div>
            </div>

        </div>

        <div class="card-footer">
            <div class="row-sm btn-row">
                <div class="col-12 col-md-auto">
                    <button class="btn btn-secondary">Save Now</button>
                </div>
            </div>
        </div>

      </div>
  </main>
</div>


<div class="credo-page">
    <main>
        <div class="card templates-card">
          <div class="card-header">
              <h1 class="card-title">ახალი შაბლონის დამატება</h1>
              <div class="back-btn-wrap">
                <a href="#" class="back-btn">
                  <span class="icon i-dropdown-arrow"></span> Go back to templates
                </a>
              </div>
          </div>
          <div class="card-body">
              <div class="items-grid">
                <div class="grid-item grid-item-button">
                  <i class="icon-circle i-user"></i>
                  <span class="name">ანგარიშის დამატება</span>
                </div>
                <a class="grid-item grid-item-button active">
                  <i class="icon-circle i-topup-mobile"></i>
                  <span class="name">მობილურის დამატება</span>
                </a>
                <a class="grid-item grid-item-button" href="#">
                  <i class="icon-circle i-bill"></i>
                  <span class="name">კომუნალური გადახდების დამატება</span>
                </a>
                <a class="grid-item grid-item-button" href="#">
                  <i class="icon-circle i-receive-money"></i>
                  <span class="name">ფულადი გზავნილის დამატება</span>
                </a>
              </div>
              
              <div class="card-block-header">
                <h4 class="card-block-title-sm">ADD PHONE NUMBER</h4>
              </div>
  
              <div class="card-block">
  
                <div class="fieldset">
                  <div class="upload-avatar-wrap form-group">
                      <label>
                          <div class="avatar" style="background-image: url('assets/images/icons/no_avatar.svg')"></div>
                          <span class="text">Upload an image</span>
                          <input type="file">
                      </label>
                  </div>
  
                  <div class="row-sm">
                      <div class="col-12 col-md-6 col-xl-5 form-group">
                          <input class="form-input"  type="text" placeholder="Number">
                          <span class="input-text">Format should look like  - 5XX XXXXXX</span>
                      </div>
                      <div class="col-12 col-md-6 col-xl-3 form-group">
                          <input class="form-input"  type="text" placeholder="Name">
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="radio">
                        <input type="checkbox">
                        <span>My Number</span>
                      </label>
                  </div>

                </div>

              </div>
  
          </div>
  
          <div class="card-footer">
              <div class="row-sm btn-row">
                  <div class="col-12 col-md-auto">
                      <button class="btn btn-secondary">Save Now</button>
                  </div>
              </div>
          </div>
  
        </div>
    </main>
  </div>