<div class="credo-page">
    <main>
        <div class="card accounts-card">
            <div class="card-header">
                <h1 class="card-title">My products</h1>
            </div>
            <app-products-menu></app-products-menu>
            
            <div class="card-body">
                <app-loan-list></app-loan-list>
            </div>

            <div class="card-footer">
                <div class="btn-wrap">
                    <a class="btn download-attachement-btn" href="#">
                        <i class="icon i-attachement--blue"></i>
                        <span>Download Schdule</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="nav-secondary">
                <ul>
                    <li>
                    <a href="#" class="active">გრაფიკი</a>
                    </li>
                    <li>
                    <a href="#">ისტორია</a>
                    </li>
                    <li>
                    <a href="#">დეტალები</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">
                <!-- Schedule -->
                <ul class="table loan-schedule">
                    <li class="t-row t-head">
                        <div class="t-cell">თარიღი</div>
                        <div class="t-cell">ძირითადი თანხა</div>
                        <div class="t-cell">პროცენტი</div>
                        <div class="t-cell">დაზღვევა</div>
                        <div class="t-cell">საკომისიო</div>
                        <div class="t-cell">გადასახდელი თანხა</div>
                    </li>
                    <li class="t-row">
                        <div class="t-cell">
                            <div class="cell-name">თარიღი</div>
                            <span>12.02.2019</span>
                        </div>
                        <div class="t-cell">
                            <div class="cell-name">ძირითადი თანხა</div>
                            <span>100 233.00 GEL</span>
                        </div>
                        <div class="t-cell">
                            <div class="cell-name">პროცენტი</div>
                            <span>99%</span>
                        </div>
                        <div class="t-cell">
                            <div class="cell-name">დაზღვევა</div>
                            <span>12.00 GEL</span>
                        </div>
                        <div class="t-cell">
                            <div class="cell-name">საკომისიო</div>
                            <span>12.00 GEL</span>
                        </div>
                        <div class="t-cell">
                            <div class="cell-name">გადასახდელი თანხა</div>
                            <span>8 245.00 GEL</span>
                        </div>
                    </li>
                </ul>

                <!-- Payment History -->
                <ul class="table transactions-list hidden">
                    <li class="t-row">
                        <div class="t-cell status-cell">
                        <i class="icon i-sm i-status-1"></i>
                        </div>
                        <div class="t-cell fluid-cell">
                        <div class="table">
                            <div class="t-row">
                                <div class="t-cell date-cell">
                                    <span class="transaction-date">ნოე. 01 / 2018</span>
                                </div>
                                <div class="t-cell description-cell">
                                    <span class="transaction-description">გადახდილი თანხა/ნოემბერი</span>
                                </div>
                                <div class="t-cell category-cell">
                                    <span class="transaction-category">სესხი</span>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="t-cell amount-cell">
                            <span class="transaction-amount">-25.00 GEL</span>
                        </div>
                        <div class="t-cell arrow-cell">
                            <i class="icon i-arrow"></i>
                        </div>
                        <div class="t-cell more-options-cell">
                            <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                        </div>
                    </li>
                    <li class="t-row">
                        <div class="t-cell status-cell">
                        <i class="icon i-sm i-status-1"></i>
                        </div>
                        <div class="t-cell fluid-cell">
                        <div class="table">
                            <div class="t-row">
                                <div class="t-cell date-cell">
                                    <span class="transaction-date">ნოე. 01 / 2018</span>
                                </div>
                                <div class="t-cell description-cell">
                                    <span class="transaction-description">გადახდილი თანხა/ნოემბერი</span>
                                </div>
                                <div class="t-cell category-cell">
                                    <span class="transaction-category">სესხი</span>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="t-cell amount-cell">
                            <span class="transaction-amount">-25.00 GEL</span>
                        </div>
                        <div class="t-cell arrow-cell">
                            <i class="icon i-arrow"></i>
                        </div>
                        <div class="t-cell more-options-cell">
                            <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                        </div>
                    </li>
                    <li class="t-row">
                        <div class="t-cell status-cell">
                        <i class="icon i-sm i-status-1"></i>
                        </div>
                        <div class="t-cell fluid-cell">
                        <div class="table">
                            <div class="t-row">
                                <div class="t-cell date-cell">
                                    <span class="transaction-date">ნოე. 01 / 2018</span>
                                </div>
                                <div class="t-cell description-cell">
                                    <span class="transaction-description">გადახდილი თანხა/ნოემბერი</span>
                                </div>
                                <div class="t-cell category-cell">
                                    <span class="transaction-category">სესხი</span>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="t-cell amount-cell">
                            <span class="transaction-amount">-25.00 GEL</span>
                        </div>
                        <div class="t-cell arrow-cell">
                            <i class="icon i-arrow"></i>
                        </div>
                        <div class="t-cell more-options-cell">
                            <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                        </div>
                    </li>
                </ul>

                <!-- Details -->
                <div class="loan-details hidden">
                    <div>
                        <span>სესხის ტიპი</span>
                        <b>სამომხმარებლო სესხი</b>
                    </div>
                    <div>
                        <span>პროცენტი</span>
                        <b>99%</b>
                    </div>
                    <div>
                        <span>მომდევნო გადახდა</span>
                        <b>12.02.2019</b>
                    </div>
                    <div>
                        <span>დარჩენილი გადახდები</span>
                        <b>87</b>
                    </div>
                    <div>
                        <span>საწყისი თანხა</span>
                        <b class="white-space-wrap">100 233.00 GEL</b>
                    </div>
                    <div>
                        <span>დარჩენილი ძირი</span>
                        <b class="white-space-wrap">87 245.00 GEL</b>
                    </div>
                    <div>
                        <span>აღების თარიღი</span>
                        <b>12.02.2019</b>
                    </div>
                    <div>
                        <span>დასრულების თარიღი</span>
                        <b>12.02.2029</b>
                    </div>
                    <div class="more-options-wrap">
                        <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                    </div>
                </div>

                
            </div>
        </div>

    </main>
</div>