@import "../../../../assets/scss/style.scss";


.loan-schedule{
    table-layout: fixed;

    @media (max-width: $md){
        &{
            .table{
                    display: block;
            }
            .t-head{
                display: none !important;
            }
            .t-row{
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid $border-color-base;
                padding: 10px 0;
            }
            .t-cell{
                display: block;
                width: 33.33333%;
                border: 0;
                padding: 15px 10px;

                .cell-name{
                    display: block;
                }
                div.cell-name{
                    width: 100%;
                    margin-bottom: 5px;
                }
                span.cell-name{
                    margin-left: 6px;
                }
            }

            .t-cell:nth-child(even){
                padding-left: 15px;
            }
        }
    }
    @media (max-width: $sm){
        &{
            .t-cell{
                width: 50%;
            }
        }
    }
}

.loan-details{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px 10px 30px;
    position: relative;

    > div:not(.more-options-wrap){
        flex-grow: 1;
        padding: 15px 30px 15px 0;

        > *{
            display: block;
        }
        span{
            white-space: nowrap;
            color: #7B7B7B;
            font-size: 12px;
            line-height: 1.3;
            margin-bottom: 10px;
        }
        b{
            color: $color-base;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.3;
        }
    }

    > div:first-child{
        padding-left: 0;
    }
    > div:last-child{
        padding-right: 0;
    }

    .more-options-wrap{
        align-self: center;
        position: absolute;
        bottom: 40px;
        right: 30px;
    }

    // @media (min-width: 1321px){
    //     &{
    //         > div:not(.more-options-wrap){
    //             flex-grow: 1;
    //         }
    //     }
    // }
    // @media (max-width: 1320px){
    //     &{
    //         flex-wrap: wrap;
    //     }
    // }
    @media (max-width: 1599px){
        &{
            > div:not(.more-options-wrap){
                width: 25%;
                span{
                    white-space: normal;
                }
            }
        }
    }
    @media (max-width: $xl){
        &{
            padding-left: 20px;
            padding-right: 40px;
            > div:not(.more-options-wrap){
                //width: auto;
                padding-right: 20px;
            }
            .more-options-wrap{
                right: 20px;
            }
        }
    }
    @media (max-width: $lg){
        &{
            padding-left: 15px;
            padding-right: 35px;
            > div:not(.more-options-wrap){
                padding-right: 15px;
            }
            .more-options-wrap{
                right: 15px;
            }
        }
    }
    @media (max-width: $md){
        &{
            > div:not(.more-options-wrap){
                width: 50%;
                padding-right: 5px;
                b{
                    font-size: 14px;
                }
            }
        }
    }

    @media (max-width: $xs), (min-width: $lg + 1) and (max-width: 1020px){
        &{
            > div:not(.more-options-wrap){
                span{
                    font-size: 11px;
                }
            }
        }
    }
}