<header class="landing-header">
  <div class="landing-container">
    <a class="credo-logo"><img src="assets/images/logo.svg" class="Credo logo"></a>

    <div>
      <div class="btn-wrap">
        <button class="btn btn-primary">CREDO.GE</button>
      </div>
      <div class="lang-wrap">
        <a class="btn btn-outline-secondary" href="#"><i class="icon i-flag-en"></i><span>ENG</span></a>
      </div>
    </div>
  </div>
</header>