@import "../../assets/scss/style.scss";

.finances-card{
    .card-header{
        .controls {
            [class*=row]{
                margin-bottom: -10px;
            }
            [class*=col]{
                margin-bottom: 10px;
            }
        }

        @media (min-width: $md + 1){
            .controls{
                padding-left: 10px;
                > div{
                    flex-wrap: nowrap;
                }
            }
            .months-col{
                > *{
                    width: 150px;
                }
            }
            .calendar-col{
                > *{
                    width: 170px;
                }
            }
            .currency-col{
                > *{
                    width: 110px;
                }
            }
        }

        @media (max-width: $md) {
            &{
                flex-wrap: wrap;
            
                .controls{
                    width: 100%;
                    padding-top: 20px;
                    margin-top: 20px;
    
                    &::before {
                        content: "";
                        height: 1px;
                        background-color: whitesmoke;
                        margin-top: -20px;
                        position: absolute;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }

    .finances-head-block{
        background-color: $bg-gray;

        > .row{
            justify-content: space-between;
        }

        .info-col{
            overflow: hidden;
            margin: auto 0;

            .row{
                margin-left: -24px;
                margin-right: -24px;
                > div{
                    padding-left: 24px;
                    padding-right: 24px;
                    margin: 15px 0;
                }
            }

            .name,
            .value{
                display: block;
                opacity: 0.8;
                font-weight: normal;
            }
            .name{
                font-size: 16px;
                margin-bottom: 10px;
            }
            .value{
                font-size: 24px;
            }
        }
        
        .chart-col{
            > *{
                max-width: 100%;
            }
        }

    }

    
}