<div class="credo-page">
    <main>
        <div class="card finances-card">
            <div class="card-header">
                <h1 class="card-title">My finances</h1>
                <div class="controls">
                    <div class="row-sm">
                        <div class="col-6 col-md-auto months-col">
                            <input class="form-input input-sm" type="text" placeholder="12 Months">
                        </div>
                        <div class="col-6 col-md-auto calendar-col">
                            <input class="form-input input-sm calendar-input" type="text" placeholder="Calendar">
                        </div>
                        <div class="col-12 col-md-auto currency-col">
                            <input class="form-input input-sm" type="text" placeholder="GEL">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">

                <div class="card-block finances-head-block">
                    <div class="row-sm">
                        <div class="col-md-auto info-col">
                            <div class="row">
                                <div class="col-auto">
                                    <span class="name">Income</span>
                                    <span class="value color-green">25,000 GEL</span>
                                </div>
                                <div class="col-auto">
                                    <span class="name">Expenses</span>
                                    <span class="value color-red">3,050 GEL</span>
                                </div>
                                <div class="col-auto">
                                    <span class="name">Cash</span>
                                    <span class="value color-primary">22,050 GEL</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto chart-col">
                            <img src="../../assets/images/0/finances.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="card-block-header">
                    <h4 class="card-title">ტრანზაქციების ისტორია</h4>
                </div>
                <ul class="table transactions-list">
                  <li class="t-row">
                    <div class="t-cell status-cell">
                      <i class="icon i-sm i-status-1"></i>
                    </div>
                    <div class="t-cell fluid-cell">
                      <div class="table">
                        <div class="t-row">
                          <div class="t-cell date-cell">
                            <span class="transaction-date">ნოვ. 01 / 2018</span>
                          </div>
                          <div class="t-cell description-cell">
                              <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                          </div>
                          <div class="t-cell category-cell">
                              <span class="transaction-category">Transfer to Someone</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="t-cell amount-cell">
                        <span class="transaction-amount">-25.00 GEL</span>
                    </div>
                    <div class="t-cell arrow-cell">
                        <i class="icon i-arrow"></i>
                    </div>
                    <div class="t-cell more-options-cell">
                        <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                    </div>
                  </li>
                  <li class="t-row">
                    <div class="t-cell status-cell">
                      <i class="icon i-sm i-status-2"></i>
                    </div>
                    <div class="t-cell fluid-cell">
                      <div class="table">
                        <div class="t-row">
                          <div class="t-cell date-cell">
                            <span class="transaction-date">ნოვ. 01 / 2018</span>
                          </div>
                          <div class="t-cell description-cell">
                              <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                          </div>
                          <div class="t-cell category-cell">
                              <span class="transaction-category">Transfer to Someone</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="t-cell amount-cell">
                        <span class="transaction-amount">-25.00 GEL</span>
                    </div>
                    <div class="t-cell arrow-cell">
                        <i class="icon i-arrow"></i>
                    </div>
                    <div class="t-cell more-options-cell">
                        <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                    </div>
                  </li>
                  <li class="t-row">
                    <div class="t-cell status-cell">
                      <i class="icon i-sm i-status-3"></i>
                    </div>
                    <div class="t-cell fluid-cell">
                      <div class="table">
                        <div class="t-row">
                          <div class="t-cell date-cell">
                            <span class="transaction-date">ნოვ. 01 / 2018</span>
                          </div>
                          <div class="t-cell description-cell">
                              <span class="transaction-description">Kazt-GAS; 23224566; CODE2333 Kazt-GAS; 23224566; CODE2333</span>
                          </div>
                          <div class="t-cell category-cell">
                              <span class="transaction-category">Transfer to Someone</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="t-cell amount-cell">
                        <span class="transaction-amount color-green">4525.00 GEL</span>
                    </div>
                    <div class="t-cell arrow-cell">
                        <i class="icon i-arrow"></i>
                    </div>
                    <div class="t-cell more-options-cell">
                        <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                    </div>
                  </li>
                  <li class="t-row">
                    <div class="t-cell status-cell">
                      <i class="icon i-sm i-status-4"></i>
                    </div>
                    <div class="t-cell fluid-cell">
                      <div class="table">
                        <div class="t-row">
                          <div class="t-cell date-cell">
                            <span class="transaction-date">ნოვ. 01 / 2018</span>
                          </div>
                          <div class="t-cell description-cell">
                              <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                          </div>
                          <div class="t-cell category-cell">
                              <span class="transaction-category">Transfer to Someone</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="t-cell amount-cell">
                        <span class="transaction-amount color-red">-25.00 GEL</span>
                    </div>
                    <div class="t-cell arrow-cell">
                        <i class="icon i-arrow"></i>
                    </div>
                    <div class="t-cell more-options-cell">
                        <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
                    </div>
                  </li>
                </ul>

            </div>

        </div>
    </main>
</div>