<div class="credo-page">
    <main>
      <div class="card transfers-card">
        <div class="card-header">
            <h1 class="card-title">Transfer to someone</h1>
        </div>
        <div class="back-btn-wrap">
          <a href="#" class="back-btn">
            <span class="icon i-dropdown-arrow"></span> უკან
          </a>
        </div>
        
        <div class="card-body">
            <div class="card-block accounts-wrap">
              <div class="row-sm fieldset">
                  <div class="col-12 col-md-6">
                      <div class="form-label">From</div>
                      <input class="form-input"  type="text" placeholder="GE3434TT23100123332865">
                  </div>
                  <div class="col-12 col-md-6">
                      <div class="form-label">To</div>
                      <input class="form-input"  type="text" placeholder="Phone Number">
                  </div>
              </div>
            </div>

            <div class="card-block info-wrap">
                <div class="row-lg">
                    <div class="col-auto">
                      <span class="name">Name</span>
                      <span class="description">Ludovico Stroke Jr.</span>
                    </div>
                    <div class="col-auto">
                      <span class="name">Surname</span>
                      <span class="description">CREDO Bank</span>
                    </div>
                    <div class="col-auto">
                      <span class="name">Bank Code</span>
                      <span class="description">CRED22</span>
                    </div>
                </div>
            </div>

            <div class="card-block details-wrap">
              <h4 class="card-block-title">Details</h4>
              
              <div class="row-sm fieldset">
                  <div class="col-12 col-md-6 col-xl-auto">
                      <input class="form-input" type="text" placeholder="Amount">
                  </div>
                  <div class="col-12 col-md-6">
                      <input class="form-input" type="text" placeholder="Description">
                  </div>
              </div>

              <p class="tax-wrap">Tax <span>0.00</span></p>
            </div>
        </div>

        <div class="card-footer">
            <div class="row-sm btn-row">
                <div class="col-12 col-md-auto">
                    <button class="btn btn-primary btn-link">Transfer</button>
                </div>
                <div class="col-12 col-md-auto">
                    <button class="btn btn-secondary btn-link">Save to templates & transfer</button>
                </div>
            </div>
        </div>

      </div>

      <div class="card transfers-card">
        <div class="card-header">
            <h1 class="card-title">Transfer to someone</h1>
        </div>
        <div class="back-btn-wrap">
          <a href="#" class="back-btn">
            <span class="icon i-dropdown-arrow"></span> უკან
          </a>
        </div>
        
        <div class="card-body">
            <div class="card-block accounts-wrap">
              <div class="row-sm fieldset">
                  <div class="col-12 col-md-6">
                      <div class="form-label">From</div>
                      <input class="form-input"  type="text" placeholder="GE3434TT23100123332865">
                  </div>
                  <div class="col-12 col-md-6">
                      <div class="form-label">To</div>
                      <input class="form-input"  type="text" placeholder="Phone Number">
                  </div>
              </div>
            </div>

            <div class="card-block info-wrap">
                <div class="row-lg">
                    <div class="col-auto">
                      <span class="name">Name</span>
                      <span class="description">Ludovico Stroke Jr.</span>
                    </div>
                    <div class="col-auto">
                      <span class="name">Surname</span>
                      <span class="description">CREDO Bank</span>
                    </div>
                    <div class="col-auto">
                      <span class="name">Bank Code</span>
                      <span class="description">CRED22</span>
                    </div>
                </div>
            </div>

            <div class="card-block details-wrap">
              <h4 class="card-block-title">Details</h4>

              <div class="row-sm fieldset">
                  <div class="col-12 col-md-6 col-xl-auto">
                      <input class="form-input" type="text" placeholder="Amount">
                  </div>
                  <div class="col-12 col-md-6">
                      <input class="form-input" type="text" placeholder="Description">
                  </div>
              </div>

              <p class="tax-wrap">Tax <span>0.00</span></p>
            </div>

            <div class="card-block user-wrap">
              <div class="row-sm fieldset">
                <div class="col-12 col-md-auto form-group">
                  <div class="upload-avatar-wrap">
                      <label>
                          <div class="avatar">
                            <span class="upload">
                              <span>Upload</span>
                            </span>
                          </div>
                          <span class="text">Choose Picture</span>
                          <input type="file">
                      </label>
                  </div>
                </div>
                <div class="col-12 col-md-auto form-group">
                    <input class="form-input"  type="text" placeholder="Name" value="Giorgi">
                </div>
                <div class="col-12 col-md-auto form-group">
                    <button class="btn-icon btn-heart">
                      <i class="icon i-heart"></i>
                      <span>Add to Favorites</span>
                    </button>
                </div>
              </div>
            </div>
        </div>
        
        <div class="card-footer">
            <div class="row-sm btn-row">
                <div class="col-12 col-md-auto">
                  <button class="btn btn-primary btn-link">Save and Transfer</button>
                </div>
            </div>
        </div>

      </div>
    </main>
</div>