@import "../../../assets/scss/style.scss";


.transactions-list{
    li{
        .date-cell{
            min-width: 110px;
            width: 20%;
        }
        .description-cell{
            width: 80%;
        }
    }
    &:last-child{
			padding-bottom: 30px;
	}
}