<div class="card transactions-card">
  <div class="card-block-header">
    <h4 class="card-title">ბლოკირებული თახნები</h4>
    <button class="settings-btn"><i class="icon i-cog2"></i></button>
  </div>
    <ul class="table transactions-list">
      <li class="t-row">
        <div class="t-cell status-cell">
          <i class="icon i-sm i-status-1"></i>
        </div>
        <div class="t-cell fluid-cell">
          <div class="table">
            <div class="t-row">
              <div class="t-cell date-cell">
                <span class="transaction-date">ნოვ. 01 / 2018</span>
              </div>
              <div class="t-cell description-cell">
                  <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
              </div>
            </div>
          </div>
        </div>
        <div class="t-cell amount-cell">
            <span class="transaction-amount">-25.00 GEL</span>
        </div>
        <div class="t-cell arrow-cell">
            <i class="icon i-arrow"></i>
        </div>
      </li>
      <li class="t-row">
        <div class="t-cell status-cell">
          <i class="icon i-sm i-status-1"></i>
        </div>
        <div class="t-cell fluid-cell">
          <div class="table">
            <div class="t-row">
              <div class="t-cell date-cell">
                <span class="transaction-date">ნოვ. 01 / 2018</span>
              </div>
              <div class="t-cell description-cell">
                  <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
              </div>
            </div>
          </div>
        </div>
        <div class="t-cell amount-cell">
            <span class="transaction-amount">-25.00 GEL</span>
        </div>
        <div class="t-cell arrow-cell">
            <i class="icon i-arrow"></i>
        </div>
      </li>
    </ul>
    <div class="card-block-header">
      <h4 class="card-title">ბოლო ტრანზაქციები</h4>
    </div>
    <ul class="table transactions-list">
      <li class="t-row">
        <div class="t-cell status-cell">
          <i class="icon i-sm i-status-1"></i>
        </div>
        <div class="t-cell fluid-cell">
          <div class="table">
            <div class="t-row">
              <div class="t-cell date-cell">
                <span class="transaction-date">ნოვ. 01 / 2018</span>
              </div>
              <div class="t-cell description-cell">
                  <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
              </div>
            </div>
          </div>
        </div>
        <div class="t-cell amount-cell">
            <span class="transaction-amount">-25.00 GEL</span>
        </div>
        <div class="t-cell arrow-cell">
            <i class="icon i-arrow"></i>
        </div>
      </li>
      <li class="t-row">
        <div class="t-cell status-cell">
          <i class="icon i-sm i-status-1"></i>
        </div>
        <div class="t-cell fluid-cell">
          <div class="table">
            <div class="t-row">
              <div class="t-cell date-cell">
                <span class="transaction-date">ნოვ. 01 / 2018</span>
              </div>
              <div class="t-cell description-cell">
                  <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
              </div>
            </div>
          </div>
        </div>
        <div class="t-cell amount-cell">
            <span class="transaction-amount">-25.00 GEL</span>
        </div>
        <div class="t-cell arrow-cell">
            <i class="icon i-arrow"></i>
        </div>
      </li>
      <li class="t-row">
        <div class="t-cell status-cell">
          <i class="icon i-sm i-status-3"></i>
        </div>
        <div class="t-cell fluid-cell">
          <div class="table">
            <div class="t-row">
              <div class="t-cell date-cell">
                <span class="transaction-date">ნოვ. 01 / 2018</span>
              </div>
              <div class="t-cell description-cell">
                  <span class="transaction-description">Kazt-GAS; 23224566; CODE2333 Kazt-GAS; 23224566; CODE2333</span>
              </div>
            </div>
          </div>
        </div>
        <div class="t-cell amount-cell">
            <span class="transaction-amount color-green">4525.00 GEL</span>
        </div>
        <div class="t-cell arrow-cell">
            <i class="icon i-arrow"></i>
        </div>
      </li>
      <li class="t-row">
        <div class="t-cell status-cell">
          <i class="icon i-sm i-status-4"></i>
        </div>
        <div class="t-cell fluid-cell">
          <div class="table">
            <div class="t-row">
              <div class="t-cell date-cell">
                <span class="transaction-date">ნოვ. 01 / 2018</span>
              </div>
              <div class="t-cell description-cell">
                  <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
              </div>
            </div>
          </div>
        </div>
        <div class="t-cell amount-cell">
            <span class="transaction-amount color-red">-25.00 GEL</span>
        </div>
        <div class="t-cell arrow-cell">
            <i class="icon i-arrow"></i>
        </div>
      </li>
    </ul>
</div>