<div class="accounts-list">
    <ul class="table">
        <li class="t-row t-head">
            <div class="t-cell card-cell">&nbsp;</div>
            <div class="t-cell"><span>მომდევნო გადახდა</span></div>
            <div class="t-cell"><span>დარჩენილი გადახდები</span></div>
            <div class="t-cell"><span>დასრულების თარიღი</span></div>
            <div class="t-cell amount-cell"><span>ნაშთი</span></div>
            <div class="t-cell arrow-cell">&nbsp;</div>
        </li>
        <li class="t-row">
            <div class="t-cell card-cell">
                <div>
                    <figure><img src="/assets/images/0/card1.png" alt="card 1"></figure>
                    <div>
                        <span class="name">VISA GOLD - პერსონალური ბარათი</span>
                        <span class="description">GE3434TT23100123332865</span>
                    </div>
                    <a class="share-btn" href="#"><i class="icon i-share"></i></a>
                </div>
            </div>
            <div class="t-cell">
                <div class="cell-name">მომდევნო გადახდა</div>
                <span>235.00 GEL</span><br>
                <span>02.12.2019</span>
            </div>
            <div class="t-cell">
                <div class="cell-name">დარჩენილი გადახდები</div>
                <span>11 Left</span>
            </div>
            <div class="t-cell">
                <div class="cell-name">სესხის დასრულების თარიღი</div>
                <span>19.02.2019</span>
            </div>
            
            <div class="t-cell amount-cell">
                <div class="cell-name">ნაშთი</div>
                <span class="amount">223.00 GEL</span>
            </div>
            
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow--blue"></i>
            </div>
        </li>
    </ul>
</div>