@import "../../../../assets/scss/style.scss";

.accounts-list{
	.card-cell{
		width: 40%;
		max-width: 250px;
	}
    .t-cell:nth-child(2),
    .t-cell:nth-child(3),
    .t-cell:nth-child(4){
        width: 20%;
		
		@media (min-width: $xl + 1){
			&{
				padding-left: 44px;
			}
		}
	}

	@media (max-width: $xl){
		&{
			.card-cell{
				width: 25%;
			}
			.t-cell:nth-child(2),
			.t-cell:nth-child(3),
			.t-cell:nth-child(4){
				width: 25%;
			}
		}
	}
	@media (max-width: $md){
		&{
			.card-cell{
				width: 100%;
			}
			.t-cell:nth-child(2),
			.t-cell:nth-child(3),
			.t-cell:nth-child(4){
				width: 50%;
			}
		}
	}
}