<app-dropdown [disabled]="disabled">
  <div selected class="selected">
    <h2>{{selectedDateRange?.label}}</h2>
  </div>

  <div list>
    <li *ngFor="let item of options" (click)="select(item)">
      {{item.label}}
    </li>
  </div>
</app-dropdown>

<app-modal *ngIf="showDatePickerModal" (closeModal)="closeDatePickerModal($event)">
  <app-date-picker (selectDates)="selectDates($event)"></app-date-picker>
</app-modal>