<header class="credo-header">
  <a class="credo-logo"><img src="assets/images/logo.svg" class="Credo logo"></a>
  <div>
    <a class="user-wrap" href="#">
      <span class="avatar" style="background-image: url('assets/images/0/avatar.jpg')"></span>
      <div>
        <span>გამარჯობა,</span>
        <b>Toshi Mamrikishvili</b>
      </div>
    </a>
    <div class="btn-wrap">
        <button class="btn btn-circle btn-outline-secondary">
          <i class="icon i-message"></i>
          <span class="badge">5</span>
        </button>
        <a class="btn btn-circle btn-outline-secondary" href="#"><i class="icon i-cog"></i></a>
        <a class="btn btn-circle btn-outline-secondary" href="#"><i class="icon i-logout"></i></a>
    </div>
    <div class="lang-wrap">
      <a class="btn btn-outline-secondary" href="#"><i class="icon i-flag-en"></i><span>ENG</span></a>
    </div>
    <button class="hamburger"><span></span></button> <!-- active -->
  </div>
</header>
