<div class="card tranfer-widget">
    <div class="card-header">
        <button class="selected">
            <i class="icon i-lg i-transfer"></i>
            <span>გადარიცხვა</span>
        </button>
        <button>
            <i class="icon i-lg i-bill"></i>
            <span>კომუნალური გადახდები</span>
        </button>
        <button>
            <i class="icon i-lg i-receive-money"></i>
            <span>ფულადი გზავნილები</span>
        </button>
        <button>
            <i class="icon i-lg i-topup-mobile"></i>
            <span>მობილურის შევსება</span>
        </button>
        <button>
            <i class="icon i-lg i-pencil"></i>
            <span>სესხის განაცხადი</span>
        </button>
    </div>
    <div class="card-body">
        <div class="card-block" data-tab="transfer">
            <div class="card-row">
                <app-account-select></app-account-select>
            </div>
    
            <div class="card-row">
                <input type="text" class="form-input" placeholder="Receiver Account">
            </div>
    
            <div class="card-row">
                <input type="text" class="form-input" placeholder="Purpose">
            </div>
    
            <div class="row-sm card-row">
                <div class="col amount-wrap">
                    <div>
                        <input class="form-input" type="text" placeholder="0.00">
                        <span class="symbol">₾</span>
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-secondary btn-link">Send</button>
                </div>
            </div>
        </div>
        <div class="card-block hidden" data-tab="bill">
            <div class="card-row">
                <app-account-select></app-account-select>
            </div>
    
            <div class="card-row">
                <input type="text" class="form-input" value="Bill Account">
            </div>
    
            <div class="row-sm card-row">
                <div class="col amount-wrap">
                    <div>
                        <input class="form-input" type="text" placeholder="0.00">
                        <span class="symbol">₾</span>
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-secondary btn-link">Send</button>
                </div>
            </div>
        </div>
        <div class="card-block hidden" data-tab="receive-money">
            <div class="card-row">
                <input type="text" class="form-input" value="Choose Company">
            </div>
    
            <div class="card-row">
                <input type="text" class="form-input" value="Transaction ID">
            </div>
    
            <div class="row-sm card-row">
                <div class="col amount-wrap">
                    <div>
                        <input class="form-input" type="text" placeholder="0.00">
                        <span class="symbol">₾</span>
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-input" value="Currency">
                </div>
            </div>

            <div class="card-row">
                <app-account-select></app-account-select>
            </div>

            <div class="card-row">
                <button class="btn btn-secondary btn-link">Receive Money</button>
            </div>
        </div>
        <div class="card-block hidden" data-tab="topup-mobile">
            <div class="card-row">
                <app-account-select></app-account-select>
            </div>
    
            <div class="card-row">
                <input type="text" class="form-input" value="Phone Number">
            </div>
    
            <div class="row-sm card-row">
                <div class="col amount-wrap">
                    <div>
                        <input class="form-input" type="text" placeholder="0.00">
                        <span class="symbol">₾</span>
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-secondary btn-link">Top-up</button>
                </div>
            </div>
        </div>

        <div class="hidden" data-tab="loan-Statement">
            <div class="card-block">
                asdasdasd
            </div>

            <div class="card-block loan-info">
                <div class="row-sm">
                    <div class="col-50 item">
                        <div>
                            <span>Pay Monthly</span>
                            <b>150.00 ₾</b>
                        </div>
                    </div>
                    <div class="col-50 item">
                        <div>
                            <span>Percent</span>
                            <b>47.41%</b>
                        </div>
                    </div>
                    <div class="col-50 item">
                        <div>
                            <span>Grace Period</span>
                            <b>150.00 ₾</b>
                        </div>
                        <i class="icon-circle i-lg i-question"></i>
                    </div>
                    <div class="col-50 item">
                        <div>
                            <span>Percent for Grace Period</span>
                            <b>44.41%</b>
                        </div>
                    </div>
                    <div class="col-50 item">
                        <div>
                            <span>Effective interest rate</span>
                            <b>160.00 ₾</b>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card-block">
                <button class="btn btn-secondary btn-link">Apply</button>
            </div>
        </div>
    </div>
</div>
