@import "../../../assets/scss/style.scss";

.tranfer-widget{
    .card-header{
        align-items: flex-start;
        height: auto;
        background-color: $color-red;
        border: 0;
        padding: 10px 10px 0;

        @media (max-width: $lg) {
            &{
                padding: 10px 2px 0;
            }
        }

        button{
            @include reset-button;
            width: 20%;
            height: 90px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            color: $color-white;
            font-size: 10px;
            font-weight: 500;
            line-height: 1.4;
            text-align: center;

            &:hover{
                opacity: 0.8;
            }

            span{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                word-spacing: 200px;
            }
            .icon{
                display: block;
                margin: 6px auto 8px;
            }

            .i-transfer::before{
                background-image: url("src/assets/images/icons/transfer_white.svg");
            }
            .i-bill::before{
                background-image: url("src/assets/images/icons/bill_white.svg");
            }
            .i-receive-money::before{
                background-image: url("src/assets/images/icons/receive_money_white.svg");
            }
            .i-topup-mobile::before{
                background-image: url("src/assets/images/icons/topup_mobile_white.svg");
            }
            .i-pencil::before{
                background-image: url("src/assets/images/icons/pencil_white.svg");
            }
            &.selected{
                background-color: $color-white;
                color: $color-red;

                .i-transfer::before{
                    background-image: url("src/assets/images/icons/transfer_red.svg");
                }
                .i-bill::before{
                    background-image: url("src/assets/images/icons/bill_red.svg");
                }
                .i-receive-money::before{
                    background-image: url("src/assets/images/icons/receive_money_red.svg");
                }
                .i-topup-mobile::before{
                    background-image: url("src/assets/images/icons/topup_mobile_red.svg");
                }
                .i-pencil::before{
                    background-image: url("src/assets/images/icons/pencil_red.svg");
                }
            }

            @media (max-width: $xs) {
                &{
                    height: 60px;
                    span{
                        display: none;
                    }
                    .icon{
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .card-body{
        
        .btn{
            display: block;
            width: 100%;
        }

        .amount-wrap{
            max-width: 138px;

            > div{
                position: relative;
                text-align: right;
            }

            .form-input{
                background-color: transparent;
                padding-left: 16px;
                padding-right: 28px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                font-size: 14px;
                
                &::-webkit-input-placeholder {
                    color: inherit;
                    opacity: 0.4;
                }
                &::-moz-placeholder {
                    color: inherit;
                    opacity: 0.4;
                }
                &:-ms-input-placeholder {
                    color: inherit;
                    opacity: 0.4;
                }
                &::-ms-input-placeholder {
                    color: inherit;
                    opacity: 0.4;
                }
                &::placeholder {
                    color: inherit;
                    opacity: 0.4;
                }
            }
            .symbol{
                display: block;
                padding: 10px 16px 0;
                opacity: 0.4;

                font-size: 13px;
                color: $color-base;
                font-weight: 500;
                line-height: 22px;
            }
            .form-input:focus + .symbol,
            .form-input:not(:placeholder-shown) + .symbol {
                opacity: 1;
            }
        }

        .loan-info{
            background-color: lighten( $color-black, 98% );
            .row-sm{
                margin-bottom: -20px;
            }
            .item{
                display: flex;
                margin-bottom: 20px;

                > div{
                    span{
                        display: block;
                        color: rgba($color-base,0.6);
                        margin-bottom: 4px;
                    }
                    b{
                        display: block;
                        font-size: 16px;
                    }
                }

                > .icon-circle{
                    background-color: $color-white;
                    margin: 0 0 0 10px;
                }
            }
        }
    }
}