<app-header></app-header>

<div class="credo-main-container">
    <app-menu></app-menu>
    
    <div>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <app-tutorial-footer></app-tutorial-footer>
    </div>
</div>