<div class="credo-page">
  <main>

    <div class="card event-card">
      Calendar

      <div class="card-footer calendar-footer">
        <div class="card-block legend">
            <div class="row-sm">
                <div class="col-auto">
                    <span class="legend-label--blue">კომუნალური გადასახადები</span>
                </div>
                <div class="col-auto">
                    <span class="legend-label--red">Loan</span>
                </div>
                <div class="col-auto">
                    <span class="legend-label--green">შემოსავალი</span>
                </div>
                <div class="col-auto">
                    <span class="legend-label--outline-blue">Custom</span>
                </div>
            </div>
        </div>
        <div class="card-block">
          <button class="btn btn-primary btn-add add-event-btn">Add Event</button>
        </div>
      </div>
    </div>

    <div class="card event-card event-list-card">
      <div class="card-header">
        <div>
          <h1 class="card-title">All Events</h1>
          <button class="events-toggle-btn"><i class="icon i-eye"></i></button>
        </div>
        <div class="controls">
            <button class="btn selected">All</button>
            <button class="btn">Loans</button>
            <button class="btn">Bills</button>
            <button class="btn">Incomes</button>
            <button class="btn">Custom</button>
        </div>
      </div>
      <div class="card-body">

        <div class="table">
          <div class="t-row">
            <div class="t-cell date-cell">
              <div>
                <i class="legend-icon--blue"></i>
                <div>
                    <span class="cell-name">Monday</span>
                    <span class="date">1st Nobember</span>
                </div>
              </div>
            </div>
            <div class="t-cell fluid-cell">
                <span class="cell-name">ღონისძიება</span>
                <b>Installment</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">დასრულების თარიღი</span>
                <b>01.11.2018</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">თანხა</span>
                <b>205 GEL</b>
            </div>
            <div class="t-cell action-btn-cell">
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
            </div>
          </div>

          <div class="t-row">
            <div class="t-cell date-cell">
              <div>
                <i class="legend-icon--green"></i>
                <div>
                    <span class="cell-name">Monday</span>
                    <span class="date">1st Nobember</span>
                </div>
              </div>
            </div>
            <div class="t-cell fluid-cell">
                <span class="cell-name">Event Title</span>
                <b>Installment</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">Due Date</span>
                <b>01.11.2018</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">Amount</span>
                <b>205 GEL</b>
            </div>
            <div class="t-cell action-btn-cell">
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
            </div>
          </div>

          <div class="t-row">
            <div class="t-cell date-cell">
              <div>
                <i class="legend-icon--outline-blue"></i>
                <div>
                    <span class="cell-name">Monday</span>
                    <span class="date">1st Nobember</span>
                </div>
              </div>
            </div>
            <div class="t-cell fluid-cell">
                <span class="cell-name">Loan Title</span>
                <b>Installment</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">დასრულების თარიღი</span>
                <b>01.11.2018</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">თანხა</span>
                <b>205 GEL</b>
            </div>
            <div class="t-cell action-btn-cell">
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
            </div>
          </div>

          <div class="t-row">
            <div class="t-cell date-cell">
              <div>
                <i class="legend-icon--red"></i>
                <div>
                    <span class="cell-name">ხუთშაბათი</span>
                    <span class="date">16 ოქტომბერი</span>
                </div>
              </div>
            </div>
            <div class="t-cell fluid-cell">
                <span class="cell-name">სესხი</span>
                <b>Installment Installment Installment Installment Installment Installment Installment InstallmentInstallmentInstallmentInstallment</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">დასრულების თარიღი</span>
                <b>01.11.2018</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">თანხა</span>
                <b>205 GEL</b>
            </div>
            <div class="t-cell action-btn-cell">
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="card event-card event-list-card">
      <div class="card-header">
        <div>
          <h1 class="card-title">All Events</h1>
          <button class="events-toggle-btn"><i class="icon i-eye"></i></button>
        </div>
        <div class="controls">
            <button class="btn selected">All</button>
            <button class="btn">Loans</button>
            <button class="btn">Bills</button>
            <button class="btn">Incomes</button>
            <button class="btn">Custom</button>
        </div>
      </div>
      <div class="card-body">

        <div class="table">
          <div class="t-row">
            <div class="t-cell date-cell">
              <div>
                <i class="legend-icon--blue"></i>
                <div>
                    <span class="cell-name">Monday</span>
                    <span class="date">1st Nobember</span>
                </div>
              </div>
            </div>
            <div class="t-cell fluid-cell">
                <span class="cell-name">Loan Title</span>
                <b>Installment</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">Due Date</span>
                <b>01.11.2018</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">Amount</span>
                <b>205 GEL</b>
            </div>
            <div class="t-cell action-btn-cell">
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
            </div>
          </div>

          <div class="t-row">
            <div class="t-cell date-cell">
              <div>
                <i class="legend-icon--green"></i>
                <div>
                    <span class="cell-name">Monday</span>
                    <span class="date">1st Nobember</span>
                </div>
              </div>
            </div>
            <div class="t-cell fluid-cell">
                <span class="cell-name">Event Title</span>
                <b>Installment</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">Due Date</span>
                <b>01.11.2018</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">Amount</span>
                <b>205 GEL</b>
            </div>
            <div class="t-cell action-btn-cell">
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
            </div>
          </div>

          <div class="t-row">
            <div class="t-cell date-cell">
              <div>
                <i class="legend-icon--outline-blue"></i>
                <div>
                    <span class="cell-name">Monday</span>
                    <span class="date">1st Nobember</span>
                </div>
              </div>
            </div>
            <div class="t-cell fluid-cell">
                <span class="cell-name">Loan Title</span>
                <b>Installment</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">Due Date</span>
                <b>01.11.2018</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">Amount</span>
                <b>205 GEL</b>
            </div>
            <div class="t-cell action-btn-cell">
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
            </div>
          </div>

          <div class="t-row">
            <div class="t-cell date-cell">
              <div>
                <i class="legend-icon--red"></i>
                <div>
                    <span class="cell-name">Monday</span>
                    <span class="date">1st Nobember</span>
                </div>
              </div>
            </div>
            <div class="t-cell fluid-cell">
                <span class="cell-name">Loan Title</span>
                <b>Installment Installment Installment Installment Installment Installment Installment InstallmentInstallmentInstallmentInstallment</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">Due Date</span>
                <b>01.11.2018</b>
            </div>
            <div class="t-cell">
                <span class="cell-name">Amount</span>
                <b>205 GEL</b>
            </div>
            <div class="t-cell action-btn-cell">
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
                <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="card event-card event-list-card">
        <div class="card-header">
          <div>
            <h1 class="card-title">All Events</h1>
            <button class="events-toggle-btn"><i class="icon i-eye2"></i></button>
          </div>
          <div class="controls hidden">
              <button class="btn selected">All</button>
              <button class="btn">Loans</button>
              <button class="btn">Bills</button>
              <button class="btn">Incomes</button>
              <button class="btn">Custom</button>
          </div>
        </div>
        <div class="card-body hidden">
  
          <div class="table">
            <div class="t-row">
              <div class="t-cell date-cell">
                <div>
                  <i class="legend-icon--blue"></i>
                  <div>
                      <span class="cell-name">Monday</span>
                      <span class="date">1st Nobember</span>
                  </div>
                </div>
              </div>
              <div class="t-cell fluid-cell">
                  <span class="cell-name">Loan Title</span>
                  <b>Installment</b>
              </div>
              <div class="t-cell">
                  <span class="cell-name">Due Date</span>
                  <b>01.11.2018</b>
              </div>
              <div class="t-cell">
                  <span class="cell-name">Amount</span>
                  <b>205 GEL</b>
              </div>
              <div class="t-cell action-btn-cell">
                  <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
                  <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
              </div>
            </div>
  
            <div class="t-row">
              <div class="t-cell date-cell">
                <div>
                  <i class="legend-icon--green"></i>
                  <div>
                      <span class="cell-name">Monday</span>
                      <span class="date">1st Nobember</span>
                  </div>
                </div>
              </div>
              <div class="t-cell fluid-cell">
                  <span class="cell-name">Loan Title</span>
                  <b>Installment</b>
              </div>
              <div class="t-cell">
                  <span class="cell-name">Due Date</span>
                  <b>01.11.2018</b>
              </div>
              <div class="t-cell">
                  <span class="cell-name">Amount</span>
                  <b>205 GEL</b>
              </div>
              <div class="t-cell action-btn-cell">
                  <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
                  <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
              </div>
            </div>
  
            <div class="t-row">
              <div class="t-cell date-cell">
                <div>
                  <i class="legend-icon--outline-blue"></i>
                  <div>
                      <span class="cell-name">Monday</span>
                      <span class="date">1st Nobember</span>
                  </div>
                </div>
              </div>
              <div class="t-cell fluid-cell">
                  <span class="cell-name">Loan Title</span>
                  <b>Installment</b>
              </div>
              <div class="t-cell">
                  <span class="cell-name">Due Date</span>
                  <b>01.11.2018</b>
              </div>
              <div class="t-cell">
                  <span class="cell-name">Amount</span>
                  <b>205 GEL</b>
              </div>
              <div class="t-cell action-btn-cell">
                  <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
                  <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
              </div>
            </div>
  
            <div class="t-row">
              <div class="t-cell date-cell">
                <div>
                  <i class="legend-icon--red"></i>
                  <div>
                      <span class="cell-name">Monday</span>
                      <span class="date">1st Nobember</span>
                  </div>
                </div>
              </div>
              <div class="t-cell fluid-cell">
                  <span class="cell-name">Loan Title</span>
                  <b>Installment</b>
              </div>
              <div class="t-cell">
                  <span class="cell-name">Due Date</span>
                  <b>01.11.2018</b>
              </div>
              <div class="t-cell">
                  <span class="cell-name">Amount</span>
                  <b>205 GEL</b>
              </div>
              <div class="t-cell action-btn-cell">
                  <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
                  <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
              </div>
            </div>
  
          </div>
  
        </div>
      </div>
  </main>
</div>