.modal-body {
    max-height: 94vw;
    overflow: auto;
    @media (min-width: 768px){
        width: 94vw;
    }
    @media (max-width: 767px){
        &{
            display: flex;
            flex-direction: column;
            height: 100%;
            max-height: 100%;
            max-width: 100% !important;
        }
    }
}

.title{
    font-weight: normal;
}
.text-color-light{
    opacity: 0.6;
}


/*--------- text ---------*/
.text-modal{
    max-width: 800px;
    padding: 30px;

    .text-wrap{
        opacity: 0.6;
    }

    .text-wrap + .btn{
        margin-top: 30px;
    }
}


/*--------- msg ---------*/
.msg-modal{
    max-width: 640px;
    padding: 50px 54px 40px;
    text-align: center;

    .link{
        font-size: 14px;
    }

    .title{
        margin: 0;
    }

    .text-wrap{
        margin-bottom: 15px;
        line-height: 1.5;

        .link{
            font-size: inherit;
        }
    }
   
    .title + .text-wrap{
        margin-top: 20px;
    }
    .title + .link{
        display: inline-block;
        margin-top: 30px;
    }
    .title + .date{
        display: block;
        margin:10px 0 30px;
        opacity: 0.6;
        font-size: 14px;
    }
    
    .content{
        .title:last-child,
        .text-wrap:last-child{
            margin-bottom: 40px;
        }
        .link:last-child{
            margin-bottom: 14px;
        }
    }

    .submit-btn{
        display: block;
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
    }

    @media (max-width: 767px){
        &{
            padding: 20px 15px;
            .content{
                margin: auto 0;
            }
            .submit-btn{
                max-width: 100%;
                margin-top: auto;
            }
        }
    }
}


/*--------- transactions ---------*/
.transactions-modal{
    max-width: 800px;
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;

    .card-block-header{
        height: auto;
        height: auto;
        padding-top: 16px;
        padding-bottom: 15px;
    }
    .card-block-title{
        font-size: 12px;
    }
    .card-block{
        width: 100%;
        border-bottom: 1px solid whitesmoke;
        overflow: hidden;
        
        .col-auto:first-child{
            min-width: 100px;
        }
        .account-col{
            max-width: 40%;
        }

        .name,
		.description{
			font-size: 12px;
			font-weight: 400;
			line-height: 1.4;
		}
		.name{
			display: block;
			margin-bottom: 5px;
			color: #acacac;
		}
		.description{
			display: flex;
			align-items: center;
			padding-top: 5px;
			color: #000;

			.icon{
                flex-shrink: 0;
				display: block;
				margin:0 10px 0 0;
			}
		}

		[class*=row]{
			margin-top: -10px;
			margin-bottom: -10px;
			> *{
				margin: 10px 0;
			}
		}
    }

    

    @media (max-width: 767px){
        &{
            padding: 0;

            .card-block{
                [class*=row]{
                    margin-left: -10px;
                    margin-right: -10px;
                    > *{
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
            .transaction-info .card-block .col-auto{
                flex-grow: 1;
            }

            .card-footer{
                .btn{
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 374px){
        .transaction-info .card-block .col-auto{
            min-width: 50%;
        }
    }
}


/*--------- send application ---------*/
.application-modal{
    max-width: 640px;
    padding: 50px 30px 40px;

    .title{
        text-align: center;
        margin-bottom: 30px;
    }

    .fieldset{
        width: 100%;
        max-width: 448px;
        margin: 0 auto 20px;
    }

    .submit-btn{
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    @media (max-width: 767px){
        &{
            padding: 40px 15px 20px;

            .fieldset{
                max-width: 100%;
            }

            .submit-btn{
                margin-top: auto;
            }
        }
    }
}


/*--------- transfer ---------*/
.transfer-modal{
    max-width: 640px;
    padding: 50px 54px 40px;
    text-align: center;

    .link{
        font-size: 14px;
    }    

    .text-wrap{
        margin-bottom: 15px;
        line-height: 1.5;
    }
   
    .title + .text-wrap{
        margin-top: 20px;
    }

    .fieldset{
        max-width: 484px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .content{
        .title:last-child,
        .text-wrap:last-child,
        .fieldset:last-child{
            margin-bottom: 30px;
        }
    }

    .i-copy--blue{
        margin-left: 10px;
        cursor: pointer;
        &::before{
            background-image: url("/assets/images/icons/copy_blue.svg");
        }
        &::after{
            content: "";
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: -10px;
            right: -10px;
        }
    }

    .form-input-with-label{
		.form-input-label{
			width: auto;
			opacity: 0.8;
			font-weight: normal;
		}

		.icon{
			flex-shrink: 0;
		}
    }

    .submit-btn{
        display: block;
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
    }

    @media (max-width: 767px){
        &{
            padding: 30px 15px 20px;
            .content{
                margin: auto 0;
            }
            .submit-btn{
                max-width: 100%;
                margin-top: auto;
            }
        }
    }
}


/*--------- choose account ---------*/
.account-modal{
    max-width: 640px;
    padding: 50px 30px 40px;

    .title{
        text-align: center;
        margin-bottom: 30px;
    }

    .fieldset{
        width: 100%;
        max-width: 340px;
        margin: 0 auto 25px;
    }

    .submit-btn{
        display: block;
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
    }

    @media (max-width: 767px){
        &{
            padding: 30px 15px 20px;
            .title{
                margin-bottom: 20px;
            }
            .fieldset{
                max-width: 100%;
            }
            .checkbox-wrap{
                display: flex;
                justify-content: center;
            }
            .submit-btn{
                margin-top: auto;
                max-width: 100%;
            }
        }
    }
}


/*--------- currency history ---------*/
.currency-history-modal{
    max-width: 828px;
    
    .head{
        display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid whitesmoke;
        padding: 20px 30px;
        
        .title{
            margin: 0 20px 0 0;
        }

        .controls{
            width: 100%;
            max-width: 610px;

            [class*=row]{
                align-items: center;
            }

            .legend-wrap{
                display: flex;
                margin-left: -10px;
                margin-right: -10px;

                .legend{
                    display: flex;
                    align-items: center;
                    padding: 0 10px;

                    span{
                        color: #7B7B7B;
                        font-size: 10px;
                        text-transform: uppercase;
                    }

                    [class*=i-bullet]{
                        width: 14px;
                        height: 14px;
                        border-width: 2px;
                    }
                }
            }
        }
    }

    @media (max-width: 1278px){
        &{
            .head{
                padding: 20px;
            }
        }
    }

    @media (max-width: 767px){
        &{
            .head{
                flex-wrap: wrap;
                padding: 20px 15px;

                .controls{
                    max-width: 100%;
                    padding-top: 20px;
                    margin-top: 20px;
                    &::before {
                        content: "";
                        height: 1px;
                        background-color: whitesmoke;
                        margin-top: -20px;
                        position: absolute;
                        left: 0;
                        right: 0;
                    }

                    .col{
                        min-width: 100%;
                        max-width: 100%;
                        margin-bottom: 10px;
                    }

                    .legend-wrap{
                        justify-content: center;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}


/*--------- event list ---------*/
.event-list-modal{
    max-width: 600px;

    .event-item{
        border-bottom: 1px solid whitesmoke;
        padding: 30px 30px 30px 60px;
        position: relative;
        font-size: 12px;

        &:last-child{
            border: 0;
        }

        .name{
            color: #8B8A8F;
        }

        .head{
            margin-bottom: 30px;

            [class*=row]{
                align-items: center;
            }
            .btn-col{
                margin-left: auto;
                .btn{
                    background-color: rgba(236, 236, 236, 0.2);
                    margin-right: 10px;
                    &:last-child{
                        margin: 0;
                    }
                }
            }
        }

        .body{
            .name{
                display: block;
                margin-bottom: 6px;
            }
            .description{
                display: block;
            }

            .date-wrap{
                display: flex;
                align-items: center;
                margin:0 0 30px -30px;

                > i{
                    margin-right: 20px;
                }
                .description{
                    font-size: 18px;
                    font-weight: normal;
                }
            }

            .info-wrap{
                .description{
                    max-width: 180px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .btn-col{
                    margin-left: auto;
                    .btn{
                        min-width: 82px;
                    }
                }
            }

        }        

    }

    
    @media (min-width: 768px){
        .event-item{
            .info-wrap{
                .btn{
                    height: 30px;
                    padding: 6px 12px;
                    font-size: 11px;
                    line-height: 1.4;
                }
            }
        }
    }
    @media (max-width: 767px){
        &{
            .event-item{
                padding: 30px 20px 30px 40px;
        
                .head{
                    margin-bottom: 15px;
        
                    [class*=row]{
                        align-items: flex-start;
                        > div{
                            margin-bottom: 15px;
                        }
                    }
                    .btn-col{
                        padding: 0;
                        margin: 0 !important;
                        position: absolute;
                        bottom: 35px;
                        right: 20px;
                    }
                }
        
                .body{
                    .date-wrap{
                        margin:0 0 30px -20px;
        
                        > i{
                            margin-right: 10px;
                        }
                    }
        
                    .info-wrap{
                        [class*=col-]{
                            margin-bottom: 30px;
                        }
                        .description{
                            max-width: 100%;
                        }
                        .btn-col{
                            margin: 0;
                            .btn{
                                width: 100%;
                                max-width: 150px;
                            }
                        }
                    }
        
                }        
        
            }
        }
    }
}


/*--------- landing ---------*/
.landing-modal{
    max-width: 766px;
    padding: 30px;

    .head{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        .title{
            font-size: 20px;
        }
    }

    .form-input,
    .form-input-with-label{
		height: 50px;
		border-radius: 25px;
	}

	.form-input-with-label{
		.form-input-label{
			width: auto;
			opacity: 0.8;
			font-weight: normal;
		}

		.icon{
			flex-shrink: 0;
			margin:0 8px 0 -5px;
			opacity: 0.6;
		}
    }
    
    .i-calendar::before{
		background-image: url("/assets/images/landing/icons/calendar.svg");
	}
	.i-home::before{
		background-image: url("/assets/images/landing/icons/home.svg");
	}
	.i-key::before{
		background-image: url("/assets/images/landing/icons/key.svg");
	}
	.i-mail::before{
		background-image: url("/assets/images/landing/icons/mail.svg");
	}
	.i-name::before{
		background-image: url("/assets/images/landing/icons/name.svg");
	}
	.i-pin::before{
		background-image: url("/assets/images/landing/icons/pin.svg");
	}
	.i-pin--white::before{
		background-image: url("/assets/images/landing/icons/pin_white.svg");
	}
	.i-mobile::before{
		background-image: url("/assets/images/landing/icons/phone.svg");
	}
	.i-surname::before{
		background-image: url("/assets/images/landing/icons/surname.svg");
	}
	.i-user::before{
		background-image: url("/assets/images/landing/icons/user.svg");
	}

    .btn-row{
        justify-content: flex-end;
        .btn{
            width: 100%;
            min-width: unset;
        }
    }
    @media (min-width: 768px){
        .mobile-error{
            display: none;
        }
    }
    @media (max-width: 767px){
        &{
            padding: 30px 15px 20px;

            .btn-row{
                align-items: flex-start;
                justify-content: flex-start;
                height: 100%;
                .submit-btn-col{
                    margin-top: auto;
                }
            }

            .desktop-error{
                display: none;
            }
            .mobile-error{
                font-size: 12px;
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }
}