<!-- example text -->
<app-modal *ngIf="false">
    <div class="modal-body text-modal">
      <h3 class="title">Security Terms & Services</h3>
      
      <div class="text-wrap">
        <p>
          Terms of Service; Didn't Read is a group effort that rates 67 companies' terms of service and privacy policies, though its site says 
          the ratings are "outdated".<br>
          [6] It also has browser add-ons that deliver the ratings while at the website of a rated company. Members of the group score 
          each clause in each terms of service document, 
          but "the same clause can have different scores depending on the context of the services it applies to.
        </p>
        <p>
          "[7] The Services tab lists companies in no apparent order, <br>
          with brief notes about significant clauses from each company. In particular, competitors are not listed together so that users can 
          compare them. A link gives longer notes.<br>
          It does not typically link to the exact wording from the company. The Topics tab lists topics (like "Personal Data" or "Guarantee"),
           with brief notes from some companies about aspects of the topic.
        </p>
        <p>  
          TOSBack.org, supported by the Electronic Frontier Foundation, lists changes in terms and policies sequentially, 10 per page, 
          for 160 pages, or nearly 1,600 changes, for "many online services".[8] There does not seem to be a way to find all changes 
          for a particular company, or even which companies were tracked in any time period. <br>
          It links to Terms of Service; Didn't Read, though that typically does not have any evaluation of the most recent changes listed at
           TOSBack.org.
        </p>
        <p>
          Terms of service are subject to change and vary from service to service, so several initiatives exist to increase public 
          awareness by clarifying such differences in terms, including:
        </p>
        <p>
          Availability of previous terms<br>
          Cancellation or termination of the account and/or service by user<br>
          Copyright licensing on user content<br>
          Data tracking policy and opt-out availability<br>
          Indemnification or compensation for claims against account or content<br>
          Notification and feedback prior to changes in Terms<br>
          Notification of government or third-party requests for personal data
        </p>        
      </div>
    </div>
  </app-modal>


<!-- example msg 1 -->
<app-modal *ngIf="false">
  <div class="modal-body msg-modal">
    <div class="content">
      <h3 class="title">Money transferred on your account successfully!</h3>
    </div>
    <button class="btn btn-primary submit-btn">OK</button>
  </div>
</app-modal>

<!-- example msg 2 -->
<app-modal *ngIf="false">
  <div class="modal-body msg-modal">
    <div class="content">
      <h3 class="title">Hello Diana</h3>

      <div class="text-wrap">
          <p class="text-18">
            We have received call request on number <b>+995 551 15 20 30</b>.<br>
            Our officer will contact you soon!
          </p>
          <p class="text-14 text-color-light">if you want to change contact number, please visit <a href="#" class="link">settings page</a></p>
      </div>
    </div>

    <button class="btn btn-primary submit-btn">OK</button>
  </div>
</app-modal>

<!-- example msg 3 -->
<app-modal *ngIf="false">
  <div class="modal-body msg-modal">
    <div class="content">
      <h3 class="title">Event Successfully Added!</h3>
      <a href="#" class="link">View Calendar</a>
    </div>
    <button class="btn btn-primary submit-btn">OK</button>
  </div>
</app-modal>

<!-- example msg 4 -->
<app-modal *ngIf="false">
    <div class="modal-body msg-modal">
      <div class="content">
        <h3 class="title">Hello Diana</h3>
        <span class="date">22.02.2019</span>
      </div>
      <button class="btn btn-primary submit-btn">OK</button>
    </div>
  </app-modal>


<!-- example transactions -->
<app-modal *ngIf="false">
    <div class="modal-body card transactions-modal">
        <div class="card-header">
            <h2 class="card-title">Transaction Details</h2>
        </div>
        <div class="card-body">
            <div class="transaction-info">
              <div class="card-block-header">
                <h4 class="card-block-title">Private Transfer</h4>
              </div>
              <div class="card-block bg-gray">
                  <div class="row-lg">
                    <div class="col-auto">
                      <span class="name">Status</span>
                      <span class="description">
                        <i class="icon i-sm i-status-3"></i>
                        Completed
                      </span>
                    </div>
                    <div class="col-auto">
                      <span class="name">Amount</span>
                      <span class="description color-green">+775.00 USD</span>
                    </div>
                    <div class="col-auto">
                      <span class="name">Tax</span>
                      <span class="description">$ 2.33</span>
                    </div>
                    <div class="col-auto">
                      <span class="name">Date</span>
                      <span class="description">22.02.2018</span>
                    </div>
                  </div>
              </div>
            </div>

            <div>
              <div class="card-block-header">
                <h4 class="card-block-title">Sender</h4>
              </div>
              <div class="card-block">
                  <div class="row-lg">
                    <div class="col-auto">
                      <span class="name">Bank</span>
                      <span class="description">TBC Bank</span>
                    </div>
                    <div class="col-auto account-col">
                      <span class="name">Account Number</span>
                      <span class="description">2332374893234 - Geno Ushikashvili</span>
                    </div>
                    <div class="col-auto">
                      <span class="name">Transfer Code</span>
                      <span class="description">2332374893</span>
                    </div>
                  </div>
              </div>
            </div>

            <div>
              <div class="card-block-header">
                <h4 class="card-block-title">Receiver</h4>
              </div>
              <div class="card-block">
                  <div class="row-lg">
                    <div class="col-auto">
                      <span class="name">Bank</span>
                      <span class="description">CREDO Bank</span>
                    </div>
                    <div class="col-auto account-col">
                      <span class="name">Account Number</span>
                      <span class="description">2332374893234 - Geno Ushikashvili</span>
                    </div>
                    <div class="col-auto">
                      <span class="name">Transfer Code</span>
                      <span class="description">2332374893</span>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <div class="card-footer bg-gray">
            <div class="row-sm btn-row">
              <div class="col-12 col-md-auto">
                <button class="btn btn-white btn-print">Print</button>
              </div>
              <div class="col-12 col-md-auto">
                <button class="btn btn-white btn-share">Share</button>
              </div>
            </div>
        </div>
    </div>
</app-modal>

<!-- example transfer -->
<!-- if true show -->
<app-modal *ngIf="false"> 
  <div class="modal-body transfer-modal">
    <div class="content">
      <h3 class="title">Money sent successfully!</h3>
      <div class="text-wrap">
        <p class="text-18 text-color-light">Your transaction ID</p>
      </div>
      
      <div class="fieldset">
        <div class="form-group">
          <label class="form-input-with-label">
            <span class="form-input-label">Transfer ID</span>
            <input type="text" value="12-3323-241233" readonly>
            <i class="icon i-copy--blue"></i>
          </label>
        </div>
      </div>

    </div>
    <button class="btn btn-primary submit-btn">OK</button>
  </div>
</app-modal>


<!-- example send application -->
<app-modal *ngIf="false"> 
  <div class="modal-body application-modal">

    <h3 class="title">Send Application</h3>

    <div class="fieldset">
      <div class="row-sm">
          <div class="col-12 col-sm-6 form-group">
              <input class="form-input disabled" type="text" placeholder="Ana">
          </div>
          <div class="col-12 col-sm-6 form-group">
              <input class="form-input disabled" type="text" placeholder="Gelashvili">
          </div>
          <div class="col-12 col-sm-6 form-group">
              <input class="form-input disabled" type="text" placeholder="3565030503">
          </div>
          <div class="col-12 col-sm-6 form-group">
              <input class="form-input disabled" type="text" placeholder="555 55 55 55">
          </div>

          <div class="col-12 form-group">
              <label class="form-input-with-label">
                <span class="form-input-label">Amount</span>
                <input value="00.00" type="text">
                <span>GEL</span>
              </label>
          </div>

          <div class="col-12 form-group">
              <label class="form-input-with-label">
                <span class="form-input-label">Date</span>
                <input type="text" value="12 April, 1999">
                <i class="icon i-calendar--blue"></i>
              </label>
          </div>

          <div class="col-md-12 form-group">
            <label class="checkbox">
              <input type="checkbox">
              <span>
                <span>I Agree on <a class="link" href="#">terms & conditions</a></span>
              </span>
            </label>
          </div>
      </div>
    </div>

    <button class="btn btn-primary btn-link submit-btn">Send</button>

  </div>
</app-modal>



<!-- example landing - Reset Password 1 -->
<app-modal *ngIf="false"> 
  <div class="modal-body landing-modal">
    <div class="head">
      <h3 class="title">Reset Password</h3>
      <p class="error-text desktop-error">Your provided ID or Phone Number is not correct!</p>
    </div>

    <div class="fieldset">
      <div class="row-sm">
        <div class="col-12 col-md-6 form-group">
            <label class="form-input-with-label has-error">
                <i class="icon i-lg i-user"></i>
                <span class="form-input-label">ID Number</span>
                <input type="text">
            </label>
          </div>
          <div class="col-12 col-md-6 form-group">
            <label class="form-input-with-label">
                <i class="icon i-lg i-mobile"></i>
                <span class="form-input-label">Phone Number *</span>
                <input type="text">
            </label>
          </div>
      </div>
    </div>

    <div class="row-sm btn-row">
      <div class="col-12 col-md-6 submit-btn-col">
          <p class="error-text mobile-error">Your provided ID or Phone Number is not correct!</p>
        <button class="btn btn-primary btn-lg">Get a Code</button>
      </div>
    </div>
  </div>
</app-modal>

<!-- example landing - Reset Password 2 -->
<app-modal *ngIf="false"> 
  <div class="modal-body landing-modal">
    <div class="head">
      <h3 class="title">Reset Password</h3>
      <p class="error-text desktop-error hidden">Your provided ID or Phone Number is not correct!</p>
    </div>

    <div class="fieldset">
      <div class="row-sm">
        <div class="col-12 col-md-6 form-group">
            <label class="form-input-with-label">
                <i class="icon i-lg i-user"></i>
                <span class="form-input-label">ID Number</span>
                <input type="text">
            </label>
          </div>
          <div class="col-12 col-md-6 form-group">
            <label class="form-input-with-label">
                <i class="icon i-lg i-mobile"></i>
                <span class="form-input-label">Phone Number *</span>
                <input type="text">
            </label>
          </div>
      </div>
    </div>

    <div class="row-sm btn-row">
      <div class="col-12 col-md-6">
          <div class="sms-wrap">
              <div class="form-input-with-label">
                  <span>SMS</span>
                  <input type="text" placeholder="0-0-0-0">
                  <button>
                    <i class="icon i-reload"></i>
                  </button>
              </div>
              <p>
                  <span>Code expires in</span>
                  <b>00:34 Sec</b>
              </p>
          </div>
      </div>
      <div class="col-12 col-md-6 submit-btn-col">
        <p class="error-text mobile-error hidden">Your provided ID or Phone Number is not correct!</p>
        <button class="btn btn-primary btn-lg">Accept</button>
      </div>
    </div>
  </div>
</app-modal>


<!-- example landing - Request a Call -->
<app-modal *ngIf="false"> 
  <div class="modal-body landing-modal">
    <div class="head">
      <h3 class="title">Request a Call</h3>
      <p class="error-text desktop-error hidden">Your provided ID or Phone Number is not correct!</p>
    </div>

    <div class="fieldset">
      <div class="row-sm">
        <div class="col-12 col-md-6 form-group">
            <label class="form-input-with-label">
                <i class="icon i-lg i-name"></i>
                <span class="form-input-label">Your Name</span>
                <input type="text">
            </label>
          </div>
          <div class="col-12 col-md-6 form-group">
            <label class="form-input-with-label">
                <i class="icon i-lg i-mobile"></i>
                <span class="form-input-label">Phone Number *</span>
                <input type="text">
            </label>
          </div>
      </div>
    </div>

    <div class="row-sm btn-row">
      <div class="col-12 col-md-6 submit-btn-col">
        <p class="error-text mobile-error hidden">Your provided ID or Phone Number is not correct!</p>
        <button class="btn btn-primary btn-lg">Request</button>
      </div>
    </div>
  </div>
</app-modal>


<!-- example Choose an Account -->
<app-modal *ngIf="false"> 
  <div class="modal-body account-modal">

    <h3 class="title">Choose an Account</h3>

    <div class="fieldset">

      <div class="form-group">
          <input class="form-input" placeholder="GE3434TT23100123332865" type="text">
      </div>

      <div class="form-group checkbox-wrap">
        <label class="checkbox">
          <input type="checkbox">
          <span>
            <span>I Agree on <a class="link" href="#">terms & conditions</a></span>
          </span>
        </label>
      </div>
    </div>

    <button class="btn btn-primary submit-btn">OK</button>

  </div>
</app-modal>


<!-- example currency history -->
<app-modal *ngIf="false"> 
  <div class="modal-body currency-history-modal">
    <div class="head">
        <h3 class="title title-sm">History</h3>
        <div class="controls">
          <div class="row-sm">
            <div class="col">
                <input type="text" class="form-input input-sm calendar-input" placeholder="Calendar">
            </div>
            <div class="col">
                <input type="text" class="form-input input-sm" placeholder="3 Months">
            </div>
            <div class="col-12 col-md-auto">
                <div class="legend-wrap">
                    <div class="legend">
                      <i class="i-bullet--blue"></i>
                      <span>USD</span>
                    </div>
                    <div class="legend">
                      <i class="i-bullet--red"></i>
                      <span>GBP</span>
                    </div>
                    <div class="legend">
                      <i class="i-bullet--outline-orange"></i>
                      <span>EUR</span>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="body">
      Calendar
    </div>
  </div>
</app-modal>

<!-- example event list -->
<app-modal *ngIf="true"> 
  <div class="modal-body event-card event-list-modal">
      <div class="event-item">
        <div class="head">
          <div class="row-sm">
            <div class="col-auto">
              <span class="name">Repeat </span><b class="description">Every Month</b>
            </div>
            <div class="col-auto">
              <span class="name">Period April 2018 - </span><b class="description">April 2019</b>
            </div>
  
            <div class="col-auto btn-col">
              <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
              <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
            </div>
  
          </div>
        </div>
        <div class="body">
          <div class="date-wrap">
            <i class="legend-icon--red"></i>
            <div>
                <span class="name">Monday</span>
                <b class="description">1st Nobember</b>
            </div>
          </div>

          <div class="info-wrap">
            <div class="row-lg">
              <div class="col-12 col-md-auto">
                <span class="name">Loan Title</span>
                <b class="description">Installment</b>
              </div>
              <div class="col-auto">
                <span class="name">Due Date</span>
                <b class="description">01.11.2018</b>
              </div>
              <div class="col-auto">
                <span class="name">Amount</span>
                <b class="description">205 GEL</b>
              </div>
              <div class="col-12 col-md-auto btn-col">
                <button class="btn btn-outline-green">View</button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="event-item">
        <div class="head">
          <div class="row-sm">
            <div class="col-auto">
              <span class="name">Repeat </span><b class="description">Every Month</b>
            </div>
            <div class="col-auto">
              <span class="name">Period April 2018 - </span><b class="description">April 2019</b>
            </div>
  
            <div class="col-auto btn-col">
              <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-pencil2--blue"></i></button>
              <button class="btn btn-circle btn-xs btn-outline-secondary"><i class="icon i-trash--blue"></i></button>
            </div>
  
          </div>
        </div>
        <div class="body">
          <div class="date-wrap">
            <i class="legend-icon--blue"></i>
            <div>
                <span class="name">Monday</span>
                <b class="description">1st Nobember</b>
            </div>
          </div>

          <div class="info-wrap">
            <div class="row-lg">
              <div class="col-12 col-md-auto">
                <span class="name">Loan Title</span>
                <b class="description">Installment</b>
              </div>
              <div class="col-auto">
                <span class="name">Due Date</span>
                <b class="description">01.11.2018</b>
              </div>
              <div class="col-auto">
                <span class="name">Amount</span>
                <b class="description">205 GEL</b>
              </div>
              <div class="col-12 col-md-auto btn-col">
                <button class="btn btn-outline-green">View</button>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>
</app-modal>