<div class="credo-page">
  <main>
    <div class="card transactions-card">
      <div class="card-header">
          <h1 class="card-title">ტრანზაქციები</h1>
          <div class="controls">
            <div class="row-sm">
              <div class="col">
                  <input type="text" class="form-input input-sm search-input" placeholder="Search keyword">
              </div>
              <div class="col">
                  <input type="text" class="form-input input-sm" placeholder="Choose an Account">
              </div>
              <div class="col">
                  <input type="text" class="form-input input-sm" placeholder="3 Months">
              </div>
              <div class="col">
                  <input type="text" class="form-input input-sm calendar-input" placeholder="Calendar">
              </div>
              <div class="col btn-wrap">
                  <button class="btn btn-sm btn-secondary"><span>Filter</span><i class="icon i-filter"></i></button>
              </div>
            </div>
          </div>
      </div>
      <div class="back-btn-wrap">
        <a href="#" class="back-btn">
          <span class="icon i-dropdown-arrow"></span> Go Back
        </a>
      </div>
      <div class="card-body">
        <div class="card-block-header">
          <h4 class="card-title">ბლოკირებული თახნები</h4>
        </div>
        <ul class="table transactions-list">
          <li class="t-row">
            <div class="t-cell status-cell">
              <i class="icon i-sm i-status-1"></i>
            </div>
            <div class="t-cell fluid-cell">
              <div class="table">
                <div class="t-row">
                  <div class="t-cell date-cell">
                    <span class="transaction-date">ნოვ. 01 / 2018</span>
                  </div>
                  <div class="t-cell description-cell">
                      <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                  </div>
                  <div class="t-cell category-cell">
                      <span class="transaction-category">Transfer to Someone</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="t-cell amount-cell">
                <span class="transaction-amount">-25.00 GEL</span>
            </div>
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow"></i>
            </div>
            <div class="t-cell more-options-cell">
                <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
            </div>
          </li>
        </ul>
        <div class="card-block-header">
          <h4 class="card-title">ტრანზაქციების ისტორია</h4>
        </div>
        <ul class="table transactions-list">
          <li class="t-row">
            <div class="t-cell status-cell">
              <i class="icon i-sm i-status-1"></i>
            </div>
            <div class="t-cell fluid-cell">
              <div class="table">
                <div class="t-row">
                  <div class="t-cell date-cell">
                    <span class="transaction-date">ნოვ. 01 / 2018</span>
                  </div>
                  <div class="t-cell description-cell">
                      <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                  </div>
                  <div class="t-cell category-cell">
                      <span class="transaction-category">Transfer to Someone</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="t-cell amount-cell">
                <span class="transaction-amount">-25.00 GEL</span>
            </div>
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow"></i>
            </div>
            <div class="t-cell more-options-cell">
                <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
            </div>
          </li>
          <li class="t-row">
            <div class="t-cell status-cell">
              <i class="icon i-sm i-status-2"></i>
            </div>
            <div class="t-cell fluid-cell">
              <div class="table">
                <div class="t-row">
                  <div class="t-cell date-cell">
                    <span class="transaction-date">ნოვ. 01 / 2018</span>
                  </div>
                  <div class="t-cell description-cell">
                      <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                  </div>
                  <div class="t-cell category-cell">
                      <span class="transaction-category">Transfer to Someone</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="t-cell amount-cell">
                <span class="transaction-amount">-25.00 GEL</span>
            </div>
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow"></i>
            </div>
            <div class="t-cell more-options-cell">
                <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
            </div>
          </li>
          <li class="t-row">
            <div class="t-cell status-cell">
              <i class="icon i-sm i-status-3"></i>
            </div>
            <div class="t-cell fluid-cell">
              <div class="table">
                <div class="t-row">
                  <div class="t-cell date-cell">
                    <span class="transaction-date">ნოვ. 01 / 2018</span>
                  </div>
                  <div class="t-cell description-cell">
                      <span class="transaction-description">Kazt-GAS; 23224566; CODE2333 Kazt-GAS; 23224566; CODE2333</span>
                  </div>
                  <div class="t-cell category-cell">
                      <span class="transaction-category">Transfer to Someone</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="t-cell amount-cell">
                <span class="transaction-amount color-green">4525.00 GEL</span>
            </div>
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow"></i>
            </div>
            <div class="t-cell more-options-cell">
                <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
            </div>
          </li>
          <li class="t-row">
            <div class="t-cell status-cell">
              <i class="icon i-sm i-status-4"></i>
            </div>
            <div class="t-cell fluid-cell">
              <div class="table">
                <div class="t-row">
                  <div class="t-cell date-cell">
                    <span class="transaction-date">ნოვ. 01 / 2018</span>
                  </div>
                  <div class="t-cell description-cell">
                      <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                  </div>
                  <div class="t-cell category-cell">
                      <span class="transaction-category">Transfer to Someone</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="t-cell amount-cell">
                <span class="transaction-amount color-red">-25.00 GEL</span>
            </div>
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow"></i>
            </div>
            <div class="t-cell more-options-cell">
                <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="card transactions-card">
      <div class="card-header">
          <h1 class="card-title">Export</h1>
          <div class="controls">
            <div class="row-sm">
              <div class="col">
                  <input type="text" class="form-input input-sm search-input" placeholder="Search keyword">
              </div>
              <div class="col">
                  <input type="text" class="form-input input-sm" placeholder="Choose an Account">
              </div>
              <div class="col">
                  <input type="text" class="form-input input-sm" placeholder="3 Months">
              </div>
              <div class="col">
                  <input type="text" class="form-input input-sm calendar-input" placeholder="Calendar">
              </div>
              <div class="col btn-wrap">
                  <button class="btn btn-sm btn-secondary"><span>Filter</span><i class="icon i-filter"></i></button>
              </div>
            </div>
          </div>
      </div>

      <div class="back-btn-wrap">
        <a href="#" class="back-btn">
          <span class="icon i-dropdown-arrow"></span> Go Back
        </a>
      </div>

      <div class="card-body">
        <div class="card-block-header">
          <h4 class="card-title">ბლოკირებული თახნები</h4>
        </div>
        <ul class="table transactions-list">
          <li class="t-row">
            <div class="t-cell status-cell">
              <i class="icon i-sm i-status-1"></i>
            </div>
            <div class="t-cell fluid-cell">
              <div class="table">
                <div class="t-row">
                  <div class="t-cell date-cell">
                    <span class="transaction-date">ნოვ. 01 / 2018</span>
                  </div>
                  <div class="t-cell description-cell">
                      <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                  </div>
                  <div class="t-cell category-cell">
                      <span class="transaction-category">Transfer to Someone</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="t-cell amount-cell">
                <span class="transaction-amount">-25.00 GEL</span>
            </div>
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow"></i>
            </div>
            <div class="t-cell more-options-cell">
                <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
            </div>
          </li>
        </ul>
        <div class="card-block-header">
          <h4 class="card-title">ტრანზაქციების ისტორია</h4>
        </div>
        <ul class="table transactions-list">
          <li class="t-row">
            <div class="t-cell status-cell">
              <i class="icon i-sm i-status-1"></i>
            </div>
            <div class="t-cell fluid-cell">
              <div class="table">
                <div class="t-row">
                  <div class="t-cell date-cell">
                    <span class="transaction-date">ნოვ. 01 / 2018</span>
                  </div>
                  <div class="t-cell description-cell">
                      <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                  </div>
                  <div class="t-cell category-cell">
                      <span class="transaction-category">Transfer to Someone</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="t-cell amount-cell">
                <span class="transaction-amount">-25.00 GEL</span>
            </div>
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow"></i>
            </div>
            <div class="t-cell more-options-cell">
                <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
            </div>
          </li>
          <li class="t-row">
            <div class="t-cell status-cell">
              <i class="icon i-sm i-status-2"></i>
            </div>
            <div class="t-cell fluid-cell">
              <div class="table">
                <div class="t-row">
                  <div class="t-cell date-cell">
                    <span class="transaction-date">ნოვ. 01 / 2018</span>
                  </div>
                  <div class="t-cell description-cell">
                      <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                  </div>
                  <div class="t-cell category-cell">
                      <span class="transaction-category">Transfer to Someone</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="t-cell amount-cell">
                <span class="transaction-amount">-25.00 GEL</span>
            </div>
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow"></i>
            </div>
            <div class="t-cell more-options-cell">
                <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
            </div>
          </li>
          <li class="t-row">
            <div class="t-cell status-cell">
              <i class="icon i-sm i-status-3"></i>
            </div>
            <div class="t-cell fluid-cell">
              <div class="table">
                <div class="t-row">
                  <div class="t-cell date-cell">
                    <span class="transaction-date">ნოვ. 01 / 2018</span>
                  </div>
                  <div class="t-cell description-cell">
                      <span class="transaction-description">Kazt-GAS; 23224566; CODE2333 Kazt-GAS; 23224566; CODE2333</span>
                  </div>
                  <div class="t-cell category-cell">
                      <span class="transaction-category">Transfer to Someone</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="t-cell amount-cell">
                <span class="transaction-amount color-green">4525.00 GEL</span>
            </div>
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow"></i>
            </div>
            <div class="t-cell more-options-cell">
                <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
            </div>
          </li>
          <li class="t-row">
            <div class="t-cell status-cell">
              <i class="icon i-sm i-status-4"></i>
            </div>
            <div class="t-cell fluid-cell">
              <div class="table">
                <div class="t-row">
                  <div class="t-cell date-cell">
                    <span class="transaction-date">ნოვ. 01 / 2018</span>
                  </div>
                  <div class="t-cell description-cell">
                      <span class="transaction-description">Kazt-GAS; 23224566; CODE2333</span>
                  </div>
                  <div class="t-cell category-cell">
                      <span class="transaction-category">Transfer to Someone</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="t-cell amount-cell">
                <span class="transaction-amount color-red">-25.00 GEL</span>
            </div>
            <div class="t-cell arrow-cell">
                <i class="icon i-arrow"></i>
            </div>
            <div class="t-cell more-options-cell">
                <button class="more-options-btn"><i class="icon i-ellipsis"></i></button>
            </div>
          </li>
        </ul>
      </div>
      
      <div class="card-footer">
        <div>
          <a class="btn btn-primary btn-download" href="#">Download</a>

          <div>
            <label class="radio">
              <input type="radio" name="export-input" checked>
              <span>PDF</span>
            </label>
            <label class="radio">
              <input type="radio" name="export-input">
              <span>XCL</span>
            </label>
          </div>

        </div>
        <a class="btn btn-secondary btn-print" href="#">Print</a>
      </div>
    </div>
  </main>
</div>
