@import "../../assets/scss/style.scss";


.transactions-card{
    .card-header{
        .card-title{
            margin-right: 30px;
        }
        .controls{
            width: 100%;
            max-width: 810px;

            .row-sm{
                justify-content: flex-end;
            }

            @media (min-width: $xl + 1){
                .btn-wrap{
                    max-width: 54px;
                }
                .btn{
                    padding: 0;
                    span{
                        display: none;
                    }
                    .icon{
                        opacity: 0.7;
                        margin: 0;
                        &::before{
                            background-image: url($i-filter);
                        }
                    }
                    &:hover {
                        .icon::before{
                            background-image: url($i-filter--white);
                        }
                    }
                }
                button.btn .icon{
                    margin-top: 5px;
                }
            }
            @media (max-width: $xl){
                .btn-wrap{
                    align-self: flex-end;
                }
                .btn{
                    width: 100%;
                    .icon{
                        display: none;
                    }
                }
            }
        }

        @media (max-width: $xl) {
            &{
                flex-wrap: wrap;

                .controls{
                    max-width: 100%;
                    padding-top: 20px;
                    margin-top: 20px + 48px;
                    &::before{
                        content: "";
                        height: 1px;
                        background-color: $border-color-base;
                        margin-top: -20px;
                        position: absolute;
                        left: 0;
                        right: 0;
                    }

                    .col{
                        min-width: 50%;
                        max-width: 50%;
                        &:not(.btn-wrap){
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        
        @media (max-width: $sm) {
            &{
                .controls{

                    .col{
                        min-width: 100%;
                        max-width: 100%;
                    }

                    .btn-wrap{
                        padding-top: 20px;
                        margin-top: 10px;
                        &::before{
                            content: "";
                            height: 1px;
                            background-color: $border-color-base;
                            margin-top: -20px;
                            position: absolute;
                            left: 0;
                            right: 0;
                        }
                    }
                    
                }
            }
        }
    }

    @media (max-width: $xl){
        .back-btn-wrap{
            width: 100%;
            border-top: 1px solid $border-color-base;
            border-bottom: 0;
            position: absolute;
            top: 55px;
            left: 0;
            z-index: 2;
        }
    }

    .card-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $bg-gray;
        > div{
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding-right: 20px;

            .radio{
                margin-left: 20px;
            }
        }

        @media (min-width: $md + 1) {
            & .btn{
                width: 232px;
            }
        }
        @media (max-width: $md) {
            & .btn{
                width: 200px;
            }
        }
        @media (max-width: $sm) {
            &{
                flex-wrap: wrap;
                .btn{
                    width: 100%;
                    margin-top: 10px;
                }
                > div{
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    padding: 0;

                    .btn{
                        order: 1;
                    }
                    .radio{
                        margin:0 10px 10px;
                    }
                }
            }
        }

    }
}