<div class="credo-page">

    <main>
        <app-products></app-products>

        <app-transaction-list></app-transaction-list>
        
        <app-ads></app-ads>
    </main>

    <aside>
        <div>
            <app-transfer-box></app-transfer-box>
        </div>

        <div>
            <app-ads-right></app-ads-right>

            <app-exchange-box></app-exchange-box>
        </div>
    </aside>

</div>