@import "../../assets/scss/style.scss";

@media (min-width: $lg + 1) and (max-width: $xl) {
    aside{
        display: flex;

        > div{
            width: 50%;
            &:last-child{
                padding-left: 20px;
            }
        }
    }
}