<div class="nav-secondary">

    <ul>
      <li>
        <a href="#" class="active">All</a>
      </li>
      <li>
        <a href="#">Loans</a>
      </li>
      <li>
        <a href="#">Installment</a>
      </li>
      <li>
        <a href="#">Cards</a>
      </li>
      <li>
        <a href="#">Incuraance</a>
      </li>
      <li>
        <a href="#">Deposit</a>
      </li>
      <li>
        <a href="#">Transfers</a>
      </li>
    </ul>

</div>