<div class="dropdown-container" [ngClass]="selectState">
  <div class="selected-wrapper" (click)="toggleState()" (clickOutside) = "close()">
    <ng-content select="[selected]"></ng-content>
  </div>

  <ul class="selection" *ngIf="selectState === 'open'">
    <ng-content select="[list]"></ng-content>
  </ul>
</div>