<div class="credo-page">
  <main>
    <div class="card">
      <div class="card-header">
          <h1 class="card-title">კომუნალური გადახდები</h1>
      </div>
      <div class="back-btn-wrap">
        <a href="#" class="back-btn">
          <span class="icon i-dropdown-arrow"></span> Go Back
        </a>
      </div>

      <div class="card-body">
        <div class="items-grid">
          <a class="grid-item grid-item-button">
            <i class="icon-circle i-plug"></i>
            <span class="name">Electricity</span>
          </a>
          <a class="grid-item grid-item-button">
            <i class="icon-circle i-fire"></i>
            <span class="name">Gase</span>
          </a>
          <a class="grid-item grid-item-button">
            <i class="icon-circle i-drop"></i>
            <span class="name">Wather</span>
          </a>
          <a class="grid-item grid-item-button" href="#">
            <i class="icon-circle i-broom"></i>
            <span class="name">Cleaning Service</span>
          </a>
          <a class="grid-item grid-item-button" href="#">
            <i class="icon-circle i-receive-money"></i>
            <span class="name">Money Transfersr</span>
          </a>

          <a class="grid-item grid-item-button">
            <i class="icon-circle i-wifi"></i>
            <span class="name">Internet</span>
          </a>
          <a class="grid-item grid-item-button">
            <i class="icon-circle i-monitor"></i>
            <span class="name">TV</span>
          </a>
          <a class="grid-item grid-item-button">
            <i class="icon-circle i-phone"></i>
            <span class="name">Phone</span>
          </a>
          <a class="grid-item grid-item-button">
            <i class="icon-circle i-umbrella"></i>
            <span class="name">Insurance</span>
          </a>
          <a class="grid-item grid-item-button">
            <i class="icon-circle i-layers"></i>
            <span class="name">Other</span>
          </a>
        </div>
      </div>

    </div>

    <div class="card">
      <div class="card-header">
          <h1 class="card-title">კომუნალური გადახდები</h1>
      </div>
      <div class="back-btn-wrap">
        <a href="#" class="back-btn">
          <span class="icon i-dropdown-arrow"></span> Go Back
        </a>
      </div>

      <div class="card-body">
        <div class="items-grid">
          <a class="grid-item grid-item-button item-with-logo">
            <span class="logo"><img src="../../../../assets/images/0/bills/01.png" /></span>
          </a>
          <a class="grid-item grid-item-button item-with-logo">
            <span class="logo"><img src="../../../../assets/images/0/bills/02.png" /></span>
          </a>
          <a class="grid-item grid-item-button item-with-logo">
            <span class="logo"><img src="../../../../assets/images/0/bills/03.png" /></span>
          </a>
        </div>
      </div>

    </div>
  </main>
</div>
