<div class="credo-page">
    <main>

        <div class="card">
            
            <div class="card-header">
                <h1 class="card-title">Offers</h1>
            </div>

            <app-offers-menu></app-offers-menu>

            <div class="card-body">
                <app-offer-list></app-offer-list>
            </div>

        </div>

    </main>
</div>