.selected {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 20px;

    h2 {
        display: flex;
        color: #3D3D3D;
        font-size: 12px;
        font-weight: normal;
        img{
            margin-right: 10px;
        }
    }
}

ul.selection {
    list-style-type: none;
    max-height: 104px;
    overflow-y: scroll;

    li {
        display: flex;
        padding: 10px 20px;
        color: #3D3D3D;
        font-size: 12px;
        border-bottom: 1px solid #7070701a;

        img{
            min-height: 12px;
            margin-right: 10px;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}