<app-dropdown [disabled] = "disabled">
  <div selected class="selected">
    <h2>
      <img *ngIf="selectedItem?.image" [src] = "selectedItem?.image"/>
      {{selectedItem?.label}}
    </h2>
  </div>

  <ul list class="selection">
    <li *ngFor="let item of options" (click) = "select(item)">
        <img *ngIf="item?.image" [src] = "item?.image"/>
        {{item.label}}
    </li>
  </ul>
</app-dropdown>