@import "../../assets/scss/style.scss";

.transfers-card{
    .card-header{
        .controls{
            .btn{
                width: 208px;
            }
        }
        @media (max-width: $md) {
            &{
                flex-wrap: wrap;

                .controls{
                    width: 100%;
                    padding-top: 20px;
                    margin-top: 20px;
                    &::before{
                        content: "";
                        height: 1px;
                        background-color: $border-color-base;
                        margin-top: -20px;
                        position: absolute;
                        left: 0;
                        right: 0;
                    }

                    .btn{
                        width: 100%;
                    }
                }
            }
        }
        
        @media (max-width: $sm) {
            &{
                .controls{
                    [class*=col]:not(:last-child){
                        margin-bottom: 15px;
                    }               
                }
            }
        }
    }
}

