<div class="credo-page">
  <main>
      <div class="card transfers-card">
        <div class="card-header">
            <h1 class="card-title">ტრანსფერები</h1>

            <div class="controls">
                <div class="row-sm">
                  <div class="col-12 col-sm-6 col-md-auto">
                      <button class="btn btn-sm btn-secondary">ჩემი შაბლონები</button>
                  </div>
                  <div class="col-12 col-sm-6 col-md-auto">
                      <button class="btn btn-sm btn-primary btn-add">შაბლონებში დამატება</button>
                  </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="items-grid">
              <div class="grid-item grid-item-button">
                <i class="icon-circle i-user"></i>
                <span class="name">გადარიცხვა საკუთარ ანგარიშზე</span>
              </div>
              <a class="grid-item grid-item-button">
                <i class="icon-circle i-users"></i>
                <span class="name">გადარიცხვა სხვის ანგარიშზე</span>
              </a>
              <a class="grid-item grid-item-button">
                <i class="icon-circle i-receive-money"></i>
                <span class="name">ფულადი გზავნილი</span>
              </a>
              <a class="grid-item grid-item-button" href="#">
                <i class="icon-circle i-bill"></i>
                <span class="name">კომუნალური გადახდები</span>
              </a>
              <a class="grid-item grid-item-button" href="#">
                <i class="icon-circle i-topup-mobile"></i>
                <span class="name">მობილურის შევსება</span>
              </a>
            </div>
        </div>
      </div>
  </main>
</div>

<div class="credo-page">
    <main>
        <div class="card transfers-card">
          <div class="card-header">
              <h1 class="card-title">Transfers</h1>
  
              <div class="controls">
                  <div class="row-sm">
                    <div class="col-12 col-sm-6 col-md-auto">
                        <button class="btn btn-sm btn-secondary">My Templates</button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-auto">
                        <button class="btn btn-sm btn-primary btn-add">Add New Template</button>
                    </div>
                  </div>
              </div>
  
          </div>
          <div class="card-body">
              <div class="items-grid">
                <div class="grid-item grid-item-button">
                  <i class="icon-circle i-user"></i>
                  <span class="name">Transer Between Personal Accounts</span>
                </div>
                <a class="grid-item grid-item-button">
                  <i class="icon-circle i-users"></i>
                  <span class="name">Transer to Someone</span>
                </a>
                <a class="grid-item grid-item-button">
                  <i class="icon-circle i-receive-money"></i>
                  <span class="name">Money Transfers</span>
                </a>
                <a class="grid-item grid-item-button" href="#">
                  <i class="icon-circle i-bill"></i>
                  <span class="name">Utility Bills</span>
                </a>
                <a class="grid-item grid-item-button" href="#">
                  <i class="icon-circle i-topup-mobile"></i>
                  <span class="name">Phone Number</span>
                </a>
              </div>
          </div>
        </div>
    </main>
  </div>