@import "../../../assets/scss/style.scss";

.card{
    overflow: hidden;

    .card-title{
        margin-bottom: 20px;
    }

    .container{
        width: 100%;
        max-width: 706px;
        margin: 0 auto;
    }

    .contact-info-container{
        background-color: $bg-gray--light;
        border-bottom: 1px solid $border-color-base;

        .row:not(:last-child){
            margin-bottom: 10px;
        }

        .info-item{
            margin-bottom:20px;

            > *{
                display: block;
                opacity: 0.8;
            }
            span{
                font-size: 12px;
                color: #AEAEAE;
                margin-bottom: 8px;
            }
            b{
                font-size: 14px;
                font-weight: normal;
            }
        }

        .sc-btn{
            display: flex;
            align-items: center;
            width: 100%;
            background-color: #fff;
            padding: 6px 30px 6px 10px;
            cursor: pointer;

            .icon-circle{
                width: 36px;
                height: 36px;
                background-color: $color-primary;
                border-color: $color-primary;
            }
            .i-pin--white::before{
                background-size: 20px 20px;
            }
            .i-phone2--white::before{
                background-size: 16px 16px;
            }

            span{
                margin: 3px 0 0 12px;
            }

            &:hover{
                background-color: $color-primary;
            }
        }
    }

    .submit-btn{
        display: block;
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
    }

    @media (max-width: $md){
        &{
            .contact-info-container{
                [class*=col] + [class*=col] .sc-btn{
                    margin-top: 20px;
                }
            }
            .submit-btn{
                max-width: 100%;
            }
        }
    }
}