<section class="card">
    <div class="card-block contact-info-container">
        <h2 class="card-title">Contact Us</h2>

        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 col-md-3">
                    <div class="info-item">
                        <span>HeadQuarter Address</span>
                        <b>Rustaveli Avenue #1</b>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-3">
                    <div class="info-item">
                        <span>E-mail</span>
                        <b>credo@credo.ge</b>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-md-3">
                    <div class="info-item">
                        <span>Phone</span>
                        <b>+(322) 2323 23</b>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-md-6">
                    <a class="btn btn-outline-primary btn-lg btn-link sc-btn">
                        <i class="icon-circle i-pin--white"></i>
                        <span>Service Centers</span>
                    </a>
                </div>
                <div class="col-12 col-md-6">
                    <a class="btn btn-outline-primary btn-lg btn-link sc-btn">
                        <i class="icon-circle i-phone2--white"></i>
                        <span>Request a Call</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="container fieldset">
          <div class="row-sm">
              <div class="col-12 col-md-6 form-group">
                  <label class="form-input-with-label">
                      <i class="icon i-lg i-name"></i>
                      <span class="form-input-label">Name</span>
                      <input type="text">
                  </label>
              </div>
              <div class="col-12 col-md-6 form-group">
                  <label class="form-input-with-label">
                      <i class="icon i-lg i-mail"></i>
                      <span class="form-input-label">E-mail</span>
                      <input type="text">
                  </label>
              </div>
              <div class="col-12 form-group">
                  <textarea class="form-input" rows="6" placeholder="Your Message"></textarea>
              </div>
          </div>
          <button class="btn btn-lg btn-primary submit-btn">Send</button>
        </div>

    </div>
</section>
