@import "../../../assets/scss/style.scss";

.card{
    .card-title{
        margin-bottom: 30px;
    }
    .container{
        width: 100%;
        max-width: 706px;
        margin: 0 auto;
    }

    .card-footer{
        background-color: $color-red;

        .container{
            .row{
                align-items: center;
            }
        }

        .back-btn{
            cursor: pointer;
            opacity: 1;
            .icon{
                transform: rotate(180deg);
            }
            span{
                color: $color-white;
                font-size: 14px;
                text-decoration: underline;
                margin-left: 10px;
            }
            &:hover{
                span{
                    text-decoration: none;
                }
            }
        }
        .submit-btn{
            width: 100%;
            background-color: rgba(255,255,255,0.2);
            padding-left: 20px;
            padding-right: 20px;
            color: $color-white;

            &:hover{
                background-color: $color-white;
                color: $color-red;
            }
        }
    }
}