<section class="card">
    <div class="card-block">
        <h2 class="card-title">Register on Internet Bank</h2>

        <div class="container fieldset">
          <div class="row-sm">
              <div class="col-12 col-md-6 form-group has-error">
                  <label class="form-input-with-label">
                      <i class="icon i-lg i-user"></i>
                      <span class="form-input-label">ID Number *</span>
                      <input type="text">
                  </label>
                  <p class="error-text">Your provided ID is not correct!</p>
              </div>
              <div class="col-12 col-md-6 form-group">
                  <label class="form-input-with-label has-error">
                      <i class="icon i-lg i-calendar"></i>
                      <span class="form-input-label">Date of Birth *</span>
                      <input type="text" placeholder="DD/MM/YY">
                  </label>
                  <p class="error-text">Your provided ID or Password is not correct!</p>
              </div>
              <div class="col-12 col-md-6 form-group">
                  <label class="form-input-with-label">
                      <i class="icon i-lg i-name"></i>
                      <span class="form-input-label">Your Name *</span>
                      <input type="text">
                  </label>
              </div>
              <div class="col-12 col-md-6 form-group">
                  <label class="form-input-with-label">
                      <i class="icon i-lg i-surname"></i>
                      <span class="form-input-label">Surname *</span>
                      <input type="text">
                  </label>
              </div>
              <div class="col-12 col-md-6 form-group">
                  <label class="form-input-with-label">
                      <i class="icon i-lg i-mobile"></i>
                      <span class="form-input-label">Phone Number *</span>
                      <input type="text">
                  </label>
              </div>
              <div class="col-12 col-md-6 form-group">
                  <label class="form-input-with-label">
                      <i class="icon i-lg i-pin"></i>
                      <span class="form-input-label">Service Center *</span>
                      <input type="text">
                  </label>
              </div>
              <div class="col-12 col-md-6 form-group">
                  <label class="form-input-with-label">
                      <i class="icon i-lg i-home"></i>
                      <span class="form-input-label">Address *</span>
                      <input type="text">
                  </label>
              </div>
              <div class="col-12 col-md-6 form-group">
                  <label class="form-input-with-label">
                      <i class="icon i-lg i-mail"></i>
                      <span class="form-input-label">E-mail</span>
                      <input type="text">
                  </label>
              </div>
              <div class="col-12 col-md-6 form-group">
                  <!-- <button class="btn btn-secondary btn-lg w-fluid">Get a Code</button> -->
                  <div class="sms-wrap">
                      <div class="form-input-with-label">
                          <span>SMS</span>
                          <input type="text" placeholder="0-0-0-0">
                          <button>
                            <i class="icon i-reload"></i>
                          </button>
                      </div>
                      <p>
                          <span>Code expires in</span>
                          <b>00:34 Sec</b>
                      </p>
                  </div>
              </div>
          </div>
          <label class="checkbox">
              <input type="checkbox">
              <span>Agree to terms & services</span>
          </label>
        </div>

    </div>

    <div class="card-footer">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <a class="icon-btn back-btn"><i class="icon i-arrow--white"></i><span>Back</span></a>
                </div>
                <div class="col">
                    <button class="btn btn-lg submit-btn">Register</button>
                </div>
            </div>
        </div>
    </div>
</section>
